In [1]:
import pandas as pd
import numpy as np

In [2]:
tdtypes = {'Store_Number':str,'Vendor_Number':str,'Item_Number':str, 'Category':str}

In [3]:
trans = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\transactions_2021.csv', dtype=tdtypes, index_col=0)

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
trans.head()

,Vendor_Number,Store_Number,Item_Number,Date,Bottle_Volume,Volume_Sold_Liters,Bottles_Sold,Sales,Bottle_Cost,Bottle_Retail,Category,trans_date,Pack
0,434,5417,36308,11/01/2021,1750,10.50,6,64.56,7.17,10.76,1031100,2021-11-01,6
1,065,4921,19061,11/01/2021,50,0.05,1,10.50,7.00,10.50,1011200,2021-11-01,12
2,260,5687,11296,11/01/2021,750,9.00,12,298.68,16.59,24.89,1012100,2021-11-01,12
3,434,2648,86250,11/01/2021,750,9.00,12,48.12,2.67,4.01,1081500,2021-11-01,12
4,205,4379,52596,11/01/2021,750,3.75,5,48.75,6.50,9.75,1051100,2021-11-01,12

In [5]:
trans.shape

(2622712, 13)

In [6]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622712 entries, 0 to 2622711
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   Vendor_Number       object
 1   Store_Number        object
 2   Item_Number         object
 3   Date                object
 4   Bottle_Volume       int64
 5   Volume_Sold_Liters  float64
 6   Bottles_Sold        int64
 7   Sales               float64
 8   Bottle_Cost         float64
 9   Bottle_Retail       float64
 10  Category            object
 11  trans_date          object
 12  Pack                int64
dtypes: float64(4), int64(3), object(6)
memory usage: 280.1+ MB

In [7]:
np.sum(trans['Category'].isna())

0

In [8]:
products = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\products_2021.csv',index_col=0,dtype={'Item_Number':str, 'Category':str})

In [9]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4472 entries, 237409 to 1094183
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_Number       4472 non-null   object
 1   Item_Description  4472 non-null   object
 2   Category          4472 non-null   object
dtypes: object(3)
memory usage: 139.8+ KB

In [10]:
categories = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\categories.csv',index_col=0,dtype={'Category':str})

In [11]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 390061 to 1094183
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           57 non-null     object
 1   Category_Name      57 non-null     object
 2   New_Category_Name  57 non-null     object
dtypes: object(3)
memory usage: 1.8+ KB

In [12]:
categories2 = categories[['Category', 'New_Category_Name']]

In [13]:

categories2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 390061 to 1094183
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           57 non-null     object
 1   New_Category_Name  57 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [14]:
categories.head(3)

,Category,Category_Name,New_Category_Name
390061,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages
2334587,1070000,Cocktails / RTD,Cocktails / RTD
2362487,1011000,American Whiskies,Whiskies

In [15]:
item_trans_category = categories.merge(trans, how='inner', on = ['Category'] )

item_trans_category
item_trans_category.shape

(2622712, 15)

In [16]:
item_trans_category = item_trans_category.merge(products, how='inner', on=['Item_Number','Category'])

In [17]:
pd.set_option('display.max_columns', None)
item_trans_category.head()

,Category,Category_Name,New_Category_Name,Vendor_Number,Store_Number,Item_Number,Date,Bottle_Volume,Volume_Sold_Liters,Bottles_Sold,Sales,Bottle_Cost,Bottle_Retail,trans_date,Pack,Item_Description
0,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,2714,63762,01/08/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-08,6,Tarantula Ready To Drink Blue Margarita
1,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,2538,63762,01/14/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-14,6,Tarantula Ready To Drink Blue Margarita
2,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,5665,63762,01/15/2021,1750,1.75,1,13.11,8.74,13.11,2021-01-15,6,Tarantula Ready To Drink Blue Margarita
3,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,2712,63762,01/15/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-15,6,Tarantula Ready To Drink Blue Margarita
4,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,3417,63762,01/25/2021,1750,3.50,2,26.22,8.74,13.11,2021-01-25,6,Tarantula Ready To Drink Blue Margarita

In [18]:
item_trans_category.shape

(2604721, 16)

In [19]:
item_trans_category.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2604721 entries, 0 to 2604720
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   Category            object
 1   Category_Name       object
 2   New_Category_Name   object
 3   Vendor_Number       object
 4   Store_Number        object
 5   Item_Number         object
 6   Date                object
 7   Bottle_Volume       int64
 8   Volume_Sold_Liters  float64
 9   Bottles_Sold        int64
 10  Sales               float64
 11  Bottle_Cost         float64
 12  Bottle_Retail       float64
 13  trans_date          object
 14  Pack                int64
 15  Item_Description    object
dtypes: float64(4), int64(3), object(9)
memory usage: 337.8+ MB

In [20]:
item_trans_category

,Category,Category_Name,New_Category_Name,Vendor_Number,Store_Number,Item_Number,Date,Bottle_Volume,Volume_Sold_Liters,Bottles_Sold,Sales,Bottle_Cost,Bottle_Retail,trans_date,Pack,Item_Description
0,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,2714,63762,01/08/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-08,6,Tarantula Ready To Drink Blue Margarita
1,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,2538,63762,01/14/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-14,6,Tarantula Ready To Drink Blue Margarita
2,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,5665,63762,01/15/2021,1750,1.75,1,13.11,8.74,13.11,2021-01-15,6,Tarantula Ready To Drink Blue Margarita
3,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,2712,63762,01/15/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-15,6,Tarantula Ready To Drink Blue Margarita
4,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages,300,3417,63762,01/25/2021,1750,3.50,2,26.22,8.74,13.11,2021-01-25,6,Tarantula Ready To Drink Blue Margarita
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604716,1031100,American Vodkas,Vodkas,566,2633,937468,06/24/2021,750,180.00,240,3600.00,10.00,15.00,2021-06-24,12,Peak Vodka
2604717,1031100,American Vodkas,Vodkas,300,3417,940118,05/03/2021,1750,52.50,30,306.60,6.81,10.22,2021-05-03,6,Deuces Wild Diluted Vodka
2604718,1031100,American Vodkas,Vodkas,322,2190,937147,05/03/2021,750,27.00,36,459.00,8.50,12.75,2021-05-03,12,Opulent Vodka
2604719,1031100,American Vodkas,Vodkas,055,6142,936981,06/08/2021,50,0.50,10,90.00,6.00,9.00,2021-06-08,10,99 Vodka Mini
2604720,1031100,American Vodkas,Vodkas,273,2647,937042,08/02/2021,50,0.05,1,45.00,30.00,45.00,2021-08-02,1,Ocean Organic Vodka Mini

In [33]:
mask = item_trans_category['Item_Number']  == '100413'
temp = item_trans_category[mask]
temp

,Category,Category_Name,New_Category_Name,Vendor_Number,Store_Number,Item_Number,Date,Bottle_Volume,Volume_Sold_Liters,Bottles_Sold,Sales,Bottle_Cost,Bottle_Retail,trans_date,Pack,Item_Description
2148032,1081600,Whiskey Liqueur,Liquers,421,5094,100413,11/01/2021,50,0.05,1,77.4,51.6,77.4,2021-11-01,1,Fireball Cinnamon Whiskey Party Bucket
2148033,1081600,Whiskey Liqueur,Liquers,421,5819,100413,11/01/2021,50,0.05,1,77.4,51.6,77.4,2021-11-01,1,Fireball Cinnamon Whiskey Party Bucket
2148034,1081600,Whiskey Liqueur,Liquers,421,5771,100413,11/02/2021,50,0.05,1,77.4,51.6,77.4,2021-11-02,1,Fireball Cinnamon Whiskey Party Bucket
2148035,1081600,Whiskey Liqueur,Liquers,421,5380,100413,11/02/2021,50,0.05,1,77.4,51.6,77.4,2021-11-02,1,Fireball Cinnamon Whiskey Party Bucket
2148036,1081600,Whiskey Liqueur,Liquers,421,3871,100413,11/01/2021,50,0.05,1,77.4,51.6,77.4,2021-11-01,1,Fireball Cinnamon Whiskey Party Bucket
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152669,1081600,Whiskey Liqueur,Liquers,421,6055,100413,10/29/2021,50,0.15,3,232.2,51.6,77.4,2021-10-29,1,Fireball Cinnamon Whiskey Party Bucket
2152670,1081600,Whiskey Liqueur,Liquers,421,6068,100413,10/29/2021,50,0.25,5,387.0,51.6,77.4,2021-10-29,1,Fireball Cinnamon Whiskey Party Bucket
2152671,1081600,Whiskey Liqueur,Liquers,421,3901,100413,10/29/2021,50,0.05,1,77.4,51.6,77.4,2021-10-29,1,Fireball Cinnamon Whiskey Party Bucket
2152672,1081600,Whiskey Liqueur,Liquers,421,5556,100413,10/29/2021,50,0.20,4,309.6,51.6,77.4,2021-10-29,1,Fireball Cinnamon Whiskey Party Bucket
2152673,1081600,Whiskey Liqueur,Liquers,421,2606,100413,10/29/2021,50,0.10,2,154.8,51.6,77.4,2021-10-29,1,Fireball Cinnamon Whiskey Party Bucket

In [37]:
from freq_pd import proc_freq
proc_freq(temp,'Bottles_Sold')

    Bottles_Sold  Frequency  Percent  Cumulative_Frequency  Cumulative_Percent
0              1       2407    51.85                  2407               51.85
1              2       1075    23.16                  3482               75.01
2              3        456     9.82                  3938               84.83
3              4        278     5.99                  4216               90.82
4              5        116     2.50                  4332               93.32
5              6        155     3.34                  4487               96.66
6              7         11     0.24                  4498               96.90
7              8         32     0.69                  4530               97.59
8              9          4     0.09                  4534               97.67
9             10         51     1.10                  4585               98.77
10            11          1     0.02                  4586               98.79
11            12         17     0.37                  4603               99.16
12            13          1     0.02                  4604               99.18
13            14          1     0.02                  4605               99.20
14            15          5     0.11                  4610               99.31
15            16          2     0.04                  4612               99.35
16            18          2     0.04                  4614               99.40
17            19          1     0.02                  4615               99.42
18            20         11     0.24                  4626               99.66
19            22          1     0.02                  4627               99.68
20            24          3     0.06                  4630               99.74
21            25          2     0.04                  4632               99.78
22            40          1     0.02                  4633               99.81
23            50          1     0.02                  4634               99.83
24           144          8     0.17                  4642              100.00

In [38]:
proc_freq(temp,'Bottles_Sold')
temp2 = item_trans_category.groupby(['Store_Number']).agg({'Item_Number':'count'}).reset_index()

     Store_Number  Item_Number
0            2106         3628
1            2130         3292
2            2178           38
3            2190        15636
4            2191         6446
...           ...          ...
1943         9042          117
1944         9046            4
1945         9047          121
1946         9048            6
1947         9049            3

[1948 rows x 2 columns]

In [ ]:
temp2[]

In [39]:
proc_freq(temp2,'Item_Number')

,Item_Number,Frequency,Percent,Cumulative_Frequency,Cumulative_Percent
0,1,1,0.05,1,0.05
1,3,1,0.05,2,0.10
2,4,1,0.05,3,0.15
3,5,1,0.05,4,0.21
4,6,1,0.05,5,0.26
...,...,...,...,...,...
1322,13463,1,0.05,1944,99.79
1323,14475,1,0.05,1945,99.85
1324,15636,1,0.05,1946,99.90
1325,18257,1,0.05,1947,99.95
1326,19027,1,0.05,1948,100.00

In [24]:
df_sum = item_trans_category.groupby(['Item_Number','Item_Description','Bottle_Volume','New_Category_Name']).agg({'Bottle_Retail':'mean','Bottles_Sold':'sum','Store_Number':'nunique', 'Sales':'sum'}).reset_index()

In [25]:
check = item_trans_category.groupby(['Item_Number','Item_Description','Bottle_Volume']).agg({'Bottle_Retail':'mean','Bottles_Sold':'sum','Store_Number':'nunique','Sales':'sum'}).reset_index()

In [26]:
check.shape

(4475, 7)

In [27]:
df_sum.shape

(4475, 8)

In [28]:
df_sum.shape

(4475, 8)

In [29]:
df_sum.head()

,Item_Number,Item_Description,Bottle_Volume,New_Category_Name,Bottle_Retail,Bottles_Sold,Store_Number,Sales
0,100015,Fireball Cinnamon Whiskey Bag in Box,3500,Liquers,45.00,1123,129,50535.00
1,10006,Scoresby Rare Scotch,750,Scotch,7.70,4619,197,35566.30
2,100077,Kraken Rum w/ Tiki Glass,750,Temporary & Specialty Packages,15.68,2679,136,42006.72
3,10008,Scoresby Rare Scotch,1750,Scotch,15.75,12340,287,194355.00
4,10009,Scoresby Rare Scotch,1000,Scotch,10.11,1722,70,17409.42

In [30]:
df_sum.to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\clustering_data_num_unique_stores.csv')

In [31]:
check = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\clustering_data_num_unique_stores.csv')

In [32]:
check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4475 entries, 0 to 4474
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4475 non-null   int64
 1   Item_Number        4475 non-null   int64
 2   Item_Description   4475 non-null   object
 3   Bottle_Volume      4475 non-null   int64
 4   New_Category_Name  4475 non-null   object
 5   Bottle_Retail      4475 non-null   float64
 6   Bottles_Sold       4475 non-null   int64
 7   Store_Number       4475 non-null   int64
 8   Sales              4475 non-null   float64
dtypes: float64(2), int64(5), object(2)
memory usage: 314.8+ KB