In [1]:
import pandas as pd
import numpy as np

In [2]:
tdtypes = {'Store_Number':str,'Vendor_Number':str,'Item_Number':str, 'Category':str}

In [4]:
trans = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\transactions_2021.csv', dtype=tdtypes, index_col=0)

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
products = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\products_2021.csv',index_col=0,dtype={'Item_Number':str, 'Category':str})

In [7]:
item_trans = trans.merge(products, how='inner', on= ['Category','Item_Number'])

In [8]:
item_trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2604721 entries, 0 to 2604720
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   Vendor_Number       object
 1   Store_Number        object
 2   Item_Number         object
 3   Date                object
 4   Bottle_Volume       int64
 5   Volume_Sold_Liters  float64
 6   Bottles_Sold        int64
 7   Sales               float64
 8   Bottle_Cost         float64
 9   Bottle_Retail       float64
 10  Category            object
 11  trans_date          object
 12  Item_Description    object
dtypes: float64(4), int64(2), object(7)
memory usage: 278.2+ MB

In [9]:
df_sum = item_trans.groupby(['Item_Number','Item_Description','Bottle_Volume']).agg({'Bottle_Retail':'mean','Bottles_Sold':'sum','Store_Number':'nunique'}).reset_index()

In [11]:
df_sum.head()

,Item_Number,Item_Description,Bottle_Volume,Bottle_Retail,Bottles_Sold,Store_Number
0,100015,Fireball Cinnamon Whiskey Bag in Box,3500,45.00,1123,129
1,10006,Scoresby Rare Scotch,750,7.70,4619,197
2,100077,Kraken Rum w/ Tiki Glass,750,15.68,2679,136
3,10008,Scoresby Rare Scotch,1750,15.75,12340,287
4,10009,Scoresby Rare Scotch,1000,10.11,1722,70

In [10]:
df_sum.to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\clustering_data_num_unique_stores')