In [1]:
import pandas as pd
import numpy as np

In [2]:
tdtypes = {'Store_Number':str,'Vendor_Number':str,'Item_Number':str, 'Category':str}

In [3]:
trans = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\transactions_2021.csv', dtype=tdtypes, index_col=0)

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
trans.head()

,Vendor_Number,Store_Number,Item_Number,Date,Bottle_Volume,Volume_Sold_Liters,Bottles_Sold,Sales,Bottle_Cost,Bottle_Retail,Category,trans_date
0,434,5417,36308,11/01/2021,1750,10.50,6,64.56,7.17,10.76,1031100,2021-11-01
1,065,4921,19061,11/01/2021,50,0.05,1,10.50,7.00,10.50,1011200,2021-11-01
2,260,5687,11296,11/01/2021,750,9.00,12,298.68,16.59,24.89,1012100,2021-11-01
3,434,2648,86250,11/01/2021,750,9.00,12,48.12,2.67,4.01,1081500,2021-11-01
4,205,4379,52596,11/01/2021,750,3.75,5,48.75,6.50,9.75,1051100,2021-11-01

In [5]:
trans.shape

(2622712, 12)

In [6]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622712 entries, 0 to 2622711
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   Vendor_Number       object
 1   Store_Number        object
 2   Item_Number         object
 3   Date                object
 4   Bottle_Volume       int64
 5   Volume_Sold_Liters  float64
 6   Bottles_Sold        int64
 7   Sales               float64
 8   Bottle_Cost         float64
 9   Bottle_Retail       float64
 10  Category            object
 11  trans_date          object
dtypes: float64(4), int64(2), object(6)
memory usage: 260.1+ MB

In [7]:
np.sum(trans['Category'].isna())

0

In [8]:
products = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\products_2021.csv',index_col=0,dtype={'Item_Number':str, 'Category':str})

In [9]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4472 entries, 237409 to 1094183
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_Number       4472 non-null   object
 1   Item_Description  4472 non-null   object
 2   Category          4472 non-null   object
dtypes: object(3)
memory usage: 139.8+ KB

In [10]:
categories = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\categories.csv',index_col=0,dtype={'Category':str})

In [11]:
categories2 = categories[['Category', 'New_Category_Name']]

In [12]:

categories2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 390061 to 1094183
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           57 non-null     object
 1   New_Category_Name  57 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [13]:
categories.head(3)

,Category,Category_Name,New_Category_Name
390061,1070100,Temporary & Specialty Packages,Temporary & Specialty Packages
2334587,1070000,Cocktails / RTD,Cocktails / RTD
2362487,1011000,American Whiskies,Whiskies

In [14]:
item_trans_category = categories2.merge(trans, how='inner', on = ['Category'] )

item_trans_category
item_trans_category.shape

(2622712, 13)

In [15]:
item_trans_category = item_trans_category.merge(products, how='inner', on=['Item_Number','Category'])

In [16]:
item_trans_category.shape

(2604721, 14)

In [17]:
item_trans_category.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2604721 entries, 0 to 2604720
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   Category            object
 1   New_Category_Name   object
 2   Vendor_Number       object
 3   Store_Number        object
 4   Item_Number         object
 5   Date                object
 6   Bottle_Volume       int64
 7   Volume_Sold_Liters  float64
 8   Bottles_Sold        int64
 9   Sales               float64
 10  Bottle_Cost         float64
 11  Bottle_Retail       float64
 12  trans_date          object
 13  Item_Description    object
dtypes: float64(4), int64(2), object(8)
memory usage: 298.1+ MB

In [18]:
item_trans_category

,Category,New_Category_Name,Vendor_Number,Store_Number,Item_Number,Date,Bottle_Volume,Volume_Sold_Liters,Bottles_Sold,Sales,Bottle_Cost,Bottle_Retail,trans_date,Item_Description
0,1070100,Temporary & Specialty Packages,300,2714,63762,01/08/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-08,Tarantula Ready To Drink Blue Margarita
1,1070100,Temporary & Specialty Packages,300,2538,63762,01/14/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-14,Tarantula Ready To Drink Blue Margarita
2,1070100,Temporary & Specialty Packages,300,5665,63762,01/15/2021,1750,1.75,1,13.11,8.74,13.11,2021-01-15,Tarantula Ready To Drink Blue Margarita
3,1070100,Temporary & Specialty Packages,300,2712,63762,01/15/2021,1750,10.50,6,78.66,8.74,13.11,2021-01-15,Tarantula Ready To Drink Blue Margarita
4,1070100,Temporary & Specialty Packages,300,3417,63762,01/25/2021,1750,3.50,2,26.22,8.74,13.11,2021-01-25,Tarantula Ready To Drink Blue Margarita
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604716,1031100,Vodkas,566,2633,937468,06/24/2021,750,180.00,240,3600.00,10.00,15.00,2021-06-24,Peak Vodka
2604717,1031100,Vodkas,300,3417,940118,05/03/2021,1750,52.50,30,306.60,6.81,10.22,2021-05-03,Deuces Wild Diluted Vodka
2604718,1031100,Vodkas,322,2190,937147,05/03/2021,750,27.00,36,459.00,8.50,12.75,2021-05-03,Opulent Vodka
2604719,1031100,Vodkas,055,6142,936981,06/08/2021,50,0.50,10,90.00,6.00,9.00,2021-06-08,99 Vodka Mini
2604720,1031100,Vodkas,273,2647,937042,08/02/2021,50,0.05,1,45.00,30.00,45.00,2021-08-02,Ocean Organic Vodka Mini

In [19]:
df_sum = item_trans_category.groupby(['Item_Number','Item_Description','Bottle_Volume','New_Category_Name']).agg({'Bottle_Retail':'mean','Bottles_Sold':'sum','Store_Number':'nunique'}).reset_index()

In [20]:
df_sum.shape

(4475, 7)

In [21]:
df_sum.shape

(4475, 7)

In [22]:
df_sum.head()

,Item_Number,Item_Description,Bottle_Volume,New_Category_Name,Bottle_Retail,Bottles_Sold,Store_Number
0,100015,Fireball Cinnamon Whiskey Bag in Box,3500,Liquers,45.00,1123,129
1,10006,Scoresby Rare Scotch,750,Scotch,7.70,4619,197
2,100077,Kraken Rum w/ Tiki Glass,750,Temporary & Specialty Packages,15.68,2679,136
3,10008,Scoresby Rare Scotch,1750,Scotch,15.75,12340,287
4,10009,Scoresby Rare Scotch,1000,Scotch,10.11,1722,70

In [23]:
df_sum.to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\clustering_data_num_unique_stores.csv')

In [24]:
check = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\clustering_data_num_unique_stores.csv')

In [25]:
check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4475 entries, 0 to 4474
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4475 non-null   int64
 1   Item_Number        4475 non-null   int64
 2   Item_Description   4475 non-null   object
 3   Bottle_Volume      4475 non-null   int64
 4   New_Category_Name  4475 non-null   object
 5   Bottle_Retail      4475 non-null   float64
 6   Bottles_Sold       4475 non-null   int64
 7   Store_Number       4475 non-null   int64
dtypes: float64(1), int64(5), object(2)
memory usage: 279.8+ KB