In [1]:
import pandas as pd
import numpy as np

In [2]:
dict_dtypes = {'Item_Number':str,
'Bottle_Volume':int,
'Bottles_Sold':int,
'Bottle_Retail':float}

In [3]:
df_product_clusters= pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\product_clusters.csv',dtype=dict_dtypes, index_col=0)

In [4]:
sdtypes = {'Store_Number':str, 'Store_Name':str, 'Address':str, 'City':str,
           'Zip_Code':str, 'Store_Location':str, 'County_Number':str, 'County':str}

In [5]:
stores =pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\stores_2021.csv',dtype = sdtypes, index_col=0)

In [6]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1948 entries, 223124 to 1094183
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Store_Number    1948 non-null   object
 1   Store_Name      1948 non-null   object
 2   Address         1948 non-null   object
 3   City            1948 non-null   object
 4   Zip_Code        1948 non-null   object
 5   Store_Location  1790 non-null   object
 6   County_Number   1948 non-null   object
 7   County          1948 non-null   object
dtypes: object(8)
memory usage: 137.0+ KB

In [7]:
stores.shape

(1948, 8)

In [8]:
tdtypes ={'Vendor_Number':str, 'Store_Number':str, 'Item_Number':str, 'Date':str, 'Bottle_Volume':int,
          'Volume_Sold_Liters':float, 'Bottles_Sold':int, 'Sales':float, 'Bottle_Cost':float,
          'Bottle_Retail':float, 'Category':str, 'trans_date':str}

In [9]:
trans = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\transactions_2021.csv',dtype=tdtypes,index_col=0)

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
df_product_clusters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4468 entries, 1 to 4474
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_Number       4468 non-null   object
 1   Item_Description  4468 non-null   object
 2   Bottle_Volume     4468 non-null   int32
 3   Bottle_Retail     4468 non-null   float64
 4   Bottles_Sold      4468 non-null   int32
 5   product_cluster   4468 non-null   int64
dtypes: float64(1), int32(2), int64(1), object(2)
memory usage: 209.4+ KB

In [11]:
# transactions.merge(products, how='inner', on= ['Category','Item Number'])

In [12]:
trans_clust = df_product_clusters[['Item_Number', 'Item_Description','product_cluster']].merge(trans, how='inner', on =['Item_Number'])

In [13]:
trans_clust.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2605189 entries, 0 to 2605188
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   Item_Number         object
 1   Item_Description    object
 2   product_cluster     int64
 3   Vendor_Number       object
 4   Store_Number        object
 5   Date                object
 6   Bottle_Volume       int32
 7   Volume_Sold_Liters  float64
 8   Bottles_Sold        int32
 9   Sales               float64
 10  Bottle_Cost         float64
 11  Bottle_Retail       float64
 12  Category            object
 13  trans_date          object
dtypes: float64(4), int32(2), int64(1), object(7)
memory usage: 278.3+ MB

In [14]:
trans_clust.shape

(2605189, 14)

In [15]:
trans_clust['trans_date'] =  pd.to_datetime(trans_clust['Date'])

In [16]:
high_end1 = trans_clust.loc[trans_clust['product_cluster'] == 3,:]

In [17]:
high_end_stores = high_end1.sort_values(by=['trans_date']).drop_duplicates(['Store_Number'],keep='last')

In [18]:
 high_end_store_names= high_end_stores.merge(stores, how='inner', on =['Store_Number'])

In [19]:
high_end_store_names[['Store_Name', 'Store_Number', 'City','Zip_Code']].to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\'high_end_store_check.csv')

In [20]:
high_end_store_names.shape

(590, 21)