In [1]:
import pandas as pd 
import numpy as np

In [2]:
from freq_pd import proc_freq

In [3]:
final_clusters = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\final_clusters.csv',dtype={'Item_Number':str}, index_col=0)

In [4]:
final_clusters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4468 entries, 1 to 4449
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Item_Number         4468 non-null   object
 1   Item_Description    4468 non-null   object
 2   Bottle_Volume       4468 non-null   int64
 3   Bottle_Retail       4468 non-null   float64
 4   Bottles_Sold        4468 non-null   int64
 5   cluster_name        4468 non-null   object
 6   revenue             4468 non-null   float64
 7   Num_Stores_Selling  4468 non-null   int64
 8   New_Category_Name   4468 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 349.1+ KB

In [5]:
tdtypes = {'Store_Number':str,'Vendor_Number':str,'Item_Number':str, 'Category':str}

In [6]:
trans = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\transactions_2021.csv',dtype=tdtypes, index_col=0)

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [30]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622712 entries, 0 to 2622711
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   Vendor_Number       object
 1   Store_Number        object
 2   Item_Number         object
 3   Date                object
 4   Bottle_Volume       int64
 5   Volume_Sold_Liters  float64
 6   Bottles_Sold        int64
 7   Sales               float64
 8   Bottle_Cost         float64
 9   Bottle_Retail       float64
 10  Category            object
 11  trans_date          object
 12  Pack                int64
dtypes: float64(4), int64(3), object(6)
memory usage: 280.1+ MB

In [7]:
stores = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\stores_2021.csv',index_col=0, dtype={'Store_Number':str})

In [8]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1948 entries, 223124 to 1094183
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Store_Number    1948 non-null   object
 1   Store_Name      1948 non-null   object
 2   Address         1948 non-null   object
 3   City            1948 non-null   object
 4   Zip_Code        1948 non-null   int64
 5   Store_Location  1790 non-null   object
 6   County_Number   1948 non-null   int64
 7   County          1948 non-null   object
dtypes: int64(2), object(6)
memory usage: 137.0+ KB

In [9]:
# item_trans_category = item_trans_category.merge(products, how='inner', on=['Item_Number','Category'])

In [10]:
store_trans = stores.merge(trans, how='inner', on=['Store_Number'])

In [32]:
store_trans.info()
list(store_trans.columns)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622712 entries, 0 to 2622711
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   Store_Number        object
 1   Store_Name          object
 2   Address             object
 3   City                object
 4   Zip_Code            int64
 5   Store_Location      object
 6   County_Number       int64
 7   County              object
 8   Vendor_Number       object
 9   Item_Number         object
 10  Date                object
 11  Bottle_Volume       int64
 12  Volume_Sold_Liters  float64
 13  Bottles_Sold        int64
 14  Sales               float64
 15  Bottle_Cost         float64
 16  Bottle_Retail       float64
 17  Category            object
 18  trans_date          object
 19  Pack                int64
dtypes: float64(4), int64(5), object(11)
memory usage: 420.2+ MB

['Store_Number',
 'Store_Name',
 'Address',
 'City',
 'Zip_Code',
 'Store_Location',
 'County_Number',
 'County',
 'Vendor_Number',
 'Item_Number',
 'Date',
 'Bottle_Volume',
 'Volume_Sold_Liters',
 'Bottles_Sold',
 'Sales',
 'Bottle_Cost',
 'Bottle_Retail',
 'Category',
 'trans_date',
 'Pack']

In [38]:
store_trans.groupby(['Store_Number','Store_Name'])['Item_Number'].unique()

Store_Number  Store_Name
2106          Hillstreet News and Tobacco          [37338, 86887, 69667, 916850, 36904, 10802, 36...
2130          Sycamore Convenience                 [85526, 37417, 28625, 88767, 43387, 24457, 144...
2178          Double D Liquor Store                [35916, 75213, 64776, 52599, 41848, 35918, 433...
2190          Central City Liquor, Inc.            [6105, 84496, 52806, 27237, 84160, 40594, 9045...
2191          Keokuk Spirits                       [64816, 28886, 82847, 64867, 84170, 903771, 90...
                                                                         ...
9042          American Heritage Distillers, LLC    [37131, 86560, 986567, 926624, 86025, 999930, ...
9046          Rock River Distillation Company                           [17658, 26405, 17659, 26436]
9047          Revelton Distilling Company          [33181, 39301, 37630, 86420, 86421, 39300, 376...
9048          Artisan Grain Distillery                              [946008, 926297, 925514, 937455]
9049          TYCOGA Vineyard & Winery                                              [926093, 938201]
Name: Item_Number, Length: 1948, dtype: object

In [ ]:
final_clusters.groupby([])

merge store_trans_data with final_clusters to append the cluster information

In [34]:
store_trans_cluster = store_trans[['Store_Number',
 'Store_Name',
 'Address',
 'City',
 'Zip_Code',
 'Store_Location',
 'County_Number',
 'County',
 'Vendor_Number',
 'Item_Number','Category']].merge(final_clusters, how='inner', on=['Item_Number'])

In [35]:
store_trans_cluster.head()

,Store_Number,Store_Name,Address,City,Zip_Code,Store_Location,County_Number,County,Vendor_Number,Item_Number,Category,Item_Description,Bottle_Volume,Bottle_Retail,Bottles_Sold,cluster_name,revenue,Num_Stores_Selling,New_Category_Name
0,3855,Dyno's Wine and Spirits / Storm Lake,1201 1/2 Lakeshore Dr,Storm Lake,50588,NaN,11,BUENA VIST,035,88296,1022200,Patron Silver,750,41.52,144787,Popular_Bottles,6001266.00,1274,100% Agave Tequila
1,4589,Dyno's #53 / Sibley,1026 2nd Ave,Sibley,51249,POINT (-95.752119 43.397431),72,OSCEOLA,035,88296,1022200,Patron Silver,750,41.52,144787,Popular_Bottles,6001266.00,1274,100% Agave Tequila
2,5566,East End Liquor & Tobacco,3804 Hubbell Ave,Des Moines,50317,POINT (-93.541351 41.630849),77,POLK,035,88296,1022200,Patron Silver,750,41.52,144787,Popular_Bottles,6001266.00,1274,100% Agave Tequila
3,4755,Walgreens #05941 / Mason City,1251 4th St SW,Mason City,50401,POINT (-93.220422 43.148333),17,CERRO GORD,035,88296,1022200,Patron Silver,750,41.52,144787,Popular_Bottles,6001266.00,1274,100% Agave Tequila
4,5167,New Star Liquor & Tobacco / Ft Dodg,1724 5th Ave S,Fort Dodge,50501,POINT (-94.173816 42.501131),94,WEBSTER,035,88296,1022200,Patron Silver,750,41.52,144787,Popular_Bottles,6001266.00,1274,100% Agave Tequila

create a DataFrame with store number, store name, cluster name and the list of items in each cluster for each store.

In [52]:
unique_store_item_list_df = store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name'])['Item_Number'].unique().reset_index()
unique_store_item_list_df

,Store_Number,Store_Name,cluster_name,Item_Number
0,2106,Hillstreet News and Tobacco,High End,"[903179, 905960]"
1,2106,Hillstreet News and Tobacco,Popular_Bottles,"[88296, 15626, 11296, 10550, 43338, 48106, 117..."
2,2106,Hillstreet News and Tobacco,Volume_For_Dollar,"[19068, 58868, 43120, 36875, 35918, 42718, 373..."
3,2106,Hillstreet News and Tobacco,cheap,"[37997, 73055, 19067, 69657, 89197, 64858, 194..."
4,2106,Hillstreet News and Tobacco,moderately_high,"[49086, 927041, 47865, 89154, 87054, 89175, 89..."
...,...,...,...,...
11727,9046,Rock River Distillation Company,quick_shots,"[17658, 26436]"
11728,9047,Revelton Distilling Company,most_variety,"[37630, 39300, 86420, 33180, 31985, 26291, 262..."
11729,9047,Revelton Distilling Company,quick_shots,"[26292, 39301, 33181, 37631, 86421, 26294, 31983]"
11730,9048,Artisan Grain Distillery,most_variety,"[946008, 926297, 925514, 937455]"
11731,9049,TYCOGA Vineyard & Winery,most_variety,"[926093, 938201]"

In [53]:
unique_store_item_list_df.rename({'Item_Number':'store_unique_items'} ,axis=1, inplace=True)

create DataFrame that will be used to create a cluster dictionary

In [54]:
unique_cluster_item_list_df = final_clusters.groupby(['cluster_name'])['Item_Number'].unique().reset_index()
unique_cluster_item_list_df

        cluster_name                                        Item_Number
0           High End  [100793, 100854, 100941, 15178, 15320, 15639, ...
1    Popular_Bottles  [10550, 10805, 10807, 11294, 11296, 11297, 117...
2  Volume_For_Dollar  [10008, 100440, 100545, 100605, 100844, 101216...
3              cheap  [100423, 10791, 10802, 10803, 10804, 10808, 11...
4    moderately_high  [100148, 100306, 100413, 100572, 100792, 10084...
5       most_variety  [10006, 100077, 10009, 100202, 100210, 100215,...
6        quick_shots  [100280, 100531, 100568, 100612, 100636, 10068...

In [55]:
unique_cluster_item_list_df.rename({'Item_Number':'cluster_unique_items'} ,axis=1, inplace=True)
unique_cluster_item_list_df

        cluster_name                               cluster_unique_items
0           High End  [100793, 100854, 100941, 15178, 15320, 15639, ...
1    Popular_Bottles  [10550, 10805, 10807, 11294, 11296, 11297, 117...
2  Volume_For_Dollar  [10008, 100440, 100545, 100605, 100844, 101216...
3              cheap  [100423, 10791, 10802, 10803, 10804, 10808, 11...
4    moderately_high  [100148, 100306, 100413, 100572, 100792, 10084...
5       most_variety  [10006, 100077, 10009, 100202, 100210, 100215,...
6        quick_shots  [100280, 100531, 100568, 100612, 100636, 10068...

create a list of the unique items in each cluster

In [101]:
cluster_unique_items_list = list(unique_cluster_item_list_df.cluster_unique_items)
cluster_unique_items_list

[array(['100793', '100854', '100941', '15178', '15320', '15639', '17196',
        '258', '28894', '37273', '4113', '4248', '4381', '4610', '47645',
        '48122', '49156', '5002', '5067', '5329', '5744', '57630', '57632',
        '57634', '57636', '6051', '866', '89152', '89820', '901559',
        '902137', '902180', '902853', '902880', '903179', '903639',
        '904046', '904486', '904614', '904829', '904866', '905028',
        '905119', '905215', '905447', '905953', '905960', '906532',
        '910642', '914206', '915177', '915198', '915559', '915639',
        '915708', '915743', '915985', '916093', '916100', '916126',
        '916210', '916211', '916567', '916678', '918379', '919320',
        '926479', '926497', '928166', '935863', '938187', '942263',
        '942305', '943634', '946072', '947869', '964358', '974834',
        '985535', '987276', '987825', '988281', '988644', '988693',
        '988709', '988739', '988917', '989210', '989330', '994965'],
       dtype=object),
 array(['10550', '10805', '10807', '11294', '11296', '11297', '11773',
        '11774', '11776', '11777', '11786', '11788', '15626', '15627',
        '1799', '19066', '26826', '26827', '34006', '34368', '35317',
        '36304', '36305', '36306', '36308', '36886', '36903', '36904',
        '37994', '38088', '38174', '38176', '38177', '38178', '42716',
        '42717', '43024', '43334', '43336', '43337', '43338', '48099',
        '48105', '48106', '49189', '53213', '53214', '64863', '64864',
        '64865', '64866', '64867', '65013', '69637', '75087', '77487',
        '84171', '86251', '88296', '89387', '89577', '936600'],
       dtype=object),
 array(['10008', '100440', '100545', '100605', '100844', '101216',
        '101217', '101299', '101346', '101428', '101534', '101561',
        '101600', '101622', '10278', '10548', '10628', '10793', '10809',
        '10838', '10935', '11298', '11348', '11588', '11912', '12408',
        '12478', '12858', '12888', '13038', '13388', '13638', '13928',
        '14199', '15248', '15258', '15628', '15832', '15945', '16098',
        '16518', '16682', '16988', '17088', '17830', '17919', '17958',
        '18103', '18198', '18351', '18408', '18858', '19028', '19068',
        '19070', '19228', '19478', '20248', '20368', '21208', '21598',
        '22123', '22158', '22207', '2226', '22788', '23268', '23278',
        '23708', '23828', '23982', '24158', '24458', '24728', '25608',
        '25878', '25992', '26589', '26758', '26828', '27022', '27741',
        '27746', '27796', '28088', '28238', '28353', '28628', '28718',
        '28868', '29115', '29288', '29423', '29568', '29712', '29728',
        '29998', '30058', '30238', '30318', '30528', '31208', '31473',
        '31496', '31658', '31718', '32238', '33569', '33660', '33665',
        '34008', '34032', '34425', '34458', '34566', '34578', '34598',
        '34748', '34759', '34821', '34919', '35213', '35245', '35318',
        '35418', '35628', '35918', '35948', '36124', '36188', '36356',
        '36578', '36650', '36668', '36733', '36875', '36900', '36908',
        '36971', '36978', '37048', '37178', '37248', '37259', '37304',
        '37338', '37348', '37418', '37665', '37888', '37938', '37988',
        '37998', '38008', '38033', '38075', '3836', '38508', '38519',
        '38581', '39421', '39753', '39868', '39919', '40055', '40118',
        '4030', '40313', '40315', '40329', '41078', '41625', '41681',
        '41692', '41848', '42009', '42718', '42984', '43028', '43038',
        '43040', '43049', '43078', '43088', '43100', '43112', '43120',
        '43128', '43138', '43208', '43318', '43323', '43388', '43503',
        '43749', '43799', '43845', '43848', '43986', '44081', '44259',
        '44308', '44333', '44340', '44348', '44658', '45248', '45278',
        '45418', '45888', '46109', '46142', '46144', '46350', '46499',
        '46506', '46528', '47002', '4718', '47788', '4798', '48108',
        '4868', '4878', '49188', '5038', '52318', '52598', '52835', '5288',
        '53218', '5349', '5360', '54448', '55068', '55088', '558', '56782',
        '56783', '56856', '56874', '56942', '56944', '56958', '57118',
        '57120', '57121', '57122', '57125', '57129', '57144', '57146',
        '57148', '57150', '57157', '57158', '57161', '57168', '57174',
        '57179', '57181', '57182', '57184', '57279', '57303', '5844',
        '58801', '58838', '58840', '58842', '58845', '58860', '58865',
        '58868', '58872', '58873', '58874', '58875', '58877', '58886',
        '58895', '58897', '58898', '58899', '58925', '59085', '59086',
        '59087', '59088', '59089', '59101', '59154', '59159', '59161',
        '59162', '59163', '59173', '59175', '59182', '59184', '59185',
        '59192', '59193', '59201', '59231', '59850', '59852', '59854',
        '61618', '62061', '62400', '62405', '62420', '62422', '63530',
        '63753', '63762', '63765', '63767', '63959', '64138', '64868',
        '64904', '65198', '65258', '67037', '67042', '67075', '67158',
        '67245', '67528', '68038', '68039', '68128', '69638', '69658',
        '6998', '72505', '73054', '73803', '73809', '75899', '76430',
        '76432', '76438', '76488', '77318', '77324', '77779', '77994',
        '78129', '80058', '80422', '80458', '80578', '81208', '8208',
        '82600', '82849', '86456', '86565', '86673', '86694', '86888',
        '87410', '87938', '88015', '88118', '88188', '8828', '88298',
        '88768', '89123', '89198', '89249', '89268', '89388', '89470',
        '89621', '89838', '900138', '901369', '901610', '902115', '902165',
        '902291', '902729', '902840', '903025', '903261', '903464',
        '903486', '903707', '903776', '903881', '903995', '904589',
        '904778', '904827', '904888', '905339', '905818', '908806',
        '916098', '916398', '926229', '927551', '9278', '930746', '931246',
        '934598', '934643', '935111', '936076', '936859', '937276',
        '937599', '939930', '940118', '941328', '942243', '9432', '943298',
        '944492', '944542', '944559', '944650', '946218', '946574',
        '948167', '962094', '962095', '962476', '962477', '964714',
        '966580', '968848', '973520', '982618', '985298', '987513',
        '987514', '988063', '989288', '989289', '989291', '989292',
        '994950', '994966', '996028', '998546'], dtype=object),
 array(['100423', '10791', '10802', '10803', '10804', '10808', '11290',
        '11299', '11586', '15644', '16676', '17086', '17206', '17916',
        '17956', '18006', '18352', '19061', '19064', '19067', '19476',
        '19477', '22215', '23823', '23824', '23826', '25604', '25606',
        '25607', '26820', '26821', '26823', '26824', '27102', '27544',
        '27629', '27781', '27783', '28279', '28866', '28867', '32232',
        '32233', '32234', '32236', '34004', '34007', '34030', '34359',
        '34422', '34433', '34456', '34820', '35314', '35913', '35914',
        '35916', '35917', '35926', '36301', '36302', '36307', '36873',
        '36874', '36887', '36889', '36967', '36968', '36969', '36974',
        '36985', '36989', '37258', '37347', '37991', '37993', '37996',
        '37997', '38006', '38179', '39492', '40053', '40594', '41693',
        '41694', '41846', '43025', '43026', '43124', '43126', '43127',
        '43137', '43285', '43331', '43333', '44217', '45277', '47861',
        '49084', '49185', '49186', '52199', '52316', '52593', '52594',
        '52596', '53216', '64858', '65254', '65256', '65257', '65426',
        '66936', '67526', '67527', '68036', '69636', '69657', '69947',
        '72928', '73055', '76487', '77683', '77956', '82847', '82867',
        '84172', '84217', '84219', '84404', '86112', '86390', '86455',
        '86507', '86670', '86692', '86843', '86884', '86886', '86887',
        '87026', '87403', '87408', '87485', '87937', '88294', '89193',
        '89194', '89196', '89197', '89199'], dtype=object),
 array(['100148', '100306', '100413', '100572', '100792', '100847',
        '100855', '100861', '100862', '101025', '101151', '101182',
        '101188', '101232', '101266', '101296', '101457', '101472',
        '101473', '101490', '101575', '101583', '101653', '101654',
        '10852', '11287', '1160', '15180', '15181', '15204', '15206',
        '15606', '15856', '15934', '15958', '15991', '16048', '16120',
        '16142', '16182', '16369', '16580', '16679', '16799', '16814',
        '16906', '16916', '17186', '17334', '17543', '17544', '17913',
        '17917', '17920', '18358', '18376', '18656', '19017', '19235',
        '19239', '19494', '19497', '20300', '20305', '20318', '20375',
        '21181', '21184', '21186', '21212', '21589', '217215', '21946',
        '22172', '22178', '22228', '22271', '26196', '26350', '26409',
        '26411', '26413', '26414', '26416', '26455', '26474', '26556',
        '26611', '26613', '26697', '26712', '26714', '26781', '26789',
        '26800', '26966', '26977', '27094', '27145', '27380', '27523',
        '27560', '29100', '3354', '36390', '36962', '37231', '4075',
        '4084', '4090', '4096', '4111', '4184', '4251', '4356', '4357',
        '4367', '43722', '4374', '4457', '4611', '4616', '4636', '4656',
        '4698', '47647', '47649', '47865', '4810', '48102', '48123',
        '48164', '4825', '4846', '49086', '5014', '5040', '5061', '5104',
        '5105', '5136', '5149', '5157', '5159', '51742', '51744', '52078',
        '5242', '5247', '529', '5350', '5430', '5446', '5486', '5555',
        '5633', '5696', '5700', '5702', '5745', '5753', '5929', '5966',
        '6016', '61213', '61215', '6206', '65156', '65536', '66056',
        '66665', '68031', '72935', '76439', '84142', '84145', '84160',
        '84223', '84228', '84230', '84393', '86118', '86121', '86125',
        '86145', '86272', '86273', '86274', '86275', '86462', '86490',
        '86492', '86494', '87025', '87027', '87029', '87030', '87032',
        '87054', '87057', '87078', '87102', '87270', '87288', '87370',
        '87406', '87481', '87625', '87714', '87879', '87901', '87906',
        '88091', '88120', '88163', '88212', '88361', '88363', '88367',
        '88482', '88652', '88741', '88833', '88915', '88922', '88947',
        '89000', '89016', '89029', '89154', '89164', '89175', '89200',
        '89267', '89269', '89320', '89329', '89590', '89626', '89646',
        '89754', '89757', '900367', '900407', '900598', '901275', '901536',
        '901702', '901917', '902086', '902133', '902203', '902207',
        '902219', '902419', '902420', '902421', '902495', '902536',
        '902570', '902623', '902650', '902722', '902766', '902793',
        '902813', '902833', '902912', '902933', '902975', '902989',
        '903089', '903122', '903330', '903355', '903385', '903490',
        '903550', '903590', '903663', '903761', '903764', '903774',
        '903803', '903867', '903942', '903998', '904145', '904161',
        '904224', '904247', '904253', '904407', '904522', '904552',
        '904559', '904609', '904669', '904848', '904940', '904970',
        '905184', '905186', '905377', '905434', '905435', '905613',
        '905622', '905648', '905653', '905734', '905829', '905868',
        '905869', '905964', '906019', '906264', '906307', '906315',
        '906317', '914582', '914593', '914947', '915188', '915534',
        '915550', '915574', '915577', '915607', '915620', '915634',
        '915635', '915673', '915729', '915842', '915844', '915847',
        '915848', '915849', '915862', '915880', '915907', '915917',
        '915918', '915920', '915924', '915926', '915928', '915934',
        '915962', '915978', '915995', '915996', '915997', '916007',
        '916016', '916018', '916029', '916030', '916032', '916037',
        '916122', '916124', '916267', '916373', '916492', '916580',
        '916630', '916664', '916670', '916686', '916687', '916690',
        '916693', '916697', '916698', '916700', '916809', '916850',
        '917176', '917184', '917192', '917334', '917680', '918202',
        '918301', '918376', '918384', '918411', '918421', '918606',
        '919000', '919239', '919411', '919412', '919494', '919564',
        '920301', '920374', '920376', '920380', '920676', '921102',
        '921181', '921186', '921198', '921224', '921471', '921542',
        '921592', '921674', '922079', '922172', '922184', '922254',
        '922261', '922262', '922263', '922296', '923058', '924575',
        '925234', '925399', '925408', '926192', '926219', '926222',
        '926239', '926274', '926285', '926350', '926352', '926357',
        '926414', '926438', '926442', '926475', '926476', '926478',
        '926507', '926556', '926568', '926610', '926611', '926697',
        '926699', '926713', '926714', '926727', '926730', '926732',
        '926751', '926802', '926804', '926885', '926929', '926944',
        '926964', '927017', '927041', '927099', '927188', '927197',
        '927461', '927506', '927676', '927861', '927940', '927942',
        '927944', '927946', '927948', '927952', '928002', '928093',
        '928125', '928137', '928193', '928289', '928296', '928538',
        '928693', '928730', '928739', '929259', '932342', '933715',
        '937203', '937252', '942404', '942576', '942606', '942776',
        '942779', '943665', '943705', '943793', '943800', '943878',
        '943891', '944015', '944101', '946014', '946415', '946702',
        '946892', '947406', '947647', '947649', '948086', '948361',
        '948996', '949000', '949087', '949187', '951351', '951421',
        '958875', '965108', '965313', '965544', '966056', '966665',
        '967317', '968337', '972661', '977237', '977241', '977249',
        '978152', '986215', '986305', '986448', '986453', '986476',
        '986490', '986492', '986494', '986576', '986725', '987108',
        '987133', '987139', '987145', '987160', '987161', '987163',
        '987184', '987185', '987187', '987192', '987211', '987212',
        '987217', '987219', '987223', '987279', '987283', '987360',
        '987442', '987461', '987506', '987545', '987730', '987828',
        '987901', '987906', '987927', '987951', '987952', '987953',
        '987955', '988039', '988040', '988105', '988166', '988192',
        '988209', '988213', '988280', '988374', '988427', '988482',
        '988484', '988524', '988526', '988528', '988802', '988803',
        '988836', '988839', '988861', '988915', '988957', '988959',
        '988979', '988982', '988984', '988992', '989202', '989287',
        '989293', '989327', '989328', '989346', '989503', '989504',
        '989529', '989554', '989622', '989625', '989653', '989960',
        '989961', '990517', '990742', '990860', '991342', '991350',
        '991589', '991592', '992000', '992851', '994046', '994188',
        '994350', '994402', '994403', '994404', '994406', '994408',
        '994410', '994414', '994449', '994487', '994553', '994682',
        '994695', '994697', '994698', '994853', '994876', '994972',
        '995185', '995231', '995232', '995243', '995274', '995275',
        '995276', '995517', '995519', '995643', '995646', '995647',
        '995735', '995932', '997096', '997100', '997101', '997102',
        '997871', '997888', '998606', '998889', '999912', '999918',
        '999920', '999921', '999922', '999923', '999927', '999928',
        '999931', '999932', '999991', '999992'], dtype=object),
 array(['10006', '100077', '10009', ..., '999925', '999926', '999930'],
       dtype=object),
 array(['100280', '100531', '100568', '100612', '100636', '100686',
        '100719', '100759', '100771', '101018', '101037', '101046',
        '101047', '101049', '101088', '101126', '101180', '101200',
        '101248', '101269', '101355', '101399', '101462', '101471',
        '101491', '101513', '101582', '101587', '101641', '10624', '10788',
        '10789', '10790', '10834', '10932', '11771', '11909', '12404',
        '1258', '12853', '12861', '12865', '12871', '12881', '14492',
        '14498', '14505', '14515', '14518', '14521', '14522', '14524',
        '14525', '14530', '14531', '15179', '15244', '15557', '15621',
        '15622', '15641', '15653', '15779', '15919', '17085', '17658',
        '17915', '18291', '18347', '19021', '19062', '19063', '19471',
        '19475', '21594', '22151', '22154', '22155', '22214', '22783',
        '22784', '24451', '24453', '24454', '24860', '25601', '25603',
        '26160', '26162', '26164', '26172', '26176', '26292', '26294',
        '26373', '26436', '26511', '26585', '26700', '26763', '26777',
        '26822', '26858', '27274', '27408', '27409', '27428', '27453',
        '27469', '27680', '27692', '27723', '27780', '27782', '27913',
        '28019', '28039', '28081', '28253', '28275', '28276', '28278',
        '28624', '28865', '29420', '29993', '29994', '30016', '31472',
        '31474', '31983', '31989', '32231', '33111', '33181', '33466',
        '34001', '34003', '34154', '34164', '34197', '34423', '34454',
        '35313', '35776', '35944', '36482', '36574', '36617', '36690',
        '36872', '36901', '36964', '36965', '36966', '37189', '37305',
        '37389', '37414', '37495', '37496', '37497', '37631', '37664',
        '37880', '37881', '37889', '37934', '38089', '38102', '38110',
        '38194', '38530', '39208', '39245', '39301', '39381', '39382',
        '39393', '39395', '39397', '39419', '39422', '39430', '39500',
        '39555', '39650', '39680', '39704', '39705', '39706', '39770',
        '39865', '39916', '39917', '40047', '40070', '40189', '40191',
        '40192', '40500', '40528', '40569', '40590', '40592', '40593',
        '40597', '40598', '41691', '41703', '41844', '42712', '42714',
        '42720', '430', '43022', '43031', '43034', '43121', '43134',
        '43831', '4585', '45884', '46290', '47775', '47785', '47790',
        '47863', '48101', '48115', '48154', '4861', '49083', '49182',
        '52312', '52314', '52579', '52580', '52581', '52590', '52591',
        '53211', '5325', '5345', '53920', '54444', '55084', '557', '56193',
        '56195', '56792', '57585', '57593', '57595', '57601', '58200',
        '58202', '58204', '58206', '58208', '58210', '58212', '58744',
        '58745', '58902', '58908', '58909', '58910', '58911', '61212',
        '61214', '63257', '63259', '63260', '63261', '63262', '63263',
        '63277', '63282', '63283', '63284', '63297', '63299', '63311',
        '63319', '63321', '63344', '63345', '63347', '63372', '63373',
        '63374', '63505', '64388', '64510', '64511', '64571', '64572',
        '64634', '64711', '64722', '64759', '64762', '64774', '64912',
        '64913', '65061', '65111', '65125', '65191', '65194', '65204',
        '65209', '65251', '65253', '65259', '65260', '65367', '65430',
        '65450', '65453', '65456', '65466', '65495', '65792', '66131',
        '66293', '664', '67264', '67311', '67522', '67524', '67903',
        '67904', '68034', '68339', '69064', '69603', '69609', '69631',
        '69634', '69709', '69713', '69940', '69945', '71529', '72434',
        '72448', '72502', '72927', '72933', '72952', '73051', '73052',
        '73058', '73059', '73737', '73747', '73754', '73811', '74737',
        '74776', '74804', '74805', '75195', '75208', '75209', '75212',
        '75213', '75218', '75224', '75242', '75263', '76067', '76069',
        '76070', '76077', '76681', '77545', '77902', '77955', '78016',
        '78078', '78115', '78128', '80234', '80443', '80571', '80573',
        '80574', '81124', '81204', '84143', '84152', '84187', '84197',
        '84207', '84222', '84224', '84226', '86375', '86379', '86421',
        '86437', '86438', '86454', '86463', '86502', '86531', '86542',
        '86543', '86544', '86558', '86562', '86624', '86668', '86669',
        '86691', '86698', '86739', '86881', '86883', '87035', '87063',
        '87073', '87075', '87151', '87152', '87282', '87401', '87402',
        '87484', '87508', '87509', '87615', '87769', '87773', '88185',
        '88290', '88291', '88354', '88369', '89191', '89624', '89644',
        '89781', '901420', '901581', '902518', '902846', '903151',

In [102]:
cluster_list = list(unique_cluster_item_list_df.cluster_name)
cluster_list

['High End',
 'Popular_Bottles',
 'Volume_For_Dollar',
 'cheap',
 'moderately_high',
 'most_variety',
 'quick_shots']

create a dictionary by zipping cluster_list and cluster_unique_items_list

In [82]:
cluster_dict = dict(list(zip(cluster_list,cluster_unique_items_list)))

In [87]:
clust_len_dict={}
for k,v in cluster_dict.items():
    clust_len_dict[k] = len(v)
    
clust_len_dict

{'High End': 90,
 'Popular_Bottles': 62,
 'Volume_For_Dollar': 451,
 'cheap': 151,
 'moderately_high': 677,
 'most_variety': 2489,
 'quick_shots': 548}

test out cluster_dict

In [107]:
test_df = unique_store_item_list_df.head()
unique_store_item_list_df.head(2)

,Store_Number,Store_Name,cluster_name,store_unique_items
0,2106,Hillstreet News and Tobacco,High End,"[903179, 905960]"
1,2106,Hillstreet News and Tobacco,Popular_Bottles,"[88296, 15626, 11296, 10550, 43338, 48106, 117..."

In [105]:
test_df.apply(lambda x: len(x['store_unique_items'])/clust_len_dict[x['cluster_name']],axis=1)

0   0.02
1   0.63
2   0.10
3   0.52
4   0.08
dtype: float64

In [110]:
unique_store_item_list_df.apply(lambda x: len(x['store_unique_items'])/clust_len_dict[x['cluster_name']],axis=1)

0       0.02
1       0.63
2       0.10
3       0.52
4       0.08
        ...
11727   0.00
11728   0.00
11729   0.01
11730   0.00
11731   0.00
Length: 11732, dtype: float64

add percent_unique_in_cluster to DataFrame

In [111]:
unique_store_item_list_df['percent_unique_in_cluster'] = unique_store_item_list_df.apply(lambda x: len(x['store_unique_items'])/clust_len_dict[x['cluster_name']],axis=1)

In [112]:
unique_store_item_list_df.head()

,Store_Number,Store_Name,cluster_name,store_unique_items,percent_unique_in_cluster
0,2106,Hillstreet News and Tobacco,High End,"[903179, 905960]",0.02
1,2106,Hillstreet News and Tobacco,Popular_Bottles,"[88296, 15626, 11296, 10550, 43338, 48106, 117...",0.63
2,2106,Hillstreet News and Tobacco,Volume_For_Dollar,"[19068, 58868, 43120, 36875, 35918, 42718, 373...",0.10
3,2106,Hillstreet News and Tobacco,cheap,"[37997, 73055, 19067, 69657, 89197, 64858, 194...",0.52
4,2106,Hillstreet News and Tobacco,moderately_high,"[49086, 927041, 47865, 89154, 87054, 89175, 89...",0.08

In [113]:
# store_trans_cluster.groupby(['Store_Number','Store_Name'])['Item_Number'].nunique()  #denominator

In [114]:
# store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name'])['Item_Number'].nunique().reset_index() #numerator

In [14]:
# store_trans_cluster.groupby(['cluster_name']).agg({'Item_Number':['nunique'],'revenue':['sum'],'Bottle_Volume':['min','max','std','median'],'Bottles_Sold':['min','max','std', 'median', 'mean'],'Num_Stores_Selling':['min','max','std', 'median', 'mean'] })

create a DataFrame (df_clusters) with the number of unique items in each cluster and the sum of revenue for each store

In [115]:
pd.options.display.float_format = '{:.2f}'.format
# df.groupby(['Name', 'Number', 'cluster']).agg({'Name'}, {'Cluster':{'C_mean': 'mean', 'C_median': 'median'}})

# 
df_clusters=   store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name']).agg({'Item_Number':['nunique','count'],'revenue':'sum'}).reset_index()
df_clusters

      Store_Number                       Store_Name       cluster_name  \

0             2106      Hillstreet News and Tobacco           High End
1             2106      Hillstreet News and Tobacco    Popular_Bottles
2             2106      Hillstreet News and Tobacco  Volume_For_Dollar
3             2106      Hillstreet News and Tobacco              cheap
4             2106      Hillstreet News and Tobacco    moderately_high
...            ...                              ...                ...
11727         9046  Rock River Distillation Company        quick_shots
11728         9047      Revelton Distilling Company       most_variety
11729         9047      Revelton Distilling Company        quick_shots
11730         9048         Artisan Grain Distillery       most_variety
11731         9049         TYCOGA Vineyard & Winery       most_variety

      Item_Number             revenue
          nunique count           sum
0               2     2      36439.20
1              39   769 2374441645.41
2              44   144   96972341.02
3              78   947  902154941.56
4              53    74   10482500.67
...           ...   ...           ...
11727           2     2      10912.50
11728           8    81    9256612.50
11729           7    40     243817.20
11730           4     6      20304.60
11731           2     3      16927.20

[11732 rows x 6 columns]

Fix columns names of df_clusters

In [117]:
df_clusters2 = df_clusters.copy()

# df.columns = ['new_col1', 'new_col2', 'new_col3', 'new_col4']
# df_clusters2 =df_clusters2.columns.droplevel(0)
df_clusters2.columns = list(df_clusters2.columns.droplevel(0))
df_clusters2.columns = ['Store_Number','Store_Name','cluster_name','unique_items','count_items','revenue']
df_clusters2.head()

,Store_Number,Store_Name,cluster_name,unique_items,count_items,revenue
0,2106,Hillstreet News and Tobacco,High End,2,2,36439.20
1,2106,Hillstreet News and Tobacco,Popular_Bottles,39,769,2374441645.41
2,2106,Hillstreet News and Tobacco,Volume_For_Dollar,44,144,96972341.02
3,2106,Hillstreet News and Tobacco,cheap,78,947,902154941.56
4,2106,Hillstreet News and Tobacco,moderately_high,53,74,10482500.67

In [17]:
df_clusters2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11732 entries, 0 to 11731
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store_Number  11732 non-null  object
 1   Store_Name    11732 non-null  object
 2   cluster_name  11732 non-null  object
 3   unique_items  11732 non-null  int64
 4   count_items   11732 non-null  int64
 5   revenue       11732 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 550.1+ KB

create a DataFrame (df_stores) with the number of unique items  and the sum of revenue for each store

In [18]:
pd.options.display.float_format = '{:.2f}'.format

df_stores = store_trans_cluster.groupby(['Store_Number','Store_Name']).agg({'Item_Number':['nunique','count'],'revenue':'sum','cluster_name':'nunique'}).reset_index()
df_stores.head()

  Store_Number                   Store_Name Item_Number              revenue  \
                                                nunique  count           sum
0         2106  Hillstreet News and Tobacco         639   3647 3608159464.37
1         2130         Sycamore Convenience         547   3285 3528373364.01
2         2178        Double D Liquor Store          39     39   23633605.12
3         2190    Central City Liquor, Inc.        2070  15741 7469822377.75
4         2191               Keokuk Spirits        1106   6483 4553399269.02

  cluster_name
       nunique
0            7
1            7
2            6
3            7
4            7

fix column names of df_stores2

In [118]:
df_stores2 = df_stores.copy()

df_stores2.columns = list(df_stores2.columns.droplevel(0))
df_stores2.columns = ['Store_Number','Store_Name','tot_unique_items','tot_count_items','tot_revenue','num_clusters']
df_stores2.head()
df_stores2

,Store_Number,Store_Name,tot_unique_items,tot_count_items,tot_revenue,num_clusters
0,2106,Hillstreet News and Tobacco,639,3647,3608159464.37,7
1,2130,Sycamore Convenience,547,3285,3528373364.01,7
2,2178,Double D Liquor Store,39,39,23633605.12,6
3,2190,"Central City Liquor, Inc.",2070,15741,7469822377.75,7
4,2191,Keokuk Spirits,1106,6483,4553399269.02,7
...,...,...,...,...,...,...
1943,9042,"American Heritage Distillers, LLC",14,117,2010544.50,2
1944,9046,Rock River Distillation Company,4,4,56362.50,2
1945,9047,Revelton Distilling Company,15,121,9500429.70,2
1946,9048,Artisan Grain Distillery,4,6,20304.60,1
1947,9049,TYCOGA Vineyard & Winery,2,3,16927.20,1

frequency distribution of the number of stores that have 1 to 7 clusters in merchandise purchased

In [20]:
proc_freq(df_stores2,'num_clusters')

   num_clusters  Frequency  Percent  Cumulative_Frequency  Cumulative_Percent
0             1          3     0.15                     3                0.15
1             2         12     0.62                    15                0.77
2             3         10     0.51                    25                1.28
3             4         76     3.90                   101                5.18
4             5        289    14.84                   390               20.02
5             6        980    50.31                  1370               70.33
6             7        578    29.67                  1948              100.00

merge DataFrames df_clusters2 and df_stores2 so can calculate % revenue from each cluster within each store

In [21]:
# stores.merge(trans, how='inner', on=['Store_Number'])
combine_df = df_clusters2.merge(df_stores2, how='inner', on=['Store_Number','Store_Name'])

In [22]:
combine_df.head()

,Store_Number,Store_Name,cluster_name,unique_items,count_items,revenue,tot_unique_items,tot_count_items,tot_revenue,num_clusters
0,2106,Hillstreet News and Tobacco,High End,2,2,36439.20,639,3647,3608159464.37,7
1,2106,Hillstreet News and Tobacco,Popular_Bottles,39,769,2374441645.41,639,3647,3608159464.37,7
2,2106,Hillstreet News and Tobacco,Volume_For_Dollar,44,144,96972341.02,639,3647,3608159464.37,7
3,2106,Hillstreet News and Tobacco,cheap,78,947,902154941.56,639,3647,3608159464.37,7
4,2106,Hillstreet News and Tobacco,moderately_high,53,74,10482500.67,639,3647,3608159464.37,7

In [122]:
combine_df.columns

Index(['Store_Number', 'Store_Name', 'cluster_name', 'unique_items',
       'count_items', 'revenue', 'tot_unique_items', 'tot_count_items',
       'tot_revenue', 'num_clusters', 'pct_unique_items', 'pct_tot_revenue'],
      dtype='object')

In [123]:
combine_df.drop(columns=['tot_unique_items', 'tot_count_items','tot_revenue','num_clusters'])

,Store_Number,Store_Name,cluster_name,unique_items,count_items,revenue,pct_unique_items,pct_tot_revenue
0,2106,Hillstreet News and Tobacco,High End,2,2,36439.20,0.31,0.00
1,2106,Hillstreet News and Tobacco,Popular_Bottles,39,769,2374441645.41,6.10,65.81
2,2106,Hillstreet News and Tobacco,Volume_For_Dollar,44,144,96972341.02,6.89,2.69
3,2106,Hillstreet News and Tobacco,cheap,78,947,902154941.56,12.21,25.00
4,2106,Hillstreet News and Tobacco,moderately_high,53,74,10482500.67,8.29,0.29
...,...,...,...,...,...,...,...,...
11727,9046,Rock River Distillation Company,quick_shots,2,2,10912.50,50.00,19.36
11728,9047,Revelton Distilling Company,most_variety,8,81,9256612.50,53.33,97.43
11729,9047,Revelton Distilling Company,quick_shots,7,40,243817.20,46.67,2.57
11730,9048,Artisan Grain Distillery,most_variety,4,6,20304.60,100.00,100.00
11731,9049,TYCOGA Vineyard & Winery,most_variety,2,3,16927.20,100.00,100.00

In [119]:
combine_df['pct_unique_items'] = combine_df.unique_items/combine_df.tot_unique_items *100

In [120]:
combine_df['pct_tot_revenue'] = combine_df.revenue/combine_df.tot_revenue *100

In [25]:
pd.set_option('display.max_columns', None)
combine_df[['Store_Name', 'cluster_name','pct_unique_items', 'pct_tot_revenue']].head(25)

,Store_Name,cluster_name,pct_unique_items,pct_tot_revenue
0,Hillstreet News and Tobacco,High End,0.31,0.00
1,Hillstreet News and Tobacco,Popular_Bottles,6.10,65.81
2,Hillstreet News and Tobacco,Volume_For_Dollar,6.89,2.69
3,Hillstreet News and Tobacco,cheap,12.21,25.00
4,Hillstreet News and Tobacco,moderately_high,8.29,0.29
5,Hillstreet News and Tobacco,most_variety,64.16,6.15
6,Hillstreet News and Tobacco,quick_shots,2.03,0.06
7,Sycamore Convenience,High End,0.73,0.00
8,Sycamore Convenience,Popular_Bottles,9.14,64.46
9,Sycamore Convenience,Volume_For_Dollar,9.32,7.10
10,Sycamore Convenience,cheap,17.37,22.58
11,Sycamore Convenience,moderately_high,2.93,0.32
12,Sycamore Convenience,most_variety,56.31,5.41
13,Sycamore Convenience,quick_shots,4.20,0.12
14,Double D Liquor Store,Popular_Bottles,7.69,54.39
15,Double D Liquor Store,Volume_For_Dollar,25.64,21.18
16,Double D Liquor Store,cheap,23.08,11.41
17,Double D Liquor Store,moderately_high,2.56,2.83
18,Double D Liquor Store,most_variety,35.90,10.11
19,Double D Liquor Store,quick_shots,5.13,0.09
20,"Central City Liquor, Inc.",High End,2.08,0.30
21,"Central City Liquor, Inc.",Popular_Bottles,2.71,56.67
22,"Central City Liquor, Inc.",Volume_For_Dollar,8.41,11.73
23,"Central City Liquor, Inc.",cheap,6.09,16.19
24,"Central City Liquor, Inc.",moderately_high,16.47,2.10

In [26]:
final_clusters.groupby(['cluster_name']).agg({'Num_Stores_Selling':'nunique'})

                   Num_Stores_Selling
cluster_name
High End                           43
Popular_Bottles                    61
Volume_For_Dollar                 245
cheap                             144
moderately_high                   168
most_variety                      399
quick_shots                       269