In [1]:
import pandas as pd 
import numpy as np

In [2]:
from freq_pd import proc_freq

In [144]:
from missing_columns_pd import miss_cols

In [3]:
final_clusters = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\final_clusters.csv',dtype={'Item_Number':str}, index_col=0)

In [4]:
final_clusters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4301 entries, 1 to 4457
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Item_Number         4301 non-null   object
 1   Item_Description    4301 non-null   object
 2   Bottle_Volume       4301 non-null   int64
 3   Bottle_Retail       4301 non-null   float64
 4   Bottles_Sold        4301 non-null   int64
 5   cluster_name        4301 non-null   object
 6   revenue             4301 non-null   float64
 7   Num_Stores_Selling  4301 non-null   int64
 8   New_Category_Name   4301 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 336.0+ KB

In [5]:
final_clusters.Item_Number.nunique()

4301

clean up final clusters

In [6]:
# correct volumns of items 750,200,1000
# final_clusters[final_clusters.duplicated(subset='Item_Number',keep=False)].drop(index=[846,2284,2855])

In [7]:
# final_clusters.loc[[846,2284,2855],:]

In [8]:
# final_clusters = final_clusters.drop(index=[846,2284,2855])

In [9]:
# final_clusters.to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\final_clusters.csv')

End clean up final clusters

need to exlcude poor data quality items

In [10]:
poor_data_quality_items = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\poor_data_quality_items.csv',dtype={'Item_Number':str,'Category':str},index_col=0)

In [11]:
poor_data_quality_items.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 13 to 4387
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Item_Number         159 non-null    object
 1   Item_Description    159 non-null    object
 2   Bottle_Volume       159 non-null    int64
 3   Bottle_Retail       159 non-null    float64
 4   Bottles_Sold        159 non-null    int64
 5   Num_Stores_Selling  159 non-null    int64
 6   revenue             159 non-null    float64
 7   Category            159 non-null    object
 8   Category_Name       159 non-null    object
 9   New_Category_Name   159 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 13.7+ KB

In [12]:
poor_data_quality_items = poor_data_quality_items['Item_Number']

need to exclude outliers

In [13]:
outliers = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\kmeans_outliers.csv',dtype={'Item_Number':str}, index_col=0)

In [14]:
outliers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 1338 to 2035
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Item_Number         12 non-null     object
 1   Item_Description    12 non-null     object
 2   Bottle_Volume       12 non-null     int64
 3   Bottle_Retail       12 non-null     float64
 4   Bottles_Sold        12 non-null     int64
 5   Num_Stores_Selling  12 non-null     int64
 6   revenue             12 non-null     float64
 7   Category            12 non-null     int64
 8   Category_Name       12 non-null     object
 9   New_Category_Name   12 non-null     object
dtypes: float64(2), int64(4), object(4)
memory usage: 1.0+ KB

In [15]:
outliers = outliers['Item_Number']

In [16]:
tdtypes = {'Store_Number':str,'Vendor_Number':str,'Item_Number':str, 'Category':str}

In [17]:
trans = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\transactions_2021.csv',dtype=tdtypes, index_col=0)

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [18]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622712 entries, 0 to 2622711
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   Vendor_Number       object
 1   Store_Number        object
 2   Item_Number         object
 3   Date                object
 4   Bottle_Volume       int64
 5   Volume_Sold_Liters  float64
 6   Bottles_Sold        int64
 7   Sales               float64
 8   Bottle_Cost         float64
 9   Bottle_Retail       float64
 10  Category            object
 11  trans_date          object
 12  Pack                int64
dtypes: float64(4), int64(3), object(6)
memory usage: 280.1+ MB

read in stores data

In [19]:
stores = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\stores_2021.csv',index_col=0, dtype={'Store_Number':str})

In [20]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1948 entries, 223124 to 1094183
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Store_Number    1948 non-null   object
 1   Store_Name      1948 non-null   object
 2   Address         1948 non-null   object
 3   City            1948 non-null   object
 4   Zip_Code        1948 non-null   int64
 5   Store_Location  1790 non-null   object
 6   County_Number   1948 non-null   int64
 7   County          1948 non-null   object
dtypes: int64(2), object(6)
memory usage: 137.0+ KB

In [21]:
# item_trans_category = item_trans_category.merge(products, how='inner', on=['Item_Number','Category'])

merge stores with trans data

In [22]:
store_trans = stores.merge(trans, how='inner', on=['Store_Number'])

In [23]:
store_trans.shape

(2622712, 20)

In [24]:
# new_df = sales[~sales.CustomerID.isin(badcu)]

exclude poor data quality items

In [25]:
store_trans = store_trans[~store_trans['Item_Number'].isin(poor_data_quality_items)]
store_trans.shape

(2491651, 20)

exclude outliers

In [26]:
store_trans = store_trans[~store_trans['Item_Number'].isin(outliers)]
store_trans.shape

(2473851, 20)

In [27]:

store_trans.Item_Number.nunique()

4301

In [28]:
store_trans.info()
# list(store_trans.columns)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2473851 entries, 0 to 2622711
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   Store_Number        object
 1   Store_Name          object
 2   Address             object
 3   City                object
 4   Zip_Code            int64
 5   Store_Location      object
 6   County_Number       int64
 7   County              object
 8   Vendor_Number       object
 9   Item_Number         object
 10  Date                object
 11  Bottle_Volume       int64
 12  Volume_Sold_Liters  float64
 13  Bottles_Sold        int64
 14  Sales               float64
 15  Bottle_Cost         float64
 16  Bottle_Retail       float64
 17  Category            object
 18  trans_date          object
 19  Pack                int64
dtypes: float64(4), int64(5), object(11)
memory usage: 396.4+ MB

In [29]:
store_trans.groupby(['Store_Number','Store_Name'])['Item_Number'].unique()

Store_Number  Store_Name
2106          Hillstreet News and Tobacco          [37338, 86887, 69667, 916850, 36904, 10802, 36...
2130          Sycamore Convenience                 [85526, 37417, 28625, 88767, 43387, 24457, 144...
2178          Double D Liquor Store                [35916, 75213, 64776, 52599, 41848, 35918, 433...
2190          Central City Liquor, Inc.            [6105, 84496, 52806, 27237, 40594, 904552, 891...
2191          Keokuk Spirits                       [64816, 28886, 82847, 64867, 84170, 903771, 43...
                                                                         ...
9042          American Heritage Distillers, LLC    [37131, 86560, 986567, 926624, 86025, 999930, ...
9046          Rock River Distillation Company                           [17658, 26405, 17659, 26436]
9047          Revelton Distilling Company          [37630, 86420, 39300, 31979, 33180, 31985, 262...
9048          Artisan Grain Distillery                              [946008, 926297, 925514, 937455]
9049          TYCOGA Vineyard & Winery                                              [926093, 938201]
Name: Item_Number, Length: 1948, dtype: object

merge store_trans_data with final_clusters to append the cluster information

In [30]:
store_trans_cluster = store_trans[['Store_Number',
 'Store_Name',
 'Address',
 'City',
 'Zip_Code',
 'Store_Location',
 'County_Number',
 'County',
 'Vendor_Number',
 'Item_Number','Category']].merge(final_clusters, how='inner', on=['Item_Number'])

create a DataFrame with the number of unique items in each store

In [89]:
nunique_per_store_df = store_trans.groupby(['Store_Number','Store_Name']).agg({'Item_Number':'nunique'}).reset_index()
nunique_per_store_df.rename({'Item_Number':'num_unique_items'} ,axis=1, inplace=True)
print('nunique_per_store_df shape: ',nunique_per_store_df.shape)

nunique_per_store_df shape:  (1948, 3)

In [91]:
nunique_per_store_df.sort_values(by='num_unique_items', ascending=False).head(25)

# nunique_per_store_df

,Store_Number,Store_Name,num_unique_items
3,2190,"Central City Liquor, Inc.",2025
403,4129,Cyclone Liquors,1983
1829,6132,Dubuque Wine & Spirits,1966
93,2614,Hy-Vee #3 Food & Drugstore / Davenport,1893
290,3773,Benz Distributing,1823
926,4988,Happy's Wine & Spirits,1709
26,2515,Hy-Vee Food Store #1 / Mason City,1689
1924,6242,Wall to Wall Wine and Spirits / West Des Moines,1679
116,2648,Hy-Vee #4 / WDM,1616
39,2538,Hy-Vee Food Store #3 / Waterloo,1604
1848,6151,University Liquors / WDM,1589
64,2572,Hy-Vee Food Store / Cedar Falls,1583
140,2675,Hy-Vee #2 / Coralville,1572
1740,6035,Bootlegging Barzinis,1555
135,2670,Hy-Vee Food Store / Coralville,1547
96,2619,Hy-Vee Wine and Spirits / WDM,1511
17,2501,Hy-Vee #2 / Ames,1507
85,2603,Hy-Vee Wine and Spirits / Bettendorf,1472
1272,5514,Johncy's Liquor Store,1468
1230,5444,Marshall Beer Wine Spirits,1463
1650,5941,Prime Mart - Cedar Falls,1450
108,2633,Hy-Vee #3 / BDI / Des Moines,1449
24,2512,Hy-Vee Wine and Spirits / Iowa City,1438
361,3990,Cork and Bottle / Oskaloosa,1413
18,2502,Hy-Vee Wine and Spirits / Ankeny,1404

In [93]:

first5= [string[0:5] for string in nunique_per_store_df.Store_Name.str.lower()]  #1948
print('len(first5) = ',len(first5))

nunique_per_store_df['first5'] = pd.Series(first5)
nunique_per_store_df.head(3)

len(first5) =  1948

  Store_Number                   Store_Name  num_unique_items first5
0         2106  Hillstreet News and Tobacco               625  hills
1         2130         Sycamore Convenience               538  sycam
2         2178        Double D Liquor Store                39  doubl

In [113]:
first5_store_list_df = nunique_per_store_df.groupby(['first5'])['Store_Name'].unique().reset_index()
first5_store_list_df.rename({'Store_Name':'store_name_list'} ,axis=1, inplace=True)
first5_store_list_df.head()
# first5_store_list_df.shape #470

  first5                      store_name_list
0  'da b         ['Da Booze Barn / West Bend]
1  10th   [10th Hole Inn & Suite / Gift Shop]
2  16th          [16th Ave BP / Cedar Rapids]
3  1st a          [1st Ave BP / Cedar Rapids]
4  1st s             [1st Stop Beverage Shop]

In [105]:
# first5_store_len_list_df = 
first5_store_len_list_df = nunique_per_store_df.groupby(['first5'])['Store_Name'].nunique().reset_index()
first5_store_len_list_df.rename({'Store_Name':'nunique_stores'} ,axis=1, inplace=True)
first5_store_len_list_df.head()

  first5  nunique_stores
0  'da b               1
1  10th                1
2  16th                1
3  1st a               1
4  1st s               1

In [143]:
pd.set_option('display.max_rows', 500)
print('More than one store: ',sum(chain_check.nunique_stores > 1))
chain_check = chain_check.reset_index()
chain_check.head()

More than one store:  132

,level_0,index,first5,store_name_list,nunique_stores
0,0,71,casey,"[Casey's General Store #3031 / Garner, Casey's...",517
1,1,205,hy-ve,"[Hy-Vee Food Store #1 / Ames, Hy-Vee #2 / Ame...",181
2,2,141,farew,"[Fareway Stores #639 / Maquoketa, Fareway Stor...",107
3,3,241,kum &,"[Kum & Go #301 / Clear Lake, Kum & Go #302 / C...",104
4,4,451,walgr,"[Walgreens #12393 / Cedar Rapids, Walgreens #1...",69

In [ ]:
["Casey's General Store","Fareway Stores", "'Kum & Go",'Walgreens '] ['Hy-Vee','Hy-Vee Wine and Spirits'], []

In [133]:
chain_check = first5_store_list_df.merge(first5_store_len_list_df, how='inner', on=['first5'])
chain_check = chain_check.sort_values(by='nunique_stores', ascending=False)
print('chain_check shape= ',chain_check.shape)
for lst in chain_check.store_name_list:
    print(lst)

chain_check shape=  (470, 3)
["Casey's General Store #3031 / Garner"
 "Casey's General Store #92 / Panora"
 "Casey's General Store #2787 / Cedar Rapids"
 "Casey's General Store #2763 / Cedar Rapids"
 "Casey's General Store #2766 / Cedar Rapids"
 "Casey's General Store #2772 / Cedar Rapids"
 "Casey's General Store #2773 / Cedar Rapids"
 "Casey's General Store #2850 / Cedar Rapids"
 "Casey's General Store #3055 / Grundy Center"
 "Casey's General Store #20 / Alden"
 "Casey's General Store #1316 / Milford"
 "Casey's General Store #2788 / North Liberty"
 "Casey's General Store #38 / Treynor"
 "Casey's General Store #2816 / Johnston"
 "Casey's General Store #2667 / Tiffin"
 "Casey's General Store #2902 / Spencer"
 "Casey's General Store #2877 / Spencer"
 "Casey's General Store #1007 / Malvern"
 "Casey's General Store #1144 / Polk City"
 "Casey's General Store #2813 / Fort Dodge"
 "Casey's General Store #1588 / Dows"
 "Casey's General Store #1569 / Oakland"
 "Casey's General Store #2767 / Cedar Rapids"
 "Casey's General Store #2824 / WDM" "Casey's General Store #2923 / WDM"
 "Casey's General Store #2842 / Huxley"
 "Casey's General Store #1002 / Grand Junction"
 "Casey's General Store #2523 / Monroe"
 "Casey's General Store #2563 / Exira"
 "Casey's General Store #1139 / Nora Springs"
 "Casey's General Store #30 / Gilmore City"
 "Casey's General Store #3262 / Buffalo"
 "Casey's General Store #2566 / Ely" "Casey's General Store #2626 / Afton"
 "Casey's General Store #2274 / Sioux Rapids"
 "Casey's General Store #1985 / St. Ansgar"
 "Casey's General Store #2421 / Dubuque"
 "Casey's General Store #2420 / Dubuque"
 "Casey's General Store #1834 / Leon"
 "Casey's General Store #40 / Scranton"
 "Casey's General Store #2915 / Bellevue"
 "Casey's General Store #1045 / Delmar"
 "Casey's General Store #2994 / Lauren"
 "Casey's General Store #2924 / Marion"
 "Casey's General Store #1898 / Osceola"
 "Casey's General Store #2303 / Glidden"
 "Casey's General Store #2594 / Walker"
 "Casey's General Store #2913 / Colo"
 "Casey's General Store #2845 / Urbana"
 "Casey's General Store #2493 / Buffalo"
 "Casey's General Store #1892 / Sheffield"
 "Casey's General Store #2614 / Donnellson"
 "Casey's General Store #2552 / Goldfield"
 "Casey's General Store #2914 / Harlan"
 "Casey's General Store #2989 / Mechanicsville"
 "Casey's General Store #2357 / Allison"
 "Casey's General Store #1330 / Hamburg"
 "Casey's General Store #2304 / Slater"
 "Casey's General Store #2551 / Woodward"
 "Casey's General Store #2592 / Farmington"
 "Casey's General Store #2561 / Farley"
 "Casey's General Store #3045 / Cedar Falls"
 "Casey's General Store #3052 / Clarion"
 "Casey's General Store #1024 / Gutten"
 "Casey's General Store #3050 / Council Bluffs"
 "Casey's General Store #2992 / Fonda"
 "Casey's General Store #23 / Maxwell"
 "Casey's General Store #1493 / Van Meter"
 "Casey's General Store #1388 / Sully"
 "Casey's General Store #2300 / Jewell"
 "Casey's General Store #1617 / Jefferson"
 "Casey's General Store #2237 / Prairie City"
 "Casey's General Store #2301 / Ames"
 "Casey's General Store #2526 / Wellsburg"
 "Casey's General Store #3027 / Iowa Falls"
 "Casey's General Store #2802 / Conrad"
 "Casey's General Store #3077 / Peosta"
 "Casey's General Store #24 / Boone"
 "Casey's General Store #2896 / Ankeny"
 "Casey's General Store #1548 / Ankeny"
 "Casey's General Store #2284 / Council Bluffs"
 "Casey's General Store #2521 / Adair"
 "Casey's General Store #3075 / Ankeny"
 "Casey's General Store #3080 / Hudson"
 "Casey's General Store #3034 / Estherville"
 "Casey's General Store #37 / Dakota City"
 "Casey's General Store #3730 / Paullina"
 "Casey's General Store #3782 / Mount Ayr"
 "Casey's General Store #3043 / Britt"
 "Casey's General Store #3079 / Early"
 "Casey's General Store #2529 / Lamoni"
 "Casey's General Store #1684 / Emmetsburg"
 "Casey's General Store #2835 / Avoca"
 "Casey's General Store #1706 / Winterset"
 "Casey's General Store #2899 / De Soto"
 "Casey's General Store #1327 / Lovilia"
 "Casey's General Store #3217 / Knoxville"
 "Casey's General Store #3215 / Oskaloosa"
 "Casey's General Store #3223 / Creston"
 "Casey's General Store #3852 / Creston"
 "Casey's General Store #3212 / Osceola"
 "Casey's General Store #3228 / Marshalltown"
 "Casey's General Store #2448 / Ogden"
 "Casey's General Store #3029 / Armstrong"
 "Casey's General Store #3200 / Strawberry Point"
 "Casey's General Store #2644 / Earlham"
 "Casey's General Store #2559 / Granger"
 "Casey's General Store #1567 / Anita"
 "Casey's General Store #3026 / St Charles"
 "Casey's General Store #3210 / Urbandale"
 "Casey's General Store #3098 / WDM"
 "Casey's General Store #1061 / Princeton"
 "Casey's General Store #2531 / Eldridge"
 "Casey's General Store #2429 / Bettendorf"
 "Casey's General Store #2270 / Aurelia"
 "Casey's General Store #1680 / Adel"
 "Casey's General Store #3251 / Boone"
 "Casey's General Store #2811 / Springville"
 "Casey's General Store #3042 / Brooklyn"
 "Casey's General Store #2519 / Merrill"
 "Casey's General Store #3322 / Iowa City"
 "Casey's General Store #2680 / Clarks"
 "Casey's General Store #3319 / Nevada"
 "Casey's General Store #3205 / Counci"
 "Casey's General Store #3384 / Solon"
 "Casey's General Store #3309 / Montez"
 "Casey's General Store #3202 / Cresce"
 "Casey's General Store #3220 / Greenf"
 "Casey's General Store #1125 / Humest"
 "Casey's General Store #3382 / Cedar"
 "Casey's General Store #2318 / Montro"
 "Casey's General Store #2777 / Fairfa"
 "Casey's General Store #1705 / Lake M"
 "Casey's General Store #2096 / Counci"
 "Casey's General Store #2489 / Deniso"
 "Casey's General Store #3035 / Atlant"
 "Casey's General Store #2365 / Atlant"
 "Casey's General Store #2778 / Cedar"
 "Casey's General Store #2164 / Ankeny"
 "Casey's General Store #3404 / Carlis"
 "Casey's General Store #2612 / Missou"
 "Casey's General Store #3442 / Maplet"
 "Casey's General Store #2518 / Lohrvi"
 "Casey's General Store #2815  /  Vict"
 "Casey's General Store #1020  / Le Cl"
 "Casey's General Store #1414  / State"
 "Casey's General Store #3204 / Minden"
 "Casey's General Store #3434  /  Denv"
 "Casey's General Store #77 / Cascade"
 "Casey's General Store #3440 / Camanc"
 "Casey's General Store #3452 / West U"
 "Casey's General Store #1534 / Guthri"
 "Casey's General Store #3203 / Counci"
 "Casey's General Store #2900 / Gilber"
 "Casey's General Store #2683  /  Runn"
 "Casey's General Store #1511 / Seymou"
 "Casey's General Store #1503 / Tabor"
 "Casey's General Store #3422 / Norwal"
 "Casey's General Store #27  /  Audubo"
 "Casey's General Store #2640 / Pleasa"
 "Casey's General Store #3473 / Dubuqu"
 "Casey's General Store #3463 / West B"
 "Casey's General Store #3476 / Forest"
 "Casey's General Store # 1331/ Sac City"
 "Casey's General Store # 2177/Mitchel"
 "Casey's General Store # 2783/ Urband"
 "Casey's General Store # 2598/ Pella"
 "Casey's General Store # 2417/ Newton"
 "Casey's General Store # 3502/ Stanto"
 "Casey's General Store # 2560/ Ames"
 "Casey's General Store # 3508/ Marsha"
 "Casey's General Store # 2653 / Toledo"
 "Casey's General Store # 3513/ Belle Plaine"
 "Casey's General Store # 1536/ George"
 "Casey's General Store # 3507/ Grimes"
 "Casey's General Store # 3509/ Carter Lake"
 "Casey's General Store # 2607/ Sioux City"
 "Casey's General Store # 3564/ Robins"
 "Casey's General Store # 3562/ Marion"
 "Casey's General Store # 3565/ Tripoli"
 "Casey's General Store # 3523/ Eldridge"
 "Casey's General Store # 3561/ Cedar Rapids"
 "Casey's General Store # 2253/ Clive"
 "Casey's General Store # 2618/ Fredricksburg"
 "Casey's General Store # 2169/ Independence"
 "Casey's General Store # 3518/ Des Moines"
 "Casey's General Store # 2687/ Hawarden"
 "Casey's General Store # 2517/ Rockwell City"
 "Casey's General Store # 2543/ Albion"
 "Casey's General Store # 3546/ Monona"
 "Casey's General Store # 2870/ Altoona"
 "Casey's General Store # 1753/ Northwood"
 "Casey's General Store # 2698/ Perry"
 "Casey's General Store # 2494/ Eagle Grove"
 "Casey's General Store # 3054/ Webster City"
 "Casey's General Store # 2511/ Cresco"
 "Casey's General Store # 1896/ Clear Lake"
 "Casey's General Store # 1861/ Bondurant"
 "Casey's General Store # 1799/ Osage"
 "Casey's General Store #2183/Decorah"
 "Casey's General Store # 3512/ Indianola"
 "Casey's General Store # 2774/Amana"
 "Casey's General Store # 2272/Colfax"
 "Casey's General Store # 1876/Manly"
 "Casey's General Store # 2918/ Coralville"
 "Casey's General Store # 2528/ Williamsburg"
 "Casey's General Store # 1441/ Marshalltown"
 "Casey's General Store # 2179/ Waukee"
 "Casey's General Store # 1029/ Tama"
 "Casey's General Store # 2792/Cedar Rapids"
 "Casey's General Store # 2780/Cedar Rapids"
 "Casey's General Store # 3604/Hinton"
 "Casey's General Store # 2212/ Cedar Rapids"
 "Casey's General Store # 2789/ Cedar Rapids"
 "Casey's General Store # 2781/ Iowa City"
 "Casey's General Store # 2211/ Fort Dodge"
 "Casey's General Store # 1591/ Decorah"
 "Casey's General Store # 2817/ Griswold"
 "Casey's General Store #1653 / Corning"
 "Casey's General Store #95 / Dexter"
 "Casey's General Store #3293 / Marquette"
 "Casey's General Store #3587 / Burlington"
 "Casey's General Store #3534 / Clermont"
 "Casey's General Store #3385 / Orange City"
 "Casey's General Store #3610 / Cedar Falls"
 "Casey's General Store #1550 / Winfield"
 "Casey's General Store #3617 / Grinnell"
 "Casey's General Store #3566 / Pella"
 "Casey's General Store #2168 / Davenport"
 "Casey's General Store #3639 / Postville"
 "Casey's General Store #3648 / Akron"
 "Casey's General Store #3640 / Waukee"
 "Casey's General Store #3653 / Greene"
 "Casey's General Store #3674 / Sioux City"
 "Casey's General Store #2097 / Indianola"
 "Casey's General Store #2490 / Story City"
 "Casey's General Store #1901 / Des Moines"
 "Casey's General Store #2447 / Sergeant Bluff"
 "Casey's General Store #2550 / Osceola"
 "Casey's General Store #2578 / Maquoketa"
 "Casey's General Store #2541 / Bedford"
 "Casey's General Store #2834 / Lenox"
 "Casey's General Store #91 / Dallas Center"
 "Casey's General Store #2341 / Newton"
 "Casey's General Store #3024 / Mediapolis"
 "Casey's General Store #2628 / Lake City"
 "Casey's General Store #2515 / Dayton"
 "Casey's General Store #2764 / Hiawatha"
 "Casey's General Store #2769 / Williamsburg"
 "Casey's General Store #2905 / Ames"
 "Casey's General Store #2222 / Clinton"
 "Casey's General Store #2891 / Fort Dodge"
 "Casey's General Store #2014 / Fort Dodge"
 "Casey's General Store #1280 / Fort Dodge"
 "Casey's General Store #32 / Madrid"
 "Casey's General Store #2553 / Redfield"
 "Casey's General Store #3082 / Carroll"
 "Casey's General Store #2785 / Ankeny"
 "Casey's General Store #2689 / Ankeny"
 "Casey's General Store #2478 / New Sharon"
 "Casey's General Store #2765 / Cedar Rapids"
 "Casey's General Store #2776 / Cedar Rapids"
 "Casey's General Store #2782 / Cedar Rapids"
 "Casey's General Store #2790 / Cedar Rapids"
 "Casey's General Store #2768 / Cedar Rapids"
 "Casey's General Store #2760 / Marion"
 "Casey's General Store #2919 / Marion"
 "Casey's General Store #3449 / Wapello"
 "Casey's General Store #2 / Boone"
 "Casey's General Store #2488 / N English"
 "Casey's General Store #1398 / Roland"
 "Casey's General Store #2498 / Wapello"
 "Casey's General Store #2544 / New London"
 "Casey's General Store #2533 / Marengo"
 "Casey's General Store #1941 / Ankeny"
 "Casey's General Store #1682 / Oskaloosa"
 "Casey's General Store #1889 / Monticello"
 "Casey's General Store #2585 / Dyersville"
 "Casey's General Store #2480 / Charles City"
 "Casey's General Store #1599 / Mt Vernon"
 "Casey's General Store #1416 / New Hampton"
 "Casey's General Store #3294 / Urbana"
 "Casey's General Store #2634 / Edgewood"
 "Casey's General Store #2682 / Oelwein"
 "Casey's General Store #2690 / Anamosa"
 "Casey's General Store #2908 / Anamosa"
 "Casey's General Store #66 / LaPorte City"
 "Casey's General Store #2624 / Manchester"
 "Casey's General Store #2520 / Grimes"
 "Casey's General Store #2623 / Fairbank"
 "Casey's General Store #2513 / Nashua"
 "Casey's General Store #1446 / Lisbon"
 "Casey's General Store #3041 / Elk Run Heights"
 "Casey's General Store #2874 / Riceville"
 "Casey's General Store #3044 / Sheldon"
 "Casey's General Store #1065 / Asbury"
 "Casey's General Store #2275 / Sioux City"
 "Casey's General Store #3009 / Sioux City"
 "Casey's General Store #3757 / Ida Grove"
 "Casey's General Store #68 / Alton"
 "Casey's General Store #3371 / New Hartford"
 "Casey's General Store #1729 / Arlington"
 "Casey's General Store #3717 / Vinton"
 "Casey's General Store #3679 / Storm Lake"
 "Casey's General Store #45 / Des Moines"
 "Casey's General Store #2821 / Gladbrook"
 "Casey's General Store #2697 / Onawa"
 "Casey's General Store #3756 / Cedar Rapids" "Casey's #1025 /Kalona"
 "Casey's #3770 - Glenwood" "Casey's #3746 / Grimes"
 "Casey's #3763 -Waverly" "Casey's General Store #2864/Evansdale"
 "Casey's #2866-Waterloo" "Casey's General Store #3789"
 "Casey's General Store #1303" "Casey's General Store #1921- Ackley"
 "Casey's General Store #2538-Waukee" "Casey's General Store #3772"
 "Casey's General Store #3291" "Casey's General Store #1455"
 "Casey's General Store #3327 / Fairfield"
 "Casey's General Store #1624 / Washington" "Casey's General Store #3292"
 "Casey's General Store #3037 / Cherokee"
 "Casey's General Store #3201 / Council Bluffs"
 "Casey's General Store #1887 / Cedar Falls"
 "Casey's General Store #3025 / Carroll"
 "Casey's General Store #2920 / Ankeny"
 "Casey's General Store #2346 / Burlington"
 "Casey's General Store #2481 / Bloomfield"
 "Casey's General Store #2639 / Maynard"
 "Casey's General Store #2342 / Burlington"
 "Casey's General Store #0007 / Ottumwa"
 "Casey's General Store #1577 / Albia"
 "Casey's General Store #1651 / Albia"
 "Casey's General Store #51 / Humboldt"
 "Casey's General Store #42 / Wellman"
 "Casey's General Store #72 / Tipton"
 "Casey's General Store #1315 / Arnolds Park"
 "Casey's General Store #1329 / Estherville"
 "Casey's General Store #1374 / Colfax"
 "Casey's General Store #1484 / Muscatine"
 "Casey's General Store #2906 / Muscatine"
 "Casey's General Store #2944 / Muscatine"
 "Casey's General Store #1678 / Ottumwa"
 "Casey's General Store #1886 / Ottumwa"
 "Casey's General Store #2208 / Ottumwa"
 "Casey's General Store #2427 / Waterloo"
 "Casey's General Store #2867 / Waterloo"
 "Casey's General Store #1062 / Winterset"
 "Casey's General Store #2239 / Independence"
 "Casey's General Store #3854  / Manchester"
 "Casey's General Store #1378 / Jesup"
 "Casey's General Store #2890 / West Liberty"
 "Casey's General Store #2610 / Atlantic"
 "Casey's General Store #2474 / Huxley"
 "Casey's General Store #1609 / Eldon"
 "Casey's General Store #2630 / Cedar Falls"
 "Casey's General Store #2898 / Clarence" "Casey's General Store #3606"
 "Casey's General Store #2319 / Ft Madison"
 "Casey's General Store #2023 / Ft Madison"
 "Casey's General Store #2491 / Clarinda"
 "Casey's General Store #2779 / Coralville"
 "Casey's General Store #2699 / Essex"
 "Casey's General Store #1277 / Fort Dodge"
 "Casey's General Store #2512 / Hills"
 "Casey's General Store #1166 / Hull"
 "Casey's General Store #2060 / Pocahontas"
 "Casey's General Store #2672 / Sanborn"
 "Casey's General Store #1265 / Sibley"
 "Casey's General Store #1922 / Walcott"
 "Casey's General Store #61 / Wilton"
 "Casey's General Store #1541 / West Bend"
 "Casey's General Store #1649 / Waverly"
 "Casey's General Store #3528 / Washington"
 "Casey's General Store #2472 / Nichols"
 "Casey's General Store #2647 / Center Point"
 "Casey's General Store #3718 / Pleasant Hill"
 "Casey's General Store #3333 / Pleasant Hill"
 "Casey's General Store #2030 / Clinton"
 "Casey's General Store #2229 / Osage"
 "Casey's General Store #1159 / Correctionville"
 "Casey's General Store #1028 / Middletown"
 "Casey's General Store #1373 / Bondurant"
 "Casey's General Store #26 / Perry"
 "Casey's General Store #2576 / What Cheer"
 "Casey's General Store #2629 / Riverside"
 "Casey's General Store #2487 / Spirit Lake"
 "Casey's General Store #2791 / Cedar Rapids"
 "Casey's General Store #2916 / Altoona"
 "Casey's General Store #1950 / Grinnell"
 "Casey's General Store #2894 / Indianola"
 "Casey's General Store #2530 / Alta"
 "Casey's General Store #57 / Eddyville"
 "Casey's General Store #3645 / Lone Tree"
 "Casey's General Store #2836 / Monroe"
 "Casey's General Store #2431 / Sioux Center"
 "Casey's General Store #1695 / Solon"
 "Casey's General Store #2019 / West Burlington"
 "Casey's General Store #2595 / Keokuk"
 "Casey's General Store #2636 / Keokuk"
 "Casey's General Store #3858 - Iowa City"
 "Casey's General Store #1911 / Newton"
 "Casey's General Store #1828 / Webster City"
 "Casey's General Store #1605 / Hampton"
 "Casey's General Store #1546 / Fremont"
 "Casey's General Store #1417 / Iowa Falls"
 "Casey's General Store #3961 / Marcus"
 "Casey's General Store #1612 / Mount Pleasant"
 "Casey's General Store #2681 / Okoboji"
 "Casey's General Store #2306 / Nevada"
 "Casey's General Store #3826 - Adel"
 "Casey's General Store #3827- Ankeny"
 "Casey's General Store #2684 - Durant"
 "Casey's General Store #74 - Morning Sun"
 "Casey's General Store #2256 - DeWitt"
 "Casey's General Store #1068 - Davenport"
 "Casey's General Store #2803 / Villisca"
 "Casey's General Store #1659 / Ankeny"
 "Casey's General Store #3439 / Lime Springs"
 "Casey's General Store #67 / Sumner"
 "Casey's General Store #2392 / Johnston"
 "Casey's General Store #2786 / Des Moines"
 "Casey's General Store #3880 / Waterloo"
 "Casey's General Store #1126 / Wyoming"
 "Casey's General Store #1427 / Clear Lake"
 "Casey's General Store #2584  / Ossian"
 "Casey's General Store #2099 / Clive"
 "Casey's General Store #3896 / Center Point"
 "Casey's General Store #2694 / Pella"
 "Casey's General Store #1762 / Algona"
 "Casey's General Store #2364 / Urbandale"
 "Casey's General Store #3899 / Cedar Rapids"
 "Casey's General Store #3898 / Anamosa"
 "Casey's General Store #3900 / Riverside"
 "Casey's General Store #1938 / Altoona"
 "Casey's General Store #63 / Rock Rapids"
 "Casey's General Store #62 / Pomeroy"
 "Casey's General Store #1798 / Forest City"
 "Casey's General Store #3032 / Chariton"
 "Casey's General Store #1499 / Chariton"
 "Casey's General Store #22 / Chariton"
 "Casey's General Store #1728 / Red Oak"
 "Casey's General Store #1496 / Red Oak"
 "Casey's General Store #3288 / Blue Grass"
 "Casey's General Store #1623 / Indianola"
 "Casey's General Store #1908 / Indianola"
 "Casey's General Store #14 / Carlisle"
 "Casey's General Store #1676 / Carlisle"
 "Casey's General Store #2422 / Creston"
 "Casey's General Store #2305 / Belmond"
 "Casey's General Store #2460 / Algona"
 "Casey's General Store #2665 / Woodbine"
 "Casey's General Store #2527 / Sheldon"
 "Casey's General Store #3244 / Urbandale"
 "Casey's General Store #6 / Altoona"
 "Casey's General Store #1997 / Waukon"
 "Casey's General Store #3214 / Oskaloosa"
 "Casey's General Store #2350 / Oskaloosa"
 "Casey's General Store #2366 / Oskaloosa"
 "Casey's General Store #2479 / North Liberty"
 "Casey's General Store #1527 / Grinnell"
 "Casey's General Store #1134 / Grinnell"
 "Casey's General Store #1610 / Knoxville"
 "Casey's General Store #1827 / Knoxville"
 "Casey's General Store #1894 / Spencer"
 "Casey's General Store #3396 / Sigourney"
 "Casey's General Store #1328 / Estherville"
 "Casey's General Store #1714 / Fairfield"
 "Casey's General Store #2771 / Cedar Rapids"
 "Casey's General Store #1131 / Dysart"
 "Casey's General Store #2597 / Sloan"
 "Casey's General Store #2298 / Ames"
 "Casey's General Store #2659 / Columbus Junction"
 "Casey's General Store #2865 / Cedar Falls"
 "Casey's General Store #2635 / Johnston"
 "Casey's General Store #1910 / Johnston"
 "Casey's General Store #1081 / Fontanelle"
 "Casey's General Store #1084 / Evansdale"

In [31]:
store_trans_cluster.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2473851 entries, 0 to 2473850
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   Store_Number        object
 1   Store_Name          object
 2   Address             object
 3   City                object
 4   Zip_Code            int64
 5   Store_Location      object
 6   County_Number       int64
 7   County              object
 8   Vendor_Number       object
 9   Item_Number         object
 10  Category            object
 11  Item_Description    object
 12  Bottle_Volume       int64
 13  Bottle_Retail       float64
 14  Bottles_Sold        int64
 15  cluster_name        object
 16  revenue             float64
 17  Num_Stores_Selling  int64
 18  New_Category_Name   object
dtypes: float64(2), int64(5), object(12)
memory usage: 377.5+ MB

In [53]:
store_trans_cluster.groupby(['New_Category_Name']).agg({'revenue':['sum'],'Item_Number':['count','nunique']}).reset_index()

                       New_Category_Name       revenue Item_Number
                                                   sum       count nunique
0   American Distilled Spirits Specialty  1.645232e+09       10088      60
1                                Bourbon  1.006534e+11      195311     379
2                               Brandies  8.676917e+10      117366     176
3                              Cocktails  1.988163e+10       84354     172
4            Distilled Spirits Specialty  5.642070e+06         201       1
5                                    Gin  1.629416e+10       72862     171
6   Imported Distilled Spirits Specialty  1.528733e+09        4697      74
7                                Liquers  5.858258e+10      185725     351
8                                 Mezcal  1.188076e+08        2336      50
9                  Neutral Grain Spirits  1.694402e+09        5302      13
10        Neutral Grain Spirits Flavored  2.696053e+09       13380      26
11                                   Rum  2.265617e+11      252606     342
12                              Schnapps  3.307746e+10      120755     129
13                                Scotch  8.694272e+09       56826     235
14                   Special Order Items  4.987827e+07        1570     242
15        Temporary & Specialty Packages  1.059056e+10       51813     310
16                               Tequila  1.102844e+11      137296     306
17                            Triple Sec  1.508109e+09        9044      10
18                                Vodkas  6.790489e+11      604968     602
19                       Whiskey Liqueur  1.564066e+11      104296      51
20                              Whiskies  6.555507e+11      443055     601

create a DataFrame with store number, store name, cluster name and the list of items in each cluster for each store.

In [32]:
unique_store_item_list_df = store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name'])['Item_Number'].unique().reset_index()
unique_store_item_list_df

,Store_Number,Store_Name,cluster_name,Item_Number
0,2106,Hillstreet News and Tobacco,Cheap,"[37997, 73055, 19067, 69657, 89197, 19476, 481..."
1,2106,Hillstreet News and Tobacco,High_End,"[903179, 905960, 87078, 916809, 924575]"
2,2106,Hillstreet News and Tobacco,Moderately_High,"[26906, 49086, 5036, 87485, 927041, 21540, 478..."
3,2106,Hillstreet News and Tobacco,Most_Variety,"[89786, 8826, 65200, 65195, 89836, 77988, 8261..."
4,2106,Hillstreet News and Tobacco,Popular_Bottles,"[88296, 15626, 11296, 10550, 43338, 11788, 381..."
...,...,...,...,...
11458,9046,Rock River Distillation Company,Most_Variety,"[17659, 26405]"
11459,9046,Rock River Distillation Company,Quick_Shots,"[17658, 26436]"
11460,9047,Revelton Distilling Company,Most_Variety,"[37630, 39300, 86420, 33180, 31985, 26291, 262..."
11461,9048,Artisan Grain Distillery,Most_Variety,"[946008, 926297, 925514, 937455]"
11462,9049,TYCOGA Vineyard & Winery,Most_Variety,"[926093, 938201]"

In [33]:
unique_store_item_list_df.rename({'Item_Number':'store_unique_items'} ,axis=1, inplace=True)

create DataFrame that will be used to create a cluster dictionary

In [34]:
unique_cluster_item_list_df = final_clusters.groupby(['cluster_name'])['Item_Number'].unique().reset_index()
unique_cluster_item_list_df

        cluster_name                                        Item_Number
0              Cheap  [100423, 10791, 10802, 10804, 10805, 10808, 11...
1           High_End  [100572, 100793, 100854, 100941, 101457, 11287...
2    Moderately_High  [100148, 100306, 100600, 100618, 100619, 10079...
3       Most_Variety  [10006, 100077, 10009, 100202, 100210, 100215,...
4    Popular_Bottles  [10550, 10807, 11296, 11297, 11773, 11774, 117...
5        Quick_Shots  [100280, 100531, 100568, 100636, 100686, 10071...
6  Volume_For_Dollar  [10008, 100440, 100545, 100605, 100844, 101216...

In [35]:
unique_cluster_item_list_df.rename({'Item_Number':'cluster_unique_items'} ,axis=1, inplace=True)
unique_cluster_item_list_df

        cluster_name                               cluster_unique_items
0              Cheap  [100423, 10791, 10802, 10804, 10805, 10808, 11...
1           High_End  [100572, 100793, 100854, 100941, 101457, 11287...
2    Moderately_High  [100148, 100306, 100600, 100618, 100619, 10079...
3       Most_Variety  [10006, 100077, 10009, 100202, 100210, 100215,...
4    Popular_Bottles  [10550, 10807, 11296, 11297, 11773, 11774, 117...
5        Quick_Shots  [100280, 100531, 100568, 100636, 100686, 10071...
6  Volume_For_Dollar  [10008, 100440, 100545, 100605, 100844, 101216...

create a list of the unique items in each cluster

In [36]:
cluster_unique_items_list = list(unique_cluster_item_list_df.cluster_unique_items)
cluster_unique_items_list

[array(['100423', '10791', '10802', '10804', '10805', '10808', '11294',
        '11299', '11786', '15627', '16676', '17086', '17206', '17916',
        '17956', '18006', '19064', '19066', '19067', '19476', '19477',
        '22215', '23823', '23824', '23826', '25604', '25606', '25607',
        '26820', '26823', '26824', '27102', '27544', '27783', '28279',
        '28866', '28867', '32232', '32233', '32234', '34004', '34007',
        '34359', '34422', '34433', '34456', '34820', '35314', '35913',
        '35914', '35916', '35917', '35926', '36301', '36307', '36873',
        '36874', '36886', '36887', '36889', '36968', '36969', '36974',
        '36985', '37258', '37347', '37993', '37996', '37997', '38006',
        '38179', '39492', '40594', '41693', '41846', '42717', '43024',
        '43025', '43026', '43124', '43126', '43127', '43137', '43285',
        '43331', '43333', '44217', '45277', '48106', '49185', '49186',
        '49189', '52199', '52593', '52594', '52596', '53213', '53214',
        '53216', '65254', '65256', '65257', '65426', '66936', '67526',
        '68036', '69636', '69637', '69657', '69947', '73055', '75087',
        '76487', '82847', '84219', '86112', '86251', '86455', '86507',
        '86670', '86843', '86884', '86886', '86887', '87026', '87403',
        '87408', '87937', '88294', '89193', '89194', '89196', '89197',
        '89199', '89387', '89577'], dtype=object),
 array(['100572', '100793', '100854', '100941', '101457', '11287', '15320',
        '15639', '17186', '17196', '17920', '258', '27145', '3354', '4075',
        '4248', '4251', '4357', '4374', '4381', '4610', '47645', '48122',
        '49156', '5002', '5040', '5067', '51742', '5329', '5702', '5744',
        '57630', '57632', '57634', '57636', '86118', '866', '87078',
        '87714', '88163', '88212', '88361', '88741', '88915', '89000',
        '89152', '89164', '89820', '902086', '902137', '902180', '902623',
        '902813', '902853', '902880', '902912', '903179', '903490',
        '903639', '904046', '904486', '904522', '904614', '904829',
        '904866', '904940', '905028', '905119', '905215', '905447',
        '905613', '905960', '905964', '906019', '906264', '910642',
        '914206', '915177', '915198', '915559', '915577', '915634',
        '915639', '915708', '915743', '915848', '915978', '915985',
        '916093', '916100', '916124', '916126', '916210', '916211',
        '916567', '916678', '916809', '917192', '918379', '919320',
        '922254', '924575', '926285', '926479', '926497', '926568',
        '927506', '928166', '935863', '937252', '938187', '942263',
        '942305', '942404', '943634', '943793', '946072', '947869',
        '964358', '974834', '985535', '987184', '987187', '987192',
        '987212', '987276', '987442', '987545', '987730', '987825',
        '987927', '987953', '987955', '988209', '988213', '988281',
        '988484', '988644', '988693', '988709', '988739', '988915',
        '988917', '988979', '989210', '989328', '989330', '989625',
        '991342', '991350', '991592', '994403', '994965', '995243',
        '995735', '995932', '999912'], dtype=object),
 array(['100148', '100306', '100600', '100618', '100619', '100792',
        '100855', '100901', '101021', '101025', '101100', '101188',
        '101232', '101266', '101432', '101452', '101490', '101522',
        '101564', '101583', '101653', '101654', '10826', '10852', '11366',
        '1160', '15180', '15187', '15204', '15206', '15606', '15636',
        '15856', '15934', '15958', '15991', '15993', '15994', '16026',
        '16048', '16050', '16120', '16142', '16182', '16369', '16562',
        '16580', '16679', '16685', '16796', '16799', '16814', '16850',
        '16906', '16916', '17062', '17090', '17092', '17260', '17334',
        '17543', '17544', '17630', '17632', '17913', '17917', '18358',
        '18376', '18656', '19006', '19017', '19227', '19235', '19239',
        '19250', '19494', '19497', '19880', '20300', '20305', '20318',
        '20369', '20375', '21181', '21184', '21186', '21212', '21228',
        '21443', '21540', '21589', '217215', '21946', '22172', '22178',
        '22199', '22217', '22219', '22228', '22241', '22271', '23536',
        '25177', '25418', '25459', '25512', '26096', '26105', '26142',
        '26187', '26196', '26350', '26409', '26411', '26413', '26414',
        '26416', '26455', '26463', '26474', '26520', '26522', '26556',
        '26611', '26613', '26614', '26667', '26697', '26707', '26712',
        '26714', '26737', '26780', '26781', '26782', '26789', '26800',
        '26906', '26966', '26977', '27060', '27094', '27130', '27138',
        '27189', '27369', '27380', '27523', '27560', '27677', '27757',
        '2959', '29772', '34122', '34729', '36390', '36531', '37231',
        '37240', '37391', '4000', '4084', '4090', '4096', '4111', '4184',
        '4246', '42777', '4356', '4367', '43722', '43775', '4457', '4611',
        '46148', '4616', '4636', '4656', '4698', '4717', '47646', '47647',
        '47649', '47776', '47865', '4810', '48102', '48123', '48146',
        '48164', '48206', '4825', '4846', '49086', '4959', '4993', '5006',
        '5014', '5036', '5037', '5061', '5103', '5104', '5105', '5136',
        '5149', '5157', '5159', '51744', '52078', '5242', '5247', '529',
        '5318', '5327', '5350', '5404', '5430', '5446', '5486', '5555',
        '5633', '5683', '5696', '5700', '5745', '5747', '5842', '5918',
        '5929', '5966', '6016', '61213', '61215', '6206', '64000', '64876',
        '65127', '65156', '65232', '65536', '65793', '66056', '66665',
        '67219', '68031', '699', '72935', '73135', '74831', '76433',
        '76435', '76437', '76439', '76441', '86121', '86125', '86145',
        '86272', '86273', '86274', '86275', '86404', '86462', '86468',
        '86490', '86492', '86494', '86536', '86990', '87013', '87025',
        '87027', '87029', '87030', '87032', '87057', '87102', '87266',
        '87270', '87280', '87288', '87369', '87370', '87406', '87481',
        '87485', '87625', '87849', '87879', '87901', '87906', '88091',
        '88120', '88172', '88363', '88367', '88458', '88482', '88578',
        '88633', '88652', '88833', '88922', '88947', '88949', '89006',
        '89016', '89029', '89030', '89099', '89136', '89154', '89175',
        '89177', '89200', '89230', '89267', '89269', '89320', '89329',
        '89339', '89343', '89504', '89590', '89626', '89646', '89665',
        '89754', '89757', '900367', '900407', '900598', '901275', '901536',
        '901636', '901641', '901702', '901822', '901882', '901886',
        '901917', '902133', '902192', '902203', '902207', '902219',
        '902419', '902420', '902421', '902495', '902497', '902536',
        '902570', '902650', '902667', '902722', '902766', '902793',
        '902833', '902877', '902896', '902933', '902975', '902989',
        '903089', '903122', '903176', '903330', '903355', '903385',
        '903522', '903525', '903550', '903560', '903590', '903592',
        '903663', '903701', '903761', '903764', '903770', '903774',
        '903803', '903867', '903942', '903957', '903998', '904145',
        '904161', '904224', '904247', '904253', '904407', '904552',
        '904559', '904586', '904609', '904669', '904670', '904676',
        '904848', '904921', '904955', '904970', '905184', '905186',
        '905198', '905377', '905434', '905435', '905622', '905648',
        '905653', '905734', '905829', '905865', '905868', '905869',
        '905874', '906066', '906307', '906315', '906317', '907694',
        '907704', '911020', '912900', '914582', '914593', '914947',
        '915188', '915469', '915473', '915534', '915550', '915574',
        '915607', '915620', '915635', '915654', '915673', '915729',
        '915747', '915783', '915797', '915842', '915844', '915847',
        '915849', '915862', '915880', '915882', '915907', '915917',
        '915918', '915920', '915924', '915926', '915928', '915934',
        '915952', '915962', '915995', '915996', '915997', '916007',
        '916016', '916018', '916029', '916030', '916032', '916037',
        '916092', '916122', '916267', '916373', '916492', '916580',
        '916630', '916664', '916670', '916686', '916687', '916690',
        '916693', '916697', '916698', '916700', '916839', '916850',
        '917062', '917176', '917184', '917190', '917334', '917680',
        '917948', '918202', '918286', '918288', '918301', '918376',
        '918384', '918411', '918412', '918421', '918606', '918860',
        '919000', '919216', '919218', '919236', '919239', '919411',
        '919412', '919494', '919564', '920301', '920372', '920374',
        '920376', '920380', '920656', '920676', '921102', '921181',
        '921186', '921198', '921224', '921227', '921443', '921542',
        '921552', '921592', '921674', '922042', '922044', '922075',
        '922077', '922079', '922172', '922184', '922260', '922261',
        '922262', '922263', '922296', '923058', '924890', '925234',
        '925399', '925408', '925475', '925476', '926138', '926192',
        '926219', '926222', '926239', '926274', '926350', '926351',
        '926352', '926357', '926414', '926435', '926438', '926442',
        '926471', '926475', '926476', '926478', '926507', '926508',
        '926519', '926556', '926592', '926596', '926610', '926611',
        '926669', '926697', '926699', '926713', '926714', '926727',
        '926730', '926732', '926751', '926760', '926802', '926804',
        '926855', '926875', '926885', '926924', '926929', '926930',
        '926931', '926944', '926964', '927017', '927041', '927099',
        '927114', '927188', '927197', '927252', '927367', '927461',
        '927676', '927786', '927797', '927861', '927940', '927942',
        '927944', '927946', '927948', '927952', '928002', '928093',
        '928125', '928137', '928193', '928194', '928271', '928289',
        '928296', '928440', '928462', '928538', '928616', '928642',
        '928691', '928693', '928730', '928739', '928814', '929060',
        '929123', '929259', '929828', '932342', '933507', '933530',
        '933715', '936762', '942403', '942576', '942606', '942649',
        '942776', '942779', '943591', '943624', '943665', '943705',
        '943780', '943800', '943835', '943876', '943878', '943891',
        '943938', '944015', '944101', '945011', '946014', '946415',
        '946682', '946702', '946892', '947406', '947646', '947647',
        '947649', '948069', '948086', '948361', '948996', '949000',
        '949087', '949187', '951351', '951421', '951549', '951600',
        '958875', '961476', '964477', '965108', '965297', '965313',
        '965544', '966056', '966390', '966665', '967317', '968882',
        '968886', '972661', '974831', '985552', '985553', '985554',
        '985555', '985556', '986215', '986305', '986404', '986448',
        '986453', '986471', '986476', '986490', '986492', '986494',
        '986576', '986593', '986725', '986937', '987102', '987108',
        '987133', '987139', '987145', '987160', '987161', '987163',
        '987185', '987211', '987217', '987219', '987223', '987277',
        '987279', '987283', '987328', '987360', '987369', '987461',
        '987506', '987679', '987828', '987860', '987901', '987906',
        '987951', '987952', '988007', '988039', '988040', '988046',
        '988105', '988164', '988166', '988192', '988257', '988280',
        '988374', '988414', '988427', '988449', '988458', '988475',
        '988482', '988524', '988526', '988528', '988633', '988668',
        '988802', '988803', '988818', '988836', '988839', '988861',
        '988957', '988959', '988982', '988984', '988992', '989202',
        '989222', '989287', '989293', '989327', '989343', '989346',
        '989488', '989503', '989504', '989529', '989554', '989622',
        '989653', '989679', '989690', '989861', '989960', '989961',
        '990742', '990860', '991175', '991228', '991589', '992000',
        '992851', '992900', '993675', '994046', '994187', '994188',
        '994205', '994350', '994402', '994404', '994406', '994408',
        '994410', '994414', '994449', '994487', '994553', '994682',
        '994695', '994697', '994698', '994853', '994876', '994972',
        '995185', '995203', '995204', '995231', '995232', '995274',
        '995275', '995276', '995513', '995517', '995519', '995643',
        '995646', '995647', '995915', '996930', '997096', '997100',
        '997101', '997102', '997870', '997871', '997888', '997975',
        '997977', '998071', '998074', '998606', '998889', '999440',
        '999449', '999918', '999920', '999921', '999922', '999923',
        '999924', '999927', '999928', '999930', '999931', '999932',
        '999991', '999992'], dtype=object),
 array(['10006', '100077', '10009', ..., '999919', '999925', '999926'],
       dtype=object),
 array(['10550', '10807', '11296', '11297', '11773', '11774', '11776',
        '11777', '11788', '15626', '1799', '26826', '26827', '34006',
        '35317', '36304', '36305', '36306', '36308', '36903', '36904',
        '37994', '38174', '38176', '38177', '38178', '42716', '43334',
        '43336', '43337', '43338', '48099', '48105', '64863', '64864',
        '64865', '64866', '64867', '65013', '77487', '84171', '88296'],
       dtype=object),
 array(['100280', '100531', '100568', '100636', '100686', '100719',
        '100759', '101018', '101037', '101047', '101088', '101126',
        '101180', '101399', '101462', '101471', '101491', '101513',
        '101587', '10624', '10789', '10790', '10834', '10932', '11909',
        '12404', '1258', '12853', '12861', '12865', '12871', '12881',
        '14492', '14505', '14515', '14518', '14521', '14522', '14524',
        '14525', '14530', '14531', '15179', '15244', '15557', '15622',
        '15641', '15644', '15653', '15779', '15919', '17085', '17658',
        '17915', '19061', '19062', '19063', '19475', '21594', '22154',
        '22155', '22214', '22783', '22784', '24451', '24453', '24454',
        '24860', '25601', '25603', '26160', '26162', '26164', '26172',
        '26176', '26373', '26436', '26511', '26585', '26763', '26822',
        '26858', '27274', '27408', '27409', '27428', '27453', '27469',
        '27680', '27692', '27723', '27780', '27781', '27782', '27913',
        '28039', '28275', '28276', '28278', '28624', '28865', '29993',
        '29994', '31472', '31474', '32231', '33466', '34003', '34154',
        '34164', '34197', '34423', '34454', '35313', '35776', '35944',
        '36302', '36482', '36574', '36617', '36690', '36901', '36965',
        '36966', '36967', '37305', '37389', '37414', '37495', '37496',
        '37497', '37664', '37880', '37881', '37889', '37934', '38089',
        '38102', '38110', '38530', '39208', '39245', '39381', '39382',
        '39393', '39395', '39397', '39419', '39422', '39430', '39500',
        '39555', '39650', '39680', '39704', '39705', '39706', '39770',
        '39865', '39916', '39917', '40047', '40070', '40189', '40191',
        '40192', '40500', '40528', '40569', '40590', '40592', '40593',
        '40597', '40598', '41691', '41703', '41844', '42712', '42714',
        '42720', '430', '43022', '43031', '43034', '43121', '43134',
        '43831', '4585', '45884', '46290', '47775', '47785', '47790',
        '47861', '47863', '48115', '48154', '49083', '49084', '49182',
        '52312', '52314', '52580', '52581', '52590', '52591', '5325',
        '5345', '53920', '54444', '55084', '557', '56193', '56195',
        '56792', '57585', '57593', '57595', '57601', '58200', '58202',
        '58204', '58206', '58208', '58210', '58212', '58744', '58902',
        '58908', '58909', '58910', '58911', '61212', '61214', '63257',
        '63259', '63260', '63261', '63262', '63263', '63277', '63282',
        '63283', '63284', '63297', '63299', '63311', '63319', '63321',
        '63344', '63345', '63347', '63372', '63373', '63374', '63505',
        '64388', '64510', '64511', '64571', '64572', '64634', '64711',
        '64722', '64759', '64762', '64774', '64912', '64913', '65111',
        '65125', '65194', '65204', '65209', '65253', '65259', '65260',
        '65430', '65466', '65792', '66131', '66293', '664', '67264',
        '67311', '67522', '67524', '68034', '68339', '69064', '69603',
        '69609', '69631', '69634', '69709', '69713', '69945', '71529',
        '72434', '72448', '72927', '72933', '72952', '73052', '73058',
        '73059', '73737', '73747', '73754', '73811', '74737', '74776',
        '74805', '75195', '75208', '75209', '75212', '75213', '75218',
        '75224', '75242', '75263', '76681', '77545', '78016', '80443',
        '80571', '80573', '80574', '81124', '81204', '84143', '84152',
        '84172', '84187', '84197', '84207', '84217', '84222', '84224',
        '84226', '84404', '86375', '86379', '86437', '86438', '86463',
        '86502', '86531', '86558', '86624', '86669', '86698', '86881',
        '86883', '87073', '87075', '87151', '87152', '87282', '87402',
        '87484', '87509', '87615', '88185', '88290', '88354', '88369',
        '89624', '89644', '89781', '901420', '903376', '903874', '904499',
        '904600', '904615', '904692', '910621', '916890', '919485',
        '926360', '927274', '928699', '936981', '937332', '940067',
        '940190', '940591', '956796', '956797', '958744', '959845',
        '961220', '962093', '964746', '965208', '965220', '965266',
        '965268', '965283', '965344', '965460', '967757', '968339',
        '969617', '969651', '974737', '974776', '975094', '976361',
        '976365', '976367', '977872', '977877', '978293', '980018',
        '982781', '984161', '984168', '984191', '984398', '984400',
        '986463', '986502', '986509', '987407', '987507', '988849',
        '989215', '989502', '989532', '994155', '994624', '999911',
        '999993'], dtype=object),
 array(['10008', '100440', '100545', '100605', '100844', '101216',
        '101217', '101299', '101346', '101428', '101534', '101561',
        '101600', '101622', '10278', '10548', '10628', '10793', '10809',
        '10838', '10935', '11298', '11348', '11588', '11912', '12408',
        '12478', '12858', '12888', '13038', '13388', '13638', '13928',
        '14199', '15248', '15258', '15628', '15832', '15945', '16098',
        '16518', '16682', '16988', '17088', '17830', '17919', '17958',
        '18103', '18198', '18351', '18408', '18858', '19028', '19068',
        '19070', '19228', '19478', '20248', '20368', '21208', '21598',
        '22123', '22158', '22207', '2226', '22788', '23268', '23278',
        '23708', '23828', '23982', '24158', '24458', '24728', '25608',
        '25878', '25992', '26589', '26758', '26828', '27022', '27741',
        '27746', '27796', '28088', '28238', '28353', '28628', '28718',
        '28868', '29115', '29288', '29423', '29568', '29712', '29728',
        '29998', '30058', '30238', '30318', '30528', '31208', '31473',
        '31496', '31658', '31718', '32238', '33569', '33660', '33665',
        '34008', '34032', '34368', '34425', '34458', '34566', '34578',
        '34598', '34748', '34759', '34821', '34919', '35213', '35245',
        '35318', '35418', '35628', '35918', '35948', '36124', '36188',
        '36356', '36578', '36650', '36668', '36733', '36875', '36900',
        '36908', '36971', '36978', '37048', '37178', '37248', '37259',
        '37304', '37338', '37348', '37418', '37665', '37888', '37938',
        '37988', '37998', '38008', '38033', '38075', '38088', '3836',
        '38508', '38519', '38581', '39421', '39753', '39868', '39919',
        '40055', '40118', '4030', '40313', '40315', '40329', '41078',
        '41625', '41681', '41692', '41848', '42009', '42718', '42984',
        '43028', '43038', '43040', '43049', '43078', '43088', '43100',
        '43112', '43120', '43128', '43138', '43208', '43318', '43323',
        '43388', '43503', '43749', '43799', '43845', '43848', '43986',
        '44081', '44259', '44308', '44333', '44340', '44348', '44658',
        '45248', '45278', '45418', '45888', '46109', '46142', '46144',
        '46350', '46499', '46506', '46528', '47002', '4718', '47788',

create a list of the cluster names

In [37]:
cluster_list = list(unique_cluster_item_list_df.cluster_name)
cluster_list

['Cheap',
 'High_End',
 'Moderately_High',
 'Most_Variety',
 'Popular_Bottles',
 'Quick_Shots',
 'Volume_For_Dollar']

create a dictionary by zipping cluster_list and cluster_unique_items_list

In [38]:
cluster_dict = dict(list(zip(cluster_list,cluster_unique_items_list)))

In [39]:
# use dictionary to get the length of each value which is the number of unique items in each cluster
clust_len_dict={}
for k,v in cluster_dict.items():
    clust_len_dict[k] = len(v)
    
clust_len_dict

{'Cheap': 136,
 'High_End': 157,
 'Moderately_High': 877,
 'Most_Variety': 2199,
 'Popular_Bottles': 42,
 'Quick_Shots': 436,
 'Volume_For_Dollar': 454}

test out cluster_dict

In [40]:
test_df = unique_store_item_list_df.head()
unique_store_item_list_df.head(2)

,Store_Number,Store_Name,cluster_name,store_unique_items
0,2106,Hillstreet News and Tobacco,Cheap,"[37997, 73055, 19067, 69657, 89197, 19476, 481..."
1,2106,Hillstreet News and Tobacco,High_End,"[903179, 905960, 87078, 916809, 924575]"

In [41]:
test_df.apply(lambda x: len(x['store_unique_items'])/clust_len_dict[x['cluster_name']],axis=1)

0    0.544118
1    0.031847
2    0.095781
3    0.174625
4    0.714286
dtype: float64

In [42]:
unique_store_item_list_df.apply(lambda x: len(x['store_unique_items'])/clust_len_dict[x['cluster_name']],axis=1)

0        0.544118
1        0.031847
2        0.095781
3        0.174625
4        0.714286
           ...
11458    0.000910
11459    0.004587
11460    0.003638
11461    0.001819
11462    0.000910
Length: 11463, dtype: float64

add percent_unique_in_cluster to DataFrame

In [43]:
unique_store_item_list_df['percent_unique_in_cluster'] = unique_store_item_list_df.apply(lambda x: len(x['store_unique_items'])/clust_len_dict[x['cluster_name']],axis=1)

In [217]:
unique_store_item_list_df['percent_unique_in_cluster'] = unique_store_item_list_df['percent_unique_in_cluster']*100

In [218]:
unique_store_item_list_df.head()

,Store_Number,Store_Name,cluster_name,store_unique_items,percent_unique_in_cluster
0,2106,Hillstreet News and Tobacco,Cheap,"[37997, 73055, 19067, 69657, 89197, 19476, 481...",54.411765
1,2106,Hillstreet News and Tobacco,High_End,"[903179, 905960, 87078, 916809, 924575]",3.184713
2,2106,Hillstreet News and Tobacco,Moderately_High,"[26906, 49086, 5036, 87485, 927041, 21540, 478...",9.578107
3,2106,Hillstreet News and Tobacco,Most_Variety,"[89786, 8826, 65200, 65195, 89836, 77988, 8261...",17.462483
4,2106,Hillstreet News and Tobacco,Popular_Bottles,"[88296, 15626, 11296, 10550, 43338, 11788, 381...",71.428571

In [219]:
# result = df.pivot_table(index='anger_metric', columns='metric_name', values='angle_value')
                      
stores_percent_cluster_items = unique_store_item_list_df.pivot_table(index='Store_Number', columns ='cluster_name', values= 'percent_unique_in_cluster')
stores_percent_cluster_items.head(10)

cluster_name,Cheap,High_End,Moderately_High,Most_Variety,Popular_Bottles,Quick_Shots,Volume_For_Dollar
Store_Number,,,,,,,
2106,54.411765,3.184713,9.578107,17.462483,71.428571,0.917431,9.691630
2130,65.441176,2.547771,4.104903,13.642565,90.476190,4.357798,11.453744
2178,6.617647,NaN,0.228050,0.591178,7.142857,0.458716,2.202643
2190,85.294118,50.955414,51.197263,46.202819,92.857143,34.174312,38.766520
2191,72.794118,13.375796,17.445838,27.012278,88.095238,17.660550,23.127753
2200,59.558824,3.184713,4.675029,17.098681,71.428571,11.467890,23.788546
2201,2.205882,1.910828,1.710376,0.181901,2.380952,0.458716,NaN
2228,66.176471,4.458599,6.157355,15.643474,80.952381,7.568807,17.841410
2233,50.735294,10.828025,12.314709,14.415643,76.190476,6.651376,25.770925
2238,12.500000,6.369427,5.131129,3.228740,16.666667,0.458716,6.387665

In [220]:
print('stores_percent_cluster_items.shape = ',stores_percent_cluster_items.shape)
miss_cols(stores_percent_cluster_items)

stores_percent_cluster_items.shape =  (1948, 7)

[('High_End', 1237, 0.635),
 ('Moderately_High', 716, 0.3676),
 ('Volume_For_Dollar', 84, 0.0431),
 ('Quick_Shots', 82, 0.0421),
 ('Popular_Bottles', 19, 0.0098),
 ('Most_Variety', 18, 0.0092),
 ('Cheap', 17, 0.0087)]

In [221]:
print('median Popular_Bottles = ',stores_percent_cluster_items.Popular_Bottles.median())
print('median Cheap = ',stores_percent_cluster_items.Cheap.median())
print('median Volume_For_Dollar = ',stores_percent_cluster_items.Volume_For_Dollar.median())
stores_percent_cluster_items.describe()

median Popular_Bottles =  59.523809523809526
median Cheap =  30.14705882352941
median Volume_For_Dollar =  3.1938325991189425

cluster_name,Cheap,High_End,Moderately_High,Most_Variety,Popular_Bottles,Quick_Shots,Volume_For_Dollar
count,1931.000000,711.000000,1232.000000,1930.000000,1929.000000,1866.000000,1864.000000
mean,33.742042,4.979978,3.796795,5.071712,58.293219,7.828279,8.230606
std,17.241448,5.927795,5.876391,7.626147,17.230466,8.972465,10.153001
min,0.735294,0.636943,0.114025,0.045475,2.380952,0.229358,0.220264
25%,22.794118,1.273885,0.342075,0.727603,47.619048,1.834862,1.321586
50%,30.147059,2.547771,1.368301,1.546157,59.523810,4.128440,3.193833
75%,41.911765,7.006369,4.675029,5.957253,69.047619,10.321101,12.334802
max,94.117647,50.955414,51.197263,49.022283,100.000000,56.422018,62.334802

In [ ]:
# store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name'])['Item_Number'].nunique().reset_index() #numerator

In [ ]:
# store_trans_cluster.groupby(['cluster_name']).agg({'Item_Number':['nunique'],'revenue':['sum'],'Bottle_Volume':['min','max','std','median'],'Bottles_Sold':['min','max','std', 'median', 'mean'],'Num_Stores_Selling':['min','max','std', 'median', 'mean'] })

create a DataFrame (df_clusters) with the number of unique items in each cluster and the sum of revenue for each store

In [165]:
# pd.options.display.float_format = '{:.2f}'.format


# df_clusters=   store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name']).agg({'Item_Number':['nunique','count'],'revenue':'sum'}).reset_index()
store_revenue_per_cluster =store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name']).agg({'revenue':'sum', 'Item_Number':'nunique'}).reset_index()
# store_revenue_per_cluster
store_revenue_per_cluster.rename({'revenue':'cluster_revenue'} ,axis=1, inplace=True)
store_revenue_per_cluster.head(10)

,Store_Number,Store_Name,cluster_name,cluster_revenue,Item_Number
0,2106,Hillstreet News and Tobacco,Cheap,1.156308e+09,74
1,2106,Hillstreet News and Tobacco,High_End,8.920170e+04,5
2,2106,Hillstreet News and Tobacco,Moderately_High,3.275218e+07,84
3,2106,Hillstreet News and Tobacco,Most_Variety,2.405383e+08,384
4,2106,Hillstreet News and Tobacco,Popular_Bottles,2.051947e+09,30
5,2106,Hillstreet News and Tobacco,Quick_Shots,5.198403e+04,4
6,2106,Hillstreet News and Tobacco,Volume_For_Dollar,9.697234e+07,44
7,2130,Sycamore Convenience,Cheap,1.040294e+09,89
8,2130,Sycamore Convenience,High_End,8.995062e+04,4
9,2130,Sycamore Convenience,Moderately_High,4.802117e+07,36

In [55]:
store_revenue_per_cluster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11463 entries, 0 to 11462
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store_Number  11463 non-null  object
 1   Store_Name    11463 non-null  object
 2   cluster_name  11463 non-null  object
 3   revenue       11463 non-null  float64
dtypes: float64(1), object(3)
memory usage: 358.3+ KB

In [168]:
store_trans_cluster.groupby(['Store_Number','Store_Name']).agg({'revenue':'sum', 'Item_Number':'nunique','cluster_name':'nunique'}).reset_index()

,Store_Number,Store_Name,revenue,Item_Number,cluster_name
0,2106,Hillstreet News and Tobacco,3.578659e+09,625,7
1,2130,Sycamore Convenience,3.519815e+09,538,7
2,2178,Double D Liquor Store,2.363361e+07,39,6
3,2190,"Central City Liquor, Inc.",7.370231e+09,2025,7
4,2191,Keokuk Spirits,4.542737e+09,1086,7
...,...,...,...,...,...
1943,9042,"American Heritage Distillers, LLC",2.010544e+06,14,3
1944,9046,Rock River Distillation Company,5.636250e+04,4,2
1945,9047,Revelton Distilling Company,9.256612e+06,8,1
1946,9048,Artisan Grain Distillery,2.030460e+04,4,1
1947,9049,TYCOGA Vineyard & Winery,1.692720e+04,2,1

In [196]:
stores_revenue = store_trans_cluster.groupby(['Store_Number','Store_Name']).agg({'revenue':'sum', 'Item_Number':'nunique','cluster_name':'nunique'}).reset_index()
stores_revenue.rename({'revenue':'store_revenue','cluster_name':'num_unique_clusters','Item_Number':'tot_num_unique_items'} ,axis=1, inplace=True)
stores_revenue = stores_revenue.set_index('Store_Number')
stores_revenue.head()

,Store_Name,store_revenue,tot_num_unique_items,num_unique_clusters
Store_Number,,,,
2106,Hillstreet News and Tobacco,3.578659e+09,625,7
2130,Sycamore Convenience,3.519815e+09,538,7
2178,Double D Liquor Store,2.363361e+07,39,6
2190,"Central City Liquor, Inc.",7.370231e+09,2025,7
2191,Keokuk Spirits,4.542737e+09,1086,7

create a DataFrame (df_stores) with the number of unique items  and the sum of revenue for each store

In [ ]:
# pd.options.display.float_format = '{:.2f}'.format

# df_stores = store_trans_cluster.groupby(['Store_Number','Store_Name']).agg({'Item_Number':['nunique','count'],'revenue':'sum','cluster_name':'nunique'}).reset_index()

# stores_revenue = store_trans_cluster.groupby(['Store_Number','Store_Name']).agg({'revenue':'sum'}).reset_index()
# stores_revenue.head()

fix column names of df_stores2

In [ ]:
# df_stores2 = df_stores.copy()

# df_stores2.columns = list(df_stores2.columns.droplevel(0))
# df_stores2.columns = ['Store_Number','Store_Name','tot_unique_items','tot_count_items','tot_revenue','num_clusters']
# df_stores2.head()
# df_stores2

frequency distribution of the number of stores that have 1 to 7 clusters in merchandise purchased

In [68]:
proc_freq(stores_revenue,'num_unique_clusters')

,num_unique_clusters,Frequency,Percent,Cumulative_Frequency,Cumulative_Percent
0,1,5,0.26,5,0.26
1,2,9,0.46,14,0.72
2,3,15,0.77,29,1.49
3,4,74,3.80,103,5.29
4,5,655,33.62,758,38.91
5,6,506,25.98,1264,64.89
6,7,684,35.11,1948,100.00

merge DataFrames df_clusters2 and df_stores2 so can calculate % revenue from each cluster within each store

In [175]:
# stores.merge(trans, how='inner', on=['Store_Number'])
sTores_revenue_combined =  store_revenue_per_cluster.merge(stores_revenue, how='inner', on=['Store_Number','Store_Name'])

In [173]:
sTores_revenue_combined.head()

,Store_Number,Store_Name,cluster_name,cluster_revenue,Item_Number,revenue,tot_num_unique_items,num_unique_clusters
0,2106,Hillstreet News and Tobacco,Cheap,1.156308e+09,74,3.578659e+09,625,7
1,2106,Hillstreet News and Tobacco,High_End,8.920170e+04,5,3.578659e+09,625,7
2,2106,Hillstreet News and Tobacco,Moderately_High,3.275218e+07,84,3.578659e+09,625,7
3,2106,Hillstreet News and Tobacco,Most_Variety,2.405383e+08,384,3.578659e+09,625,7
4,2106,Hillstreet News and Tobacco,Popular_Bottles,2.051947e+09,30,3.578659e+09,625,7

In [205]:
sTores_revenue_combined['revenue_pct'] = sTores_revenue_combined['cluster_revenue']/sTores_revenue_combined['store_revenue']*100

sTores_revenue_combined['item_pct'] =sTores_revenue_combined.Item_Number/sTores_revenue_combined.tot_num_unique_items *100

In [206]:
pd.set_option('display.max_columns', None)
# sTores_revenue_combined = sTores_revenue_combined.reset_index()
sTores_revenue_combined.head(25)

,level_0,index,Store_Number,Store_Name,cluster_name,cluster_revenue,Item_Number,store_revenue,tot_num_unique_items,num_unique_clusters,revenue_pct,item_pct
0,0,0,2106,Hillstreet News and Tobacco,Cheap,1.156308e+09,74,3.578659e+09,625,7,32.311201,11.840000
1,1,1,2106,Hillstreet News and Tobacco,High_End,8.920170e+04,5,3.578659e+09,625,7,0.002493,0.800000
2,2,2,2106,Hillstreet News and Tobacco,Moderately_High,3.275218e+07,84,3.578659e+09,625,7,0.915208,13.440000
3,3,3,2106,Hillstreet News and Tobacco,Most_Variety,2.405383e+08,384,3.578659e+09,625,7,6.721465,61.440000
4,4,4,2106,Hillstreet News and Tobacco,Popular_Bottles,2.051947e+09,30,3.578659e+09,625,7,57.338441,4.800000
5,5,5,2106,Hillstreet News and Tobacco,Quick_Shots,5.198403e+04,4,3.578659e+09,625,7,0.001453,0.640000
6,6,6,2106,Hillstreet News and Tobacco,Volume_For_Dollar,9.697234e+07,44,3.578659e+09,625,7,2.709740,7.040000
7,7,7,2130,Sycamore Convenience,Cheap,1.040294e+09,89,3.519815e+09,538,7,29.555347,16.542751
8,8,8,2130,Sycamore Convenience,High_End,8.995062e+04,4,3.519815e+09,538,7,0.002556,0.743494
9,9,9,2130,Sycamore Convenience,Moderately_High,4.802117e+07,36,3.519815e+09,538,7,1.364309,6.691450
10,10,10,2130,Sycamore Convenience,Most_Variety,2.106499e+08,300,3.519815e+09,538,7,5.984686,55.762082
11,11,11,2130,Sycamore Convenience,Popular_Bottles,1.964821e+09,38,3.519815e+09,538,7,55.821723,7.063197
12,12,12,2130,Sycamore Convenience,Quick_Shots,3.897669e+06,19,3.519815e+09,538,7,0.110735,3.531599
13,13,13,2130,Sycamore Convenience,Volume_For_Dollar,2.520415e+08,52,3.519815e+09,538,7,7.160645,9.665428
14,14,14,2178,Double D Liquor Store,Cheap,2.696519e+06,9,2.363361e+07,39,6,11.409680,23.076923
15,15,15,2178,Double D Liquor Store,Moderately_High,8.180766e+05,2,2.363361e+07,39,6,3.461497,5.128205
16,16,16,2178,Double D Liquor Store,Most_Variety,2.239521e+06,13,2.363361e+07,39,6,9.476002,33.333333
17,17,17,2178,Double D Liquor Store,Popular_Bottles,1.285326e+07,3,2.363361e+07,39,6,54.385544,7.692308
18,18,18,2178,Double D Liquor Store,Quick_Shots,2.084250e+04,2,2.363361e+07,39,6,0.088190,5.128205
19,19,19,2178,Double D Liquor Store,Volume_For_Dollar,5.005382e+06,10,2.363361e+07,39,6,21.179086,25.641026
20,20,20,2190,"Central City Liquor, Inc.",Cheap,1.388479e+09,116,7.370231e+09,2025,7,18.839015,5.728395
21,21,21,2190,"Central City Liquor, Inc.",High_End,3.786385e+07,80,7.370231e+09,2025,7,0.513740,3.950617
22,22,22,2190,"Central City Liquor, Inc.",Moderately_High,2.928998e+08,449,7.370231e+09,2025,7,3.974093,22.172840
23,23,23,2190,"Central City Liquor, Inc.",Most_Variety,7.777581e+08,1016,7.370231e+09,2025,7,10.552698,50.172840
24,24,24,2190,"Central City Liquor, Inc.",Popular_Bottles,3.839091e+09,39,7.370231e+09,2025,7,52.089160,1.925926

In [207]:
# df.pivot(columns = 'var', values='val')
stores_rev_pct = sTores_revenue_combined.pivot_table(index='Store_Number', columns = 'cluster_name', values = 'revenue_pct')
print(list(stores_rev_pct.columns))
miss_cols(stores_rev_pct)

['Cheap', 'High_End', 'Moderately_High', 'Most_Variety', 'Popular_Bottles', 'Quick_Shots', 'Volume_For_Dollar']

[('High_End', 1237, 0.635),
 ('Moderately_High', 716, 0.3676),
 ('Volume_For_Dollar', 84, 0.0431),
 ('Quick_Shots', 82, 0.0421),
 ('Popular_Bottles', 19, 0.0098),
 ('Most_Variety', 18, 0.0092),
 ('Cheap', 17, 0.0087)]

In [208]:
stores_rev_pct.columns = ['rev_Cheap', 'rev_High_End', 'rev_Moderately_High', 'rev_Most_Variety', 'rev_Popular_Bottles', 'rev_Quick_Shots', 'rev_Volume_For_Dollar']

In [209]:
stores_rev_pct.head()

,rev_Cheap,rev_High_End,rev_Moderately_High,rev_Most_Variety,rev_Popular_Bottles,rev_Quick_Shots,rev_Volume_For_Dollar
Store_Number,,,,,,,
2106,32.311201,0.002493,0.915208,6.721465,57.338441,0.001453,2.709740
2130,29.555347,0.002556,1.364309,5.984686,55.821723,0.110735,7.160645
2178,11.409680,NaN,3.461497,9.476002,54.385544,0.088190,21.179086
2190,18.839015,0.513740,3.974093,10.552698,52.089160,1.633055,12.398239
2191,28.061094,0.061191,1.476031,9.304324,47.350770,0.314970,13.431620

In [210]:
print('median of rev_High_end= ',stores_rev_pct.rev_High_End.median())
stores_rev_pct.describe()

median of rev_High_end=  0.04437877776185761

,rev_Cheap,rev_High_End,rev_Moderately_High,rev_Most_Variety,rev_Popular_Bottles,rev_Quick_Shots,rev_Volume_For_Dollar
count,1931.000000,711.000000,1232.000000,1930.000000,1929.000000,1866.000000,1864.000000
mean,17.415260,0.199112,1.345748,3.929321,68.587522,1.340045,9.110601
std,6.434431,2.431650,4.117095,7.785703,13.119084,2.858212,7.555841
min,0.671002,0.000105,0.000622,0.006787,21.512572,0.000252,0.004146
25%,12.976707,0.007361,0.111740,1.032658,59.123391,0.249147,2.906328
50%,16.700776,0.044379,0.531340,2.100175,70.048521,0.667204,6.534536
75%,20.792463,0.143704,1.623167,4.752833,79.474586,1.726607,14.276988
max,74.127221,64.762853,94.538125,100.000000,95.448990,100.000000,40.441145

In [211]:
print(list(stores_percent_cluster_items.columns))

['cl_Cheap', 'cl_High_End', 'cl_Moderately_High', 'cl_Most_Variety', 'cl_Popular_Bottles', 'cl_Quick_Shots', 'cl_Volume_For_Dollar']

In [222]:
stores_percent_cluster_items.columns = ['cl_Cheap', 'cl_High_End', 'cl_Moderately_High', 'cl_Most_Variety', 'cl_Popular_Bottles', 'cl_Quick_Shots', 'cl_Volume_For_Dollar']
stores_percent_cluster_items.describe()

,cl_Cheap,cl_High_End,cl_Moderately_High,cl_Most_Variety,cl_Popular_Bottles,cl_Quick_Shots,cl_Volume_For_Dollar
count,1931.000000,711.000000,1232.000000,1930.000000,1929.000000,1866.000000,1864.000000
mean,33.742042,4.979978,3.796795,5.071712,58.293219,7.828279,8.230606
std,17.241448,5.927795,5.876391,7.626147,17.230466,8.972465,10.153001
min,0.735294,0.636943,0.114025,0.045475,2.380952,0.229358,0.220264
25%,22.794118,1.273885,0.342075,0.727603,47.619048,1.834862,1.321586
50%,30.147059,2.547771,1.368301,1.546157,59.523810,4.128440,3.193833
75%,41.911765,7.006369,4.675029,5.957253,69.047619,10.321101,12.334802
max,94.117647,50.955414,51.197263,49.022283,100.000000,56.422018,62.334802

In [223]:
stores_percent_cluster_items.head(2)

,cl_Cheap,cl_High_End,cl_Moderately_High,cl_Most_Variety,cl_Popular_Bottles,cl_Quick_Shots,cl_Volume_For_Dollar
Store_Number,,,,,,,
2106,54.411765,3.184713,9.578107,17.462483,71.428571,0.917431,9.691630
2130,65.441176,2.547771,4.104903,13.642565,90.476190,4.357798,11.453744

In [213]:
stores_items_pct = sTores_revenue_combined.pivot_table(index='Store_Number', columns = 'cluster_name', values = 'item_pct')

In [214]:
stores_items_pct.head()

cluster_name,Cheap,High_End,Moderately_High,Most_Variety,Popular_Bottles,Quick_Shots,Volume_For_Dollar
Store_Number,,,,,,,
2106,11.840000,0.800000,13.440000,61.440000,4.800000,0.640000,7.040000
2130,16.542751,0.743494,6.691450,55.762082,7.063197,3.531599,9.665428
2178,23.076923,NaN,5.128205,33.333333,7.692308,5.128205,25.641026
2190,5.728395,3.950617,22.172840,50.172840,1.925926,7.358025,8.691358
2191,9.116022,1.933702,14.088398,54.696133,3.406998,7.090239,9.668508

In [190]:
print(list(stores_items_pct.columns))

['Cheap', 'High_End', 'Moderately_High', 'Most_Variety', 'Popular_Bottles', 'Quick_Shots', 'Volume_For_Dollar']

In [215]:
stores_items_pct.columns = ['item_Cheap', 'item_High_End', 'item_Moderately_High', 'item_Most_Variety', 'item_Popular_Bottles', 'item_Quick_Shots', 'item_Volume_For_Dollar']
stores_items_pct.describe()

,item_Cheap,item_High_End,item_Moderately_High,item_Most_Variety,item_Popular_Bottles,item_Quick_Shots,item_Volume_For_Dollar
count,1931.000000,711.000000,1232.000000,1930.000000,1929.000000,1866.000000,1864.000000
mean,25.544506,1.520778,6.615306,29.558502,16.820054,13.554451,11.510638
std,11.153125,1.911746,6.503378,15.468963,10.553003,10.432255,7.567696
min,2.678571,0.125313,0.261097,1.190476,1.574803,0.265252,0.632911
25%,15.817793,0.586797,1.739130,17.191700,7.246377,6.382979,5.714286
50%,25.000000,1.153846,4.761905,25.191554,15.053763,11.100668,9.431893
75%,35.849057,2.000000,9.634768,43.133610,25.217391,17.967179,16.219180
max,77.777778,40.000000,66.666667,100.000000,55.555556,100.000000,50.000000

In [ ]:
stores_revenue, stores_rev_pct,stores_items_pct,stores_percent_cluster_items

In [ ]:
# pd.concat([df1, df4], axis=1, join="inner")

In [224]:
clust_info_combined pd.concat([stores_revenue, stores_rev_pct,stores_items_pct,stores_percent_cluster_items],axis=1, join='inner')

,Store_Name,store_revenue,tot_num_unique_items,num_unique_clusters,rev_Cheap,rev_High_End,rev_Moderately_High,rev_Most_Variety,rev_Popular_Bottles,rev_Quick_Shots,rev_Volume_For_Dollar,item_Cheap,item_High_End,item_Moderately_High,item_Most_Variety,item_Popular_Bottles,item_Quick_Shots,item_Volume_For_Dollar,cl_Cheap,cl_High_End,cl_Moderately_High,cl_Most_Variety,cl_Popular_Bottles,cl_Quick_Shots,cl_Volume_For_Dollar
Store_Number,,,,,,,,,,,,,,,,,,,,,,,,,
2106,Hillstreet News and Tobacco,3.578659e+09,625,7,32.311201,0.002493,0.915208,6.721465,57.338441,0.001453,2.709740,11.840000,0.800000,13.440000,61.440000,4.800000,0.640000,7.040000,54.411765,3.184713,9.578107,17.462483,71.428571,0.917431,9.691630
2130,Sycamore Convenience,3.519815e+09,538,7,29.555347,0.002556,1.364309,5.984686,55.821723,0.110735,7.160645,16.542751,0.743494,6.691450,55.762082,7.063197,3.531599,9.665428,65.441176,2.547771,4.104903,13.642565,90.476190,4.357798,11.453744
2178,Double D Liquor Store,2.363361e+07,39,6,11.409680,NaN,3.461497,9.476002,54.385544,0.088190,21.179086,23.076923,NaN,5.128205,33.333333,7.692308,5.128205,25.641026,6.617647,NaN,0.228050,0.591178,7.142857,0.458716,2.202643
2190,"Central City Liquor, Inc.",7.370231e+09,2025,7,18.839015,0.513740,3.974093,10.552698,52.089160,1.633055,12.398239,5.728395,3.950617,22.172840,50.172840,1.925926,7.358025,8.691358,85.294118,50.955414,51.197263,46.202819,92.857143,34.174312,38.766520
2191,Keokuk Spirits,4.542737e+09,1086,7,28.061094,0.061191,1.476031,9.304324,47.350770,0.314970,13.431620,9.116022,1.933702,14.088398,54.696133,3.406998,7.090239,9.668508,72.794118,13.375796,17.445838,27.012278,88.095238,17.660550,23.127753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9042,"American Heritage Distillers, LLC",2.010544e+06,14,3,NaN,NaN,33.433331,66.193492,NaN,0.373177,NaN,NaN,NaN,21.428571,71.428571,NaN,7.142857,NaN,NaN,NaN,0.342075,0.454752,NaN,0.229358,NaN
9046,Rock River Distillation Company,5.636250e+04,4,2,NaN,NaN,NaN,80.638723,NaN,19.361277,NaN,NaN,NaN,NaN,50.000000,NaN,50.000000,NaN,NaN,NaN,NaN,0.090950,NaN,0.458716,NaN
9047,Revelton Distilling Company,9.256612e+06,8,1,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.363802,NaN,NaN,NaN
9048,Artisan Grain Distillery,2.030460e+04,4,1,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.181901,NaN,NaN,NaN
9049,TYCOGA Vineyard & Winery,1.692720e+04,2,1,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.090950,NaN,NaN,NaN