In [1]:
import pandas as pd 
import numpy as np

In [2]:
final_clusters = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\final_clusters.csv',dtype={'Item_Number':str}, index_col=0)

In [8]:
final_clusters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4468 entries, 1 to 4449
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Item_Number         4468 non-null   object
 1   Item_Description    4468 non-null   object
 2   Bottle_Volume       4468 non-null   int64
 3   Bottle_Retail       4468 non-null   float64
 4   Bottles_Sold        4468 non-null   int64
 5   cluster_name        4468 non-null   object
 6   revenue             4468 non-null   float64
 7   Num_Stores_Selling  4468 non-null   int64
 8   New_Category_Name   4468 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 349.1+ KB

In [3]:
tdtypes = {'Store_Number':str,'Vendor_Number':str,'Item_Number':str, 'Category':str}

In [4]:
trans = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\transactions_2021.csv',dtype=tdtypes, index_col=0)

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
stores = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\stores_2021.csv',index_col=0, dtype={'Store_Number':str})

In [11]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1948 entries, 223124 to 1094183
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Store_Number    1948 non-null   object
 1   Store_Name      1948 non-null   object
 2   Address         1948 non-null   object
 3   City            1948 non-null   object
 4   Zip_Code        1948 non-null   int64
 5   Store_Location  1790 non-null   object
 6   County_Number   1948 non-null   int64
 7   County          1948 non-null   object
dtypes: int64(2), object(6)
memory usage: 137.0+ KB

In [ ]:
# item_trans_category = item_trans_category.merge(products, how='inner', on=['Item_Number','Category'])

In [7]:
store_trans = stores.merge(trans, how='inner', on=['Store_Number'])

In [10]:
store_trans_cluster = store_trans.merge(final_clusters, how='inner', on=['Item_Number'])

In [12]:
store_trans_cluster.groupby(['Store_Number','Store_Name'])['Item_Number'].nunique()  #denominator

Store_Number  Store_Name
2106          Hillstreet News and Tobacco           639
2130          Sycamore Convenience                  547
2178          Double D Liquor Store                  39
2190          Central City Liquor, Inc.            2070
2191          Keokuk Spirits                       1106
                                                   ...
9042          American Heritage Distillers, LLC      14
9046          Rock River Distillation Company         4
9047          Revelton Distilling Company            15
9048          Artisan Grain Distillery                4
9049          TYCOGA Vineyard & Winery                2
Name: Item_Number, Length: 1948, dtype: int64

In [14]:
store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name'])['Item_Number'].nunique().reset_index() #numerator

,Store_Number,Store_Name,cluster_name,Item_Number
0,2106,Hillstreet News and Tobacco,High End,2
1,2106,Hillstreet News and Tobacco,Popular_Bottles,39
2,2106,Hillstreet News and Tobacco,Volume_For_Dollar,44
3,2106,Hillstreet News and Tobacco,cheap,78
4,2106,Hillstreet News and Tobacco,moderately_high,53
...,...,...,...,...
11727,9046,Rock River Distillation Company,quick_shots,2
11728,9047,Revelton Distilling Company,most_variety,8
11729,9047,Revelton Distilling Company,quick_shots,7
11730,9048,Artisan Grain Distillery,most_variety,4
11731,9049,TYCOGA Vineyard & Winery,most_variety,2

In [ ]:
everything_else.groupby(['sub_cluster']).agg({'Item_Number':['nunique'],'revenue':['sum'],'Bottle_Volume':['min','max','std','median'],'price_per_ml':['min','max','std', 'median', 'mean'],'Bottles_Sold':['min','max','std', 'median', 'mean'],'Num_Stores_Selling':['min','max','std', 'median', 'mean'] })

#

In [17]:
store_trans_cluster.groupby(['Store_Number','Store_Name','cluster_name']).agg({'Item_Number':['nunique','count']}).reset_index()

# 'Item_Number':['nunique']

      Store_Number                       Store_Name       cluster_name  \

0             2106      Hillstreet News and Tobacco           High End
1             2106      Hillstreet News and Tobacco    Popular_Bottles
2             2106      Hillstreet News and Tobacco  Volume_For_Dollar
3             2106      Hillstreet News and Tobacco              cheap
4             2106      Hillstreet News and Tobacco    moderately_high
...            ...                              ...                ...
11727         9046  Rock River Distillation Company        quick_shots
11728         9047      Revelton Distilling Company       most_variety
11729         9047      Revelton Distilling Company        quick_shots
11730         9048         Artisan Grain Distillery       most_variety
11731         9049         TYCOGA Vineyard & Winery       most_variety

      Item_Number
          nunique count
0               2     2
1              39   769
2              44   144
3              78   947
4              53    74
...           ...   ...
11727           2     2
11728           8    81
11729           7    40
11730           4     6
11731           2     3

[11732 rows x 5 columns]