In [1]:
import pandas as pd
import numpy as np

In [2]:
from freq_pd import proc_freq
from missing_columns_pd import miss_cols

In [44]:
dict_dtypes ={'Invoice/Item Number':str,
 'Date':str,
 'Store Number':str,
 'Store Name':str,
 'Address':str,
 'City':str,
 'Zip Code':str,
 'Store Location':str,
 'County Number':str,
 'County':str,
 'Category':str,
 'Category Name':str,
 'Vendor Number':str,
 'Vendor Name':str,
 'Item Number':str,
 'Item Description':str,
 'Pack':int,
 'Bottle Volume (ml)':int,
 'State Bottle Cost':float,
 'State Bottle Retail':float,
 'Bottles Sold':int,
 'Sale (Dollars)':float,
 'Volume Sold (Liters)':float,
 'Volume Sold (Gallons)':float}

In [5]:
liquor_2021 = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\liquor_2021.csv', dtype=dict_dtypes)

In [6]:
liquor_2021.shape

(2622712, 24)

In [59]:
miss_cols(liquor_2021)

[('Store Location', 311710, 0.1189),
 ('Address', 142, 0.0001),
 ('City', 142, 0.0001),
 ('Zip Code', 142, 0.0001),
 ('County Number', 142, 0.0001),
 ('County', 142, 0.0001),
 ('Vendor Number', 4, 0.0),
 ('Vendor Name', 4, 0.0)]

In [ ]:
# liquor_2022 =

In [7]:
pd.set_option('display.max_columns', None)
liquor_2021.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-41517100002,11/01/2021,5417,Casey's General Store # 2792/Cedar Rapids,9001 6th Street SW,Cedar Rapids,52404,NaN,57,LINN,1031100,American Vodkas,434,LUXCO INC,36308,Hawkeye Vodka,6,1750,7.17,10.76,6,64.56,10.50,2.77
1,INV-41518800037,11/01/2021,4921,Market Express,5340 16th Ave SW,Cedar Rapids,52404,NaN,57,LINN,1011200,Straight Bourbon Whiskies,065,Jim Beam Brands,19061,Jim Beam Mini,12,50,7.00,10.50,1,10.50,0.05,0.01
2,INV-41518900014,11/01/2021,5687,Casey's General Store #3756 / Cedar Rapids,4560 16th Ave SW,Cedar Rapids,52404,NaN,57,LINN,1012100,Canadian Whiskies,260,DIAGEO AMERICAS,11296,Crown Royal,12,750,16.59,24.89,12,298.68,9.00,2.37
3,INV-41521200068,11/01/2021,2648,Hy-Vee #4 / WDM,555 S 51st St,West Des Moines,50265,POINT (-93.774728 41.560871),77,POLK,1081500,Triple Sec,434,LUXCO INC,86250,Juarez Triple Sec,12,750,2.67,4.01,12,48.12,9.00,2.37
4,INV-41523800012,11/01/2021,4379,Kum & Go #2091 / Ashworth / WDM,5969 Ashworth Rd,West Des Moines,50266,NaN,77,POLK,1051100,American Brandies,205,E & J Gallo Winery,52596,E & J VS,12,750,6.50,9.75,5,48.75,3.75,0.99

In [8]:
liquor_2021['trans_date'] = pd.to_datetime(liquor_2021['Date'])

In [10]:
transactions = liquor_2021[['Vendor Number', 'Store Number','Item Number', 'Date', 'Volume Sold (Liters)', 'Bottles Sold','Sale (Dollars)','State Bottle Cost','State Bottle Retail','Category','trans_date']]

In [11]:
df_prod1 = liquor_2021.sort_values(by=['trans_date']).drop_duplicates(['Item Number'],keep='last')

In [12]:
products = df_prod1[['Item Number', 'Item Description',  'Category']]

In [14]:
df_store1 = liquor_2021.sort_values(by=['trans_date']).drop_duplicates(['Store Number'],keep='last')

In [15]:
stores = df_store1[['Store Number', 'Store Name', 'Address', 'City', 'Zip Code', 'Store Location', 'County Number', 'County']]

In [16]:
df_vendor1 =  liquor_2021.sort_values(by=['trans_date']).drop_duplicates(['Vendor Number'],keep='last')

In [17]:
vendors = df_vendor1[['Vendor Number', 'Vendor Name']]

In [19]:
dytype_dict2 = {'Item Number':str, 'Vendor':str, 'Proof':int, 'Vendor Name':str, 'Age':int}

Iowa_Liquor_Products = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\Iowa_Liquor_Products.csv', dtype=dytype_dict2 )

In [20]:
pd.set_option('display.max_columns', None)
Iowa_Liquor_Products.head()

,Item Number,Category Name,Item Description,Vendor,Vendor Name,Bottle Volume (ml),Pack,Inner Pack,Age,Proof,List Date,UPC,SCC,State Bottle Cost,State Case Cost,State Bottle Retail,Report Date
0,901141,Special Order Items,Libertine Absinthe(French Absinthe) Mini,885,YAHARA BAY DISTILLERS INC,50,6,1,0,114,04/20/2012,NaN,10892060104050,4.82,28.90,7.23,03/01/2022
1,65017,Imported Cordials & Liqueurs,Galliano Liqueur,305,Mhw LTD,375,12,1,0,84,10/01/2012,8.091511e+10,10892060104050,10.75,129.00,16.13,03/01/2022
2,88152,100% Agave Tequila,Sauza 901 Silver,065,Jim Beam Brands,750,6,1,0,80,06/01/2014,8.068684e+10,10892060104050,13.12,78.72,19.68,03/01/2022
3,903796,Special Order Items,Bacardi Anejo DISCO,035,BACARDI USA INC,750,12,1,0,80,09/01/1990,8.068684e+10,80480004347,7.75,93.00,11.63,03/01/2022
4,905846,Scotch Whiskies,Ron Burgundy,305,Mhw LTD,750,12,1,0,80,10/01/2014,8.068684e+10,10626990143885,14.61,175.25,21.92,03/01/2022

In [21]:
product_proof = Iowa_Liquor_Products[['Item Number','Age','Proof']]

In [22]:
df_categ1 = liquor_2021.sort_values(by=['trans_date']).drop_duplicates(['Category'],keep='last')

In [23]:
categories = df_categ1[[ 'Category', 'Category Name']]

In [24]:
miss_cols(categories)

[]

In [41]:
dict_categ = dict(list(zip(categories['Category'],categories['Category Name'])))

dict_list = sorted(dict_categ.items(), key = lambda kv:(kv[1], kv[0]))

# dict_categ['1081300']='American Cordials & Liqueurs'

# ('1081300', 'American Cordials & Liqueur'),
#  ('1081000', 'American Cordials & Liqueurs'),
# ('1081400', 'American Schnapps')
# ('1081100', 'Coffee Liqueurs')
# ('1081200', 'Cream Liqueurs')

# ('1082100', 'Imported Cordials & Liqueur'),
#  ('1082000', 'Imported Cordials & Liqueurs'),
#     ('1082200', 'Imported Schnapps')
#     ('1081600', 'Whiskey Liqueur')
# dict_list

In [33]:
# proc_freq(categories,'Category Name')

In [42]:
imp_liquers_trans = transactions.loc[(transactions['Category']== '1082100') | (transactions['Category']=='1082000') | (transactions['Category']=='1082200')]

In [53]:
imp_liquers_trans.shape

(102138, 11)

In [57]:
imp_liquers_trans['Vendor Number'].nunique()

36

In [58]:
imp_liquers_trans['Store Number'].nunique()

1878

In [60]:
liquor_2021['County'].nunique()

119

In [62]:
imp_liquers_trans.merge(stores, how='inner', on='Store Number')['County'].nunique()

118

In [63]:
imp_liquers_trans['Item Number'].nunique()

169

Why doesn't this work?

In [65]:
filt = transactions['Category'].isin(['1081300','1081000','1081400','1081100','1081200'])

In [66]:
american_liquers_trans = transactions.loc[filt,:]
american_liquers_trans.shape

(217973, 11)

In [52]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622712 entries, 0 to 2622711
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Vendor Number         object
 1   Store Number          object
 2   Item Number           object
 3   Date                  object
 4   Volume Sold (Liters)  float64
 5   Bottles Sold          int32
 6   Sale (Dollars)        float64
 7   State Bottle Cost     float64
 8   State Bottle Retail   float64
 9   Category              object
 10  trans_date            datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int32(1), object(5)
memory usage: 210.1+ MB