In [1]:
import pandas as pd
import numpy as np

In [2]:
dict_dtypes ={'Invoice/Item Number':str,
 'Date':str,
 'Store Number':str,
 'Store Name':str,
 'Address':str,
 'City':str,
 'Zip Code':str,
 'Store Location':str,
 'County Number':str,
 'County':str,
 'Category':str,
 'Category Name':str,
 'Vendor Number':str,
 'Vendor Name':str,
 'Item Number':str,
 'Item Description':str,
 'Pack':int,
 'Bottle Volume (ml)':int,
 'State Bottle Cost':float,
 'State Bottle Retail':float,
 'Bottles Sold':int,
 'Sale (Dollars)':float,
 'Volume Sold (Liters)':float,
 'Volume Sold (Gallons)':float}

In [3]:
liquor_2016 = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2016.csv', dtype=dict_dtypes)

In [4]:
liquor_2016.rename({'Item Number':'Item_Number',  'Store Number':'Store_Number', 'Store Name':'Store_Name',\
                    'Zip Code':'Zip_Code', 'Store Location':'Store_Location', 'County Number':'County_Number',\
                    'Category Name':'Category_Name', 'Vendor Name':'Vendor_Name', 'Item Number':'Item_Number',\
                    'Item Description':'Item_Description','Bottle Volume (ml)':'Bottle_Volume',\
                    'State Bottle Retail': 'Bottle_Retail','Bottles Sold':'Bottles_Sold',\
                   'State Bottle Cost':'Bottle_Cost', 'Sale (Dollars)':'Sales','Vendor Number':'Vendor_Number',\
                    'Volume Sold (Liters)':'Volume_Sold_Liters',\
                    'Volume Sold (Gallons)':'Volume_Sold_Gallons'} ,axis=1, inplace=True)#

In [5]:
pd.set_option('display.max_columns', None)
liquor_2016.head()

,Invoice/Item Number,Date,Store_Number,Store_Name,Address,City,Zip_Code,Store_Location,County_Number,County,Category,Category_Name,Vendor_Number,Vendor_Name,Item_Number,Item_Description,Pack,Bottle_Volume,Bottle_Cost,Bottle_Retail,Bottles_Sold,Sales,Volume_Sold_Liters,Volume_Sold_Gallons
0,S32100500009,05/03/2016,4311,Fareway Stores #508 / Fort Dodge,1231 1st Ave S,Fort Dodge,50501,POINT (-94.18154 42.50513),94,Webster,1051110,BLACKBERRY BRANDIES,434,Luxco-St Louis,55086,Paramount Blackberry Brandy,12,750,5.48,8.22,12,98.64,9.00,2.38
1,S32072000024,05/02/2016,4114,After 5 Somewhere,704 W 7th St Po Box 372,Atlantic,50022,POINT (-95.023116 41.40406200000001),15,Cass,1082900,MISC. IMPORTED CORDIALS & LIQUEURS,192,Sidney Frank Importing Co.,65256,Jagermeister Liqueur,12,750,12.05,18.08,5,90.40,3.75,0.99
2,S32021800012,04/27/2016,2622,Hy-Vee Food Store / Iowa City,1125 N DODGE ST,IOWA CITY,52240,POINT (-91.518868 41.676095),52,Johnson,1012100,CANADIAN WHISKIES,260,Diageo Americas,11294,Crown Royal Canadian Whisky,24,375,7.75,11.63,3,34.89,1.12,0.30
3,S32094100014,05/04/2016,4745,Walgreens #05042 / Cedar Rapids,3325 16th Ave SW,Cedar Rapids,52404,POINT (-91.715363 41.963477),57,Linn,1062200,PUERTO RICO & VIRGIN ISLANDS RUM,434,Luxco-St Louis,45248,Paramount Gold Rum,6,1750,7.84,11.76,6,70.56,10.50,2.77
4,S32037400007,04/28/2016,4959,Bani's,2128 COLLEGE ST,CEDAR FALLS,50613,POINT (-92.455801 42.518018000000005),07,Black Hawk,1071100,AMERICAN COCKTAILS,395,Proximo,58875,Jose Cuervo Golden Margarita,6,1750,10.50,15.75,6,94.50,10.50,2.77

In [6]:
liquor_2016['trans_date'] = pd.to_datetime(liquor_2016['Date'])

In [16]:
liquor_2016['trans_date'].head()

0   2016-05-03
1   2016-05-02
2   2016-04-27
3   2016-05-04
4   2016-04-28
Name: trans_date, dtype: datetime64[ns]

In [7]:
df_store1 = liquor_2016.sort_values(by=['trans_date']).drop_duplicates(['Store_Number'],keep='last')

In [8]:
stores = df_store1[['Store_Number', 'Store_Name', 'Address', 'City', 'Zip_Code', 'Store_Location', 'County_Number', 'County']]

In [9]:
stores.to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2016\stores_2016.csv')

In [11]:
zip_counts = stores.groupby(['Zip_Code']).agg({'Store_Number':'nunique'}).reset_index()

In [12]:
zip_counts.columns

Index(['Zip_Code', 'Store_Number'], dtype='object')

In [13]:
zip_counts.columns = ['Zip_Code','number_of_2016_stores']

In [14]:
zip_counts.columns

Index(['Zip_Code', 'number_of_2016_stores'], dtype='object')

In [15]:
zip_counts.to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2016\zip_counts_stores_2016.csv')