In [1]:
import pandas as pd 
import numpy as np

In [2]:
from freq_pd import proc_freq

In [4]:
final_clusters = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\final_clusters.csv',dtype={'Item_Number':str}, index_col=0)

In [5]:
stdtypes = {'Store_Number':str,'Vendor_Number':str,'Item_Number':str, 'Category':str,
            'Zip_Code':str}

In [6]:
store_trans_cluster = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\store_trans_cluster.csv', dtype=stdtypes,index_col=0 )

In [4]:
final_clusters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4301 entries, 1 to 4457
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Item_Number         4301 non-null   object
 1   Item_Description    4301 non-null   object
 2   Bottle_Volume       4301 non-null   int64
 3   Bottle_Retail       4301 non-null   float64
 4   Bottles_Sold        4301 non-null   int64
 5   cluster_name        4301 non-null   object
 6   revenue             4301 non-null   float64
 7   Num_Stores_Selling  4301 non-null   int64
 8   New_Category_Name   4301 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 336.0+ KB

In [5]:
final_clusters.cluster_name.value_counts()

Most_Variety         2199
Moderately_High       877
Volume_For_Dollar     454
Quick_Shots           436
High_End              157
Cheap                 136
Popular_Bottles        42
Name: cluster_name, dtype: int64

In [6]:
final_clusters.New_Category_Name.value_counts(normalize=True)

Vodkas                                  0.139967
Whiskies                                0.139735
Bourbon                                 0.088119
Liquers                                 0.081609
Rum                                     0.079516
Temporary & Specialty Packages          0.072076
Tequila                                 0.071146
Special Order Items                     0.056266
Scotch                                  0.054638
Brandies                                0.040921
Cocktails                               0.039991
Gin                                     0.039758
Schnapps                                0.029993
Imported Distilled Spirits Specialty    0.017205
American Distilled Spirits Specialty    0.013950
Whiskey Liqueur                         0.011858
Mezcal                                  0.011625
Neutral Grain Spirits Flavored          0.006045
Neutral Grain Spirits                   0.003023
Triple Sec                              0.002325
Distilled Spirits Specialty             0.000233
Name: New_Category_Name, dtype: float64

In [7]:
final_clusters.loc[final_clusters.cluster_name== 'Most_Variety']['New_Category_Name'].value_counts(normalize=True)

Vodkas                                  0.170987
Whiskies                                0.122328
Liquers                                 0.115962
Rum                                     0.098226
Temporary & Specialty Packages          0.068668
Special Order Items                     0.067303
Bourbon                                 0.060482
Tequila                                 0.056389
Gin                                     0.052296
Brandies                                0.041382
Schnapps                                0.040018
Scotch                                  0.024102
American Distilled Spirits Specialty    0.020009
Imported Distilled Spirits Specialty    0.013643
Whiskey Liqueur                         0.011824
Neutral Grain Spirits Flavored          0.011369
Cocktails                               0.010459
Mezcal                                  0.007276
Neutral Grain Spirits                   0.004093
Triple Sec                              0.003183
Name: New_Category_Name, dtype: float64

In [8]:
final_clusters.loc[final_clusters.cluster_name== 'Moderately_High']['New_Category_Name'].value_counts(normalize=True)

Bourbon                                 0.182440
Whiskies                                0.175599
Scotch                                  0.141391
Tequila                                 0.126568
Temporary & Specialty Packages          0.096921
Special Order Items                     0.067275
Rum                                     0.038769
Brandies                                0.036488
Mezcal                                  0.031927
Imported Distilled Spirits Specialty    0.029647
Gin                                     0.019384
Liquers                                 0.019384
American Distilled Spirits Specialty    0.014823
Vodkas                                  0.012543
Whiskey Liqueur                         0.003421
Cocktails                               0.002281
Distilled Spirits Specialty             0.001140
Name: New_Category_Name, dtype: float64

In [9]:
final_clusters.loc[final_clusters.cluster_name== 'Volume_For_Dollar']['New_Category_Name'].value_counts(normalize=True)

Cocktails                         0.200441
Vodkas                            0.171806
Rum                               0.118943
Whiskies                          0.112335
Bourbon                           0.063877
Temporary & Specialty Packages    0.055066
Gin                               0.055066
Scotch                            0.046256
Special Order Items               0.044053
Tequila                           0.037445
Liquers                           0.035242
Brandies                          0.028634
Schnapps                          0.019824
Whiskey Liqueur                   0.008811
Neutral Grain Spirits             0.002203
Name: New_Category_Name, dtype: float64

In [10]:
final_clusters.loc[final_clusters.cluster_name== 'Quick_Shots']['New_Category_Name'].value_counts(normalize=True)

Vodkas                                  0.201835
Whiskies                                0.158257
Cocktails                               0.119266
Liquers                                 0.116972
Temporary & Specialty Packages          0.071101
Bourbon                                 0.068807
Schnapps                                0.059633
Brandies                                0.055046
Tequila                                 0.041284
Rum                                     0.032110
Imported Distilled Spirits Specialty    0.018349
Gin                                     0.018349
Whiskey Liqueur                         0.013761
Scotch                                  0.009174
Special Order Items                     0.009174
American Distilled Spirits Specialty    0.004587
Neutral Grain Spirits                   0.002294
Name: New_Category_Name, dtype: float64

In [11]:
final_clusters.loc[final_clusters.cluster_name == 'High_End']['New_Category_Name'].value_counts(normalize=True)

Scotch                                  0.210191
Tequila                                 0.152866
Whiskies                                0.152866
Temporary & Specialty Packages          0.108280
Bourbon                                 0.082803
Special Order Items                     0.070064
Imported Distilled Spirits Specialty    0.050955
Mezcal                                  0.038217
Rum                                     0.031847
Cocktails                               0.025478
Brandies                                0.019108
Liquers                                 0.012739
Whiskey Liqueur                         0.012739
Vodkas                                  0.012739
Gin                                     0.006369
Neutral Grain Spirits                   0.006369
American Distilled Spirits Specialty    0.006369
Name: New_Category_Name, dtype: float64

In [12]:
final_clusters.loc[final_clusters.cluster_name== 'Cheap']['New_Category_Name'].value_counts(normalize=True)

Vodkas                                  0.250000
Whiskies                                0.161765
Bourbon                                 0.102941
Rum                                     0.095588
Brandies                                0.080882
Tequila                                 0.080882
Liquers                                 0.073529
Gin                                     0.036765
Schnapps                                0.036765
Whiskey Liqueur                         0.029412
Triple Sec                              0.022059
Temporary & Specialty Packages          0.007353
Neutral Grain Spirits                   0.007353
Imported Distilled Spirits Specialty    0.007353
Neutral Grain Spirits Flavored          0.007353
Name: New_Category_Name, dtype: float64

In [13]:
final_clusters.loc[final_clusters.cluster_name== 'Popular_Bottles']['New_Category_Name'].value_counts(normalize=True)

Vodkas                                  0.309524
Whiskies                                0.285714
Rum                                     0.142857
Whiskey Liqueur                         0.142857
Brandies                                0.047619
Imported Distilled Spirits Specialty    0.023810
Schnapps                                0.023810
Tequila                                 0.023810
Name: New_Category_Name, dtype: float64

In [14]:
final_clusters.loc[(final_clusters.cluster_name== 'Popular_Bottles') & (final_clusters.New_Category_Name == 'Tequila')]

,Item_Number,Item_Description,Bottle_Volume,Bottle_Retail,Bottles_Sold,cluster_name,revenue,Num_Stores_Selling,New_Category_Name
2772,88296,Patron Silver,750,41.522231,144787,Popular_Bottles,6001266.0,1274,Tequila

look at within cluster revenue by product type

In [7]:
store_trans_cluster.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2473851 entries, 0 to 2473850
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   Store_Number        object
 1   Store_Name          object
 2   Address             object
 3   City                object
 4   Zip_Code            object
 5   Store_Location      object
 6   County_Number       int64
 7   County              object
 8   Vendor_Number       object
 9   Item_Number         object
 10  Category            object
 11  Item_Description    object
 12  Bottle_Volume       int64
 13  Bottle_Retail       float64
 14  Bottles_Sold        int64
 15  cluster_name        object
 16  revenue             float64
 17  Num_Stores_Selling  int64
 18  New_Category_Name   object
dtypes: float64(2), int64(4), object(13)
memory usage: 377.5+ MB

In [20]:
# final_clusters.groupby(['cluster_name'])['Item_Number'].unique().
tot_revenue_clusters = store_trans_cluster.groupby(['cluster_name']).agg({'revenue':'sum'})

In [23]:
tot_revenue_clusters = tot_revenue_clusters.reset_index()

In [38]:
# rename columns
tot_revenue_clusters.columns = ['cluster_name','cluster_total_revenue']
tot_revenue_clusters

        cluster_name  cluster_total_revenue
0              Cheap           3.987751e+11
1           High_End           1.063769e+09
2    Moderately_High           1.969794e+10
3       Most_Variety           1.087000e+11
4    Popular_Bottles           1.361969e+12
5        Quick_Shots           2.319851e+10
6  Volume_For_Dollar           2.582384e+11

In [24]:
cluster_revenue_by_New_Category_Name = store_trans_cluster.groupby(['cluster_name','New_Category_Name']).agg({'revenue':'sum'})

In [27]:
cluster_revenue_by_New_Category_Name = cluster_revenue_by_New_Category_Name.reset_index()

In [37]:
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', None)

cluster_revenue_by_New_Category_Name.head()

  cluster_name                     New_Category_Name       revenue
0        Cheap                               Bourbon  6.661426e+10
1        Cheap                              Brandies  3.985568e+10
2        Cheap                                   Gin  6.583933e+09
3        Cheap  Imported Distilled Spirits Specialty  6.978735e+08
4        Cheap                               Liquers  3.464707e+10

In [32]:
# us.merge(census_combined4,how='inner',left_on='ZCTA5CE20', right_on='Zip_Code')
cluster_revenue_pct = cluster_revenue_by_New_Category_Name.merge(tot_revenue_clusters, how='inner')

In [33]:
cluster_revenue_pct.head()

,cluster_name,New_Category_Name,revenue,cluster_total_revenue
0,Cheap,Bourbon,6.661426e+10,3.987751e+11
1,Cheap,Brandies,3.985568e+10,3.987751e+11
2,Cheap,Gin,6.583933e+09,3.987751e+11
3,Cheap,Imported Distilled Spirits Specialty,6.978735e+08,3.987751e+11
4,Cheap,Liquers,3.464707e+10,3.987751e+11

In [40]:
cluster_revenue_pct['revenue_pct'] = cluster_revenue_pct.revenue / cluster_revenue_pct.cluster_total_revenue *100

### Cheap

In [41]:
# Cheap
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Cheap',['cluster_name','New_Category_Name','revenue_pct']].sort_values(by='revenue_pct',ascending=False)

   cluster_name                     New_Category_Name  revenue_pct
14        Cheap                              Whiskies    19.259116
0         Cheap                               Bourbon    16.704719
12        Cheap                                Vodkas    15.167411
1         Cheap                              Brandies     9.994526
7         Cheap                                   Rum     9.187147
10        Cheap                               Tequila     9.076369
4         Cheap                               Liquers     8.688375
8         Cheap                              Schnapps     5.092081
9         Cheap        Temporary & Specialty Packages     1.937596
13        Cheap                       Whiskey Liqueur     1.844834
2         Cheap                                   Gin     1.651039
6         Cheap        Neutral Grain Spirits Flavored     0.474616
5         Cheap                 Neutral Grain Spirits     0.409456
11        Cheap                            Triple Sec     0.337712
3         Cheap  Imported Distilled Spirits Specialty     0.175004

In [42]:
# High_End
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'High_End',['cluster_name','New_Category_Name','revenue_pct']].sort_values(by='revenue_pct',ascending=False)

   cluster_name                     New_Category_Name  revenue_pct
28     High_End                               Tequila    43.440284
25     High_End                                Scotch    22.306638
17     High_End                              Brandies    19.279012
31     High_End                              Whiskies     6.140626
27     High_End        Temporary & Specialty Packages     5.037279
16     High_End                               Bourbon     2.926700
21     High_End                               Liquers     0.772357
26     High_End                   Special Order Items     0.071350
15     High_End  American Distilled Spirits Specialty     0.010576
18     High_End                             Cocktails     0.009233
20     High_End  Imported Distilled Spirits Specialty     0.002824
24     High_End                                   Rum     0.001429
29     High_End                                Vodkas     0.000803
22     High_End                                Mezcal     0.000741
30     High_End                       Whiskey Liqueur     0.000085
23     High_End                 Neutral Grain Spirits     0.000042
19     High_End                                   Gin     0.000020

In [43]:
# Moderately_High
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Moderately_High',['cluster_name','New_Category_Name','revenue_pct']].sort_values(by='revenue_pct',ascending=False)

       cluster_name                     New_Category_Name  revenue_pct
45  Moderately_High                               Tequila    44.634267
33  Moderately_High                               Bourbon    15.137928
42  Moderately_High                                Scotch    14.365319
34  Moderately_High                              Brandies     9.703007
39  Moderately_High                               Liquers     7.019692
48  Moderately_High                              Whiskies     4.986267
44  Moderately_High        Temporary & Specialty Packages     3.323879
40  Moderately_High                                Mezcal     0.263365
46  Moderately_High                                Vodkas     0.261375
41  Moderately_High                                   Rum     0.138906
37  Moderately_High                                   Gin     0.038528
36  Moderately_High           Distilled Spirits Specialty     0.028643
43  Moderately_High                   Special Order Items     0.026186
32  Moderately_High  American Distilled Spirits Specialty     0.024032
35  Moderately_High                             Cocktails     0.020355
38  Moderately_High  Imported Distilled Spirits Specialty     0.018532
47  Moderately_High                       Whiskey Liqueur     0.009720

In [44]:
# Most_Variety
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Most_Variety',['cluster_name','New_Category_Name','revenue_pct']].sort_values(by='revenue_pct',ascending=False)

    cluster_name                     New_Category_Name  revenue_pct
66  Most_Variety                                Vodkas    16.693666
55  Most_Variety                               Liquers    15.986316
68  Most_Variety                              Whiskies    13.571368
50  Most_Variety                               Bourbon    10.813825
64  Most_Variety                               Tequila    10.120842
59  Most_Variety                                   Rum     9.480549
60  Most_Variety                              Schnapps     5.557507
53  Most_Variety                                   Gin     5.142923
51  Most_Variety                              Brandies     3.866345
61  Most_Variety                                Scotch     3.550661
63  Most_Variety        Temporary & Specialty Packages     1.519921
49  Most_Variety  American Distilled Spirits Specialty     1.509084
58  Most_Variety        Neutral Grain Spirits Flavored     0.739101
67  Most_Variety                       Whiskey Liqueur     0.691883
52  Most_Variety                             Cocktails     0.442975
65  Most_Variety                            Triple Sec     0.148481
54  Most_Variety  Imported Distilled Spirits Specialty     0.063666
56  Most_Variety                                Mezcal     0.061566
57  Most_Variety                 Neutral Grain Spirits     0.034467
62  Most_Variety                   Special Order Items     0.004852

In [45]:
# Popular_Bottles
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Popular_Bottles',['cluster_name','New_Category_Name','revenue_pct']].sort_values(by='revenue_pct',ascending=False)

       cluster_name                     New_Category_Name  revenue_pct
74  Popular_Bottles                                Vodkas    38.283297
76  Popular_Bottles                              Whiskies    35.404182
71  Popular_Bottles                                   Rum    10.449636
75  Popular_Bottles                       Whiskey Liqueur     9.338426
73  Popular_Bottles                               Tequila     3.696459
69  Popular_Bottles                              Brandies     2.750286
70  Popular_Bottles  Imported Distilled Spirits Specialty     0.055430
72  Popular_Bottles                              Schnapps     0.022283

In [46]:
# Quick_Shots
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Quick_Shots',['cluster_name','New_Category_Name','revenue_pct']].sort_values(by='revenue_pct',ascending=False)

   cluster_name                     New_Category_Name  revenue_pct
91  Quick_Shots                                Vodkas    19.649845
78  Quick_Shots                               Bourbon    18.567588
86  Quick_Shots                              Schnapps    15.401259
83  Quick_Shots                               Liquers    14.233381
93  Quick_Shots                              Whiskies     9.641129
79  Quick_Shots                              Brandies     7.153017
85  Quick_Shots                                   Rum     5.583980
92  Quick_Shots                       Whiskey Liqueur     3.695564
80  Quick_Shots                             Cocktails     2.314312
81  Quick_Shots                                   Gin     1.605908
90  Quick_Shots                               Tequila     1.573083
89  Quick_Shots        Temporary & Specialty Packages     0.336003
87  Quick_Shots                                Scotch     0.229776
82  Quick_Shots  Imported Distilled Spirits Specialty     0.013094
84  Quick_Shots                 Neutral Grain Spirits     0.001966
77  Quick_Shots  American Distilled Spirits Specialty     0.000052
88  Quick_Shots                   Special Order Items     0.000043

In [47]:
# Volume_For_Dollar
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Volume_For_Dollar',['cluster_name','New_Category_Name','revenue_pct']].sort_values(by='revenue_pct',ascending=False)

          cluster_name               New_Category_Name  revenue_pct
108  Volume_For_Dollar                        Whiskies    30.406046
106  Volume_For_Dollar                          Vodkas    28.811583
100  Volume_For_Dollar                             Rum    13.931603
107  Volume_For_Dollar                 Whiskey Liqueur     7.842402
96   Volume_For_Dollar                       Cocktails     7.302990
94   Volume_For_Dollar                         Bourbon     5.794686
97   Volume_For_Dollar                             Gin     1.448172
105  Volume_For_Dollar                         Tequila     1.210142
101  Volume_For_Dollar                        Schnapps     1.105239
98   Volume_For_Dollar                         Liquers     0.722392
102  Volume_For_Dollar                          Scotch     0.663897
95   Volume_For_Dollar                        Brandies     0.571939
104  Volume_For_Dollar  Temporary & Specialty Packages     0.164767
103  Volume_For_Dollar             Special Order Items     0.014977
99   Volume_For_Dollar           Neutral Grain Spirits     0.009166