In [1]:
import pandas as pd 
import numpy as np

In [2]:
from freq_pd import proc_freq

In [3]:
final_clusters = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\final_clusters.csv',dtype={'Item_Number':str}, index_col=0)

In [4]:
stdtypes = {'Store_Number':str,'Vendor_Number':str,'Item_Number':str, 'Category':str,
            'Zip_Code':str}

In [5]:
store_trans_cluster = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\store_trans_cluster.csv', dtype=stdtypes,index_col=0 )

In [6]:
final_clusters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4301 entries, 1 to 4457
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Item_Number         4301 non-null   object
 1   Item_Description    4301 non-null   object
 2   Bottle_Volume       4301 non-null   int64
 3   Bottle_Retail       4301 non-null   float64
 4   Bottles_Sold        4301 non-null   int64
 5   cluster_name        4301 non-null   object
 6   revenue             4301 non-null   float64
 7   Num_Stores_Selling  4301 non-null   int64
 8   New_Category_Name   4301 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 336.0+ KB

In [7]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.display.float_format = '{:,}'.format

In [8]:
std_retail_price_df = store_trans_cluster.groupby(['Item_Number']).agg({'Bottle_Retail':'std'}).reset_index()

In [9]:
std_retail_price_df.head() 
std_retail_price_df.Bottle_Retail.mean()

0.0

In [10]:
final_clusters.cluster_name.value_counts()

Most_Variety         2199
Moderately_High       877
Volume_For_Dollar     454
Quick_Shots           436
High_End              157
Cheap                 136
Popular_Bottles        42
Name: cluster_name, dtype: int64

In [11]:
final_clusters.New_Category_Name.value_counts(normalize=True)

Vodkas                                    0.13996744943036504
Whiskies                                  0.13973494536154382
Bourbon                                   0.08811904208323645
Liquers                                   0.08160892815624274
Rum                                       0.07951639153685189
Temporary & Specialty Packages            0.07207626133457336
Tequila                                   0.07114624505928854
Special Order Items                      0.056265984654731455
Scotch                                   0.054638456172983026
Brandies                                  0.04092071611253197
Cocktails                                 0.03999069983724715
Gin                                      0.039758195768425944
Schnapps                                 0.029993024877935363
Imported Distilled Spirits Specialty     0.017205301092769125
American Distilled Spirits Specialty     0.013950244129272262
Whiskey Liqueur                          0.011857707509881422
Mezcal                                   0.011625203441060218
Neutral Grain Spirits Flavored           0.006045105789351314
Neutral Grain Spirits                    0.003022552894675657
Triple Sec                              0.0023250406882120438
Distilled Spirits Specialty            0.00023250406882120437
Name: New_Category_Name, dtype: float64

In [12]:
final_clusters.loc[final_clusters.cluster_name== 'Most_Variety']['New_Category_Name'].value_counts(normalize=True)

Vodkas                                    0.1709868121873579
Whiskies                                 0.12232833105957254
Liquers                                  0.11596180081855388
Rum                                      0.09822646657571624
Temporary & Specialty Packages           0.06866757617098682
Special Order Items                      0.06730331969076853
Bourbon                                 0.060482037289677125
Tequila                                  0.05638926784902228
Gin                                      0.05229649840836744
Brandies                                 0.04138244656662119
Schnapps                                 0.04001819008640291
Scotch                                    0.0241018644838563
American Distilled Spirits Specialty    0.020009095043201454
Imported Distilled Spirits Specialty    0.013642564802182811
Whiskey Liqueur                          0.01182355616189177
Neutral Grain Spirits Flavored          0.011368804001819008
Cocktails                               0.010459299681673489
Mezcal                                  0.007276034561164165
Neutral Grain Spirits                   0.004092769440654843
Triple Sec                             0.0031832651205093224
Name: New_Category_Name, dtype: float64

In [13]:
final_clusters.loc[final_clusters.cluster_name== 'Moderately_High']['New_Category_Name'].value_counts(normalize=True)

Bourbon                                  0.18244013683010263
Whiskies                                 0.17559863169897377
Scotch                                   0.14139110604332952
Tequila                                   0.1265678449258837
Temporary & Specialty Packages           0.09692132269099202
Special Order Items                      0.06727480045610035
Rum                                      0.03876852907639681
Brandies                                0.036488027366020526
Mezcal                                   0.03192702394526796
Imported Distilled Spirits Specialty    0.029646522234891677
Gin                                     0.019384264538198404
Liquers                                 0.019384264538198404
American Distilled Spirits Specialty    0.014823261117445839
Vodkas                                  0.012542759407069556
Whiskey Liqueur                        0.0034207525655644243
Cocktails                               0.002280501710376283
Distilled Spirits Specialty            0.0011402508551881414
Name: New_Category_Name, dtype: float64

In [14]:
final_clusters.loc[final_clusters.cluster_name== 'Volume_For_Dollar']['New_Category_Name'].value_counts(normalize=True)

Cocktails                          0.20044052863436124
Vodkas                             0.17180616740088106
Rum                                0.11894273127753303
Whiskies                           0.11233480176211454
Bourbon                            0.06387665198237885
Temporary & Specialty Packages     0.05506607929515418
Gin                                0.05506607929515418
Scotch                            0.046255506607929514
Special Order Items                0.04405286343612335
Tequila                           0.037444933920704845
Liquers                            0.03524229074889868
Brandies                          0.028634361233480177
Schnapps                          0.019823788546255508
Whiskey Liqueur                    0.00881057268722467
Neutral Grain Spirits            0.0022026431718061676
Name: New_Category_Name, dtype: float64

In [15]:
final_clusters.loc[final_clusters.cluster_name== 'Quick_Shots']['New_Category_Name'].value_counts(normalize=True)

Vodkas                                    0.2018348623853211
Whiskies                                 0.15825688073394495
Cocktails                                0.11926605504587157
Liquers                                  0.11697247706422019
Temporary & Specialty Packages           0.07110091743119266
Bourbon                                  0.06880733944954129
Schnapps                                 0.05963302752293578
Brandies                                 0.05504587155963303
Tequila                                  0.04128440366972477
Rum                                      0.03211009174311927
Imported Distilled Spirits Specialty     0.01834862385321101
Gin                                      0.01834862385321101
Whiskey Liqueur                         0.013761467889908258
Scotch                                  0.009174311926605505
Special Order Items                     0.009174311926605505
American Distilled Spirits Specialty   0.0045871559633027525
Neutral Grain Spirits                  0.0022935779816513763
Name: New_Category_Name, dtype: float64

In [16]:
final_clusters.loc[final_clusters.cluster_name == 'High_End']['New_Category_Name'].value_counts(normalize=True)

Scotch                                  0.21019108280254778
Tequila                                 0.15286624203821655
Whiskies                                0.15286624203821655
Temporary & Specialty Packages          0.10828025477707007
Bourbon                                 0.08280254777070063
Special Order Items                     0.07006369426751592
Imported Distilled Spirits Specialty   0.050955414012738856
Mezcal                                  0.03821656050955414
Rum                                     0.03184713375796178
Cocktails                              0.025477707006369428
Brandies                                0.01910828025477707
Liquers                                0.012738853503184714
Whiskey Liqueur                        0.012738853503184714
Vodkas                                 0.012738853503184714
Gin                                    0.006369426751592357
Neutral Grain Spirits                  0.006369426751592357
American Distilled Spirits Specialty   0.006369426751592357
Name: New_Category_Name, dtype: float64

In [17]:
final_clusters.loc[final_clusters.cluster_name== 'Cheap']['New_Category_Name'].value_counts(normalize=True)

Vodkas                                                 0.25
Whiskies                                0.16176470588235295
Bourbon                                 0.10294117647058823
Rum                                     0.09558823529411764
Brandies                                0.08088235294117647
Tequila                                 0.08088235294117647
Liquers                                 0.07352941176470588
Gin                                     0.03676470588235294
Schnapps                                0.03676470588235294
Whiskey Liqueur                        0.029411764705882353
Triple Sec                             0.022058823529411766
Temporary & Specialty Packages         0.007352941176470588
Neutral Grain Spirits                  0.007352941176470588
Imported Distilled Spirits Specialty   0.007352941176470588
Neutral Grain Spirits Flavored         0.007352941176470588
Name: New_Category_Name, dtype: float64

In [18]:
final_clusters.loc[final_clusters.cluster_name== 'Popular_Bottles']['New_Category_Name'].value_counts(normalize=True)

Vodkas                                  0.30952380952380953
Whiskies                                 0.2857142857142857
Rum                                     0.14285714285714285
Whiskey Liqueur                         0.14285714285714285
Brandies                               0.047619047619047616
Imported Distilled Spirits Specialty   0.023809523809523808
Schnapps                               0.023809523809523808
Tequila                                0.023809523809523808
Name: New_Category_Name, dtype: float64

In [19]:
final_clusters.loc[(final_clusters.cluster_name== 'Popular_Bottles') & (final_clusters.New_Category_Name == 'Tequila')]

,Item_Number,Item_Description,Bottle_Volume,Bottle_Retail,Bottles_Sold,cluster_name,revenue,Num_Stores_Selling,New_Category_Name
2772,88296,Patron Silver,750,41.5222314936226,144787,Popular_Bottles,"6,001,266.0",1274,Tequila

look at within cluster revenue by product type

In [20]:
store_trans_cluster.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2473851 entries, 0 to 2473850
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   Store_Number        object
 1   Store_Name          object
 2   Address             object
 3   City                object
 4   Zip_Code            object
 5   Store_Location      object
 6   County_Number       int64
 7   County              object
 8   Vendor_Number       object
 9   Item_Number         object
 10  Category            object
 11  Item_Description    object
 12  Bottle_Volume       int64
 13  Bottle_Retail       float64
 14  Bottles_Sold        int64
 15  cluster_name        object
 16  revenue             float64
 17  Num_Stores_Selling  int64
 18  New_Category_Name   object
dtypes: float64(2), int64(4), object(13)
memory usage: 377.5+ MB

In [21]:
tot_revenue_clusters = store_trans_cluster.groupby(['cluster_name']).agg({'revenue':'sum'})

In [22]:
tot_revenue_clusters = tot_revenue_clusters.reset_index()

In [23]:
# rename columns
tot_revenue_clusters.columns = ['cluster_name','cluster_total_revenue']
tot_revenue_clusters

        cluster_name  cluster_total_revenue
0              Cheap     398,775,088,141.05
1           High_End       1,063,769,105.46
2    Moderately_High      19,697,935,241.34
3       Most_Variety     108,699,996,632.98
4    Popular_Bottles   1,361,968,771,503.28
5        Quick_Shots      23,198,511,203.05
6  Volume_For_Dollar  258,238,368,070.33002

In [24]:
cluster_revenue_by_New_Category_Name = store_trans_cluster.groupby(['cluster_name','New_Category_Name']).agg({'revenue':'sum','Item_Number':'nunique'})

In [25]:
cluster_revenue_by_New_Category_Name = cluster_revenue_by_New_Category_Name.reset_index()

In [26]:
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', None)

cluster_revenue_by_New_Category_Name.head()

,cluster_name,New_Category_Name,revenue,Item_Number
0,Cheap,Bourbon,"66,614,259,808.74",14
1,Cheap,Brandies,"39,855,678,524.59",11
2,Cheap,Gin,"6,583,933,052.59",5
3,Cheap,Imported Distilled Spirits Specialty,"697,873,477.5",1
4,Cheap,Liquers,"34,647,074,330.19",10

In [27]:
# us.merge(census_combined4,how='inner',left_on='ZCTA5CE20', right_on='Zip_Code')
cluster_revenue_pct = cluster_revenue_by_New_Category_Name.merge(tot_revenue_clusters, how='inner')

In [28]:
cluster_revenue_pct.head()

,cluster_name,New_Category_Name,revenue,Item_Number,cluster_total_revenue
0,Cheap,Bourbon,"66,614,259,808.74",14,"398,775,088,141.05"
1,Cheap,Brandies,"39,855,678,524.59",11,"398,775,088,141.05"
2,Cheap,Gin,"6,583,933,052.59",5,"398,775,088,141.05"
3,Cheap,Imported Distilled Spirits Specialty,"697,873,477.5",1,"398,775,088,141.05"
4,Cheap,Liquers,"34,647,074,330.19",10,"398,775,088,141.05"

In [29]:
cluster_revenue_pct['revenue_pct'] = cluster_revenue_pct.revenue / cluster_revenue_pct.cluster_total_revenue *100

### Cheap

In [30]:
# Cheap
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Cheap',['cluster_name','New_Category_Name','revenue_pct','Item_Number']].sort_values(by='revenue_pct',ascending=False)

,cluster_name,New_Category_Name,revenue_pct,Item_Number
14,Cheap,Whiskies,19.259115652456458,22
0,Cheap,Bourbon,16.704719474647323,14
12,Cheap,Vodkas,15.167410574811626,34
1,Cheap,Brandies,9.994525663672531,11
7,Cheap,Rum,9.187147298183666,13
10,Cheap,Tequila,9.076368917410353,11
4,Cheap,Liquers,8.688374815915042,10
8,Cheap,Schnapps,5.092080584210821,5
9,Cheap,Temporary & Specialty Packages,1.9375959022437785,1
13,Cheap,Whiskey Liqueur,1.8448344651478983,4
2,Cheap,Gin,1.6510392069078321,5
6,Cheap,Neutral Grain Spirits Flavored,0.4746157386166898,1
5,Cheap,Neutral Grain Spirits,0.40945581621248683,1
11,Cheap,Triple Sec,0.33771160813928724,3
3,Cheap,Imported Distilled Spirits Specialty,0.17500428142420885,1

In [31]:
# High_End
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'High_End',['cluster_name','New_Category_Name','revenue_pct','Item_Number']].sort_values(by='revenue_pct',ascending=False)

,cluster_name,New_Category_Name,revenue_pct,Item_Number
28,High_End,Tequila,43.44028419401922,24
25,High_End,Scotch,22.30663789463875,33
17,High_End,Brandies,19.27901192254653,3
31,High_End,Whiskies,6.140625621173038,24
27,High_End,Temporary & Specialty Packages,5.037279332043443,17
16,High_End,Bourbon,2.9267000216684407,13
21,High_End,Liquers,0.7723574559393841,2
26,High_End,Special Order Items,0.07135002286720762,11
15,High_End,American Distilled Spirits Specialty,0.010575603241584292,1
18,High_End,Cocktails,0.009233432282988348,4
20,High_End,Imported Distilled Spirits Specialty,0.0028241542122065004,8
24,High_End,Rum,0.0014288081804582472,5
29,High_End,Vodkas,0.0008028678362779493,2
22,High_End,Mezcal,0.0007406080849277159,6
30,High_End,Whiskey Liqueur,8.531268630964438e-05,2
23,High_End,Neutral Grain Spirits,4.2302412966337175e-05,1
19,High_End,Gin,2.0446166267062967e-05,1

In [32]:
# Moderately_High
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Moderately_High',['cluster_name','New_Category_Name','revenue_pct','Item_Number']].sort_values(by='revenue_pct',ascending=False)

,cluster_name,New_Category_Name,revenue_pct,Item_Number
45,Moderately_High,Tequila,44.63426697366836,111
33,Moderately_High,Bourbon,15.13792752938887,160
42,Moderately_High,Scotch,14.36531914305098,124
34,Moderately_High,Brandies,9.7030069390155,32
39,Moderately_High,Liquers,7.019691717424573,17
48,Moderately_High,Whiskies,4.9862665291876755,154
44,Moderately_High,Temporary & Specialty Packages,3.32387898151837,85
40,Moderately_High,Mezcal,0.26336519216046983,28
46,Moderately_High,Vodkas,0.26137490299971955,11
41,Moderately_High,Rum,0.1389060615986605,34
37,Moderately_High,Gin,0.03852797030255505,17
36,Moderately_High,Distilled Spirits Specialty,0.028642951308718915,1
43,Moderately_High,Special Order Items,0.02618624219646437,59
32,Moderately_High,American Distilled Spirits Specialty,0.02403185050616489,13
35,Moderately_High,Cocktails,0.020355144591932578,2
38,Moderately_High,Imported Distilled Spirits Specialty,0.018531921063172672,26
47,Moderately_High,Whiskey Liqueur,0.009719950017815941,3

In [33]:
# Most_Variety
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Most_Variety',['cluster_name','New_Category_Name','revenue_pct','Item_Number']].sort_values(by='revenue_pct',ascending=False)

,cluster_name,New_Category_Name,revenue_pct,Item_Number
66,Most_Variety,Vodkas,16.69366602939197,376
55,Most_Variety,Liquers,15.986315851419,255
68,Most_Variety,Whiskies,13.571368058142298,269
50,Most_Variety,Bourbon,10.813825066424704,133
64,Most_Variety,Tequila,10.12084248746163,124
59,Most_Variety,Rum,9.480548616220762,216
60,Most_Variety,Schnapps,5.557506630048168,88
53,Most_Variety,Gin,5.142923256056353,115
51,Most_Variety,Brandies,3.8663450836068187,91
61,Most_Variety,Scotch,3.55066072576031,53
63,Most_Variety,Temporary & Specialty Packages,1.5199209388832033,151
49,Most_Variety,American Distilled Spirits Specialty,1.5090837731197357,44
58,Most_Variety,Neutral Grain Spirits Flavored,0.7391014786988911,25
67,Most_Variety,Whiskey Liqueur,0.6918831967855066,26
52,Most_Variety,Cocktails,0.4429751009890159,23
65,Most_Variety,Triple Sec,0.14848148749714937,7
54,Most_Variety,Imported Distilled Spirits Specialty,0.0636663328828502,30
56,Most_Variety,Mezcal,0.061566010904268546,16
57,Most_Variety,Neutral Grain Spirits,0.03446746899772454,9
62,Most_Variety,Special Order Items,0.004852406709642598,148

In [34]:
# Popular_Bottles
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Popular_Bottles',['cluster_name','New_Category_Name','revenue_pct','Item_Number']].sort_values(by='revenue_pct',ascending=False)

,cluster_name,New_Category_Name,revenue_pct,Item_Number
74,Popular_Bottles,Vodkas,38.28329688332757,13
76,Popular_Bottles,Whiskies,35.40418223904547,12
71,Popular_Bottles,Rum,10.449636149154337,6
75,Popular_Bottles,Whiskey Liqueur,9.338426113197684,6
73,Popular_Bottles,Tequila,3.69645923808017,1
69,Popular_Bottles,Brandies,2.750286455779415,2
70,Popular_Bottles,Imported Distilled Spirits Specialty,0.0554297306396193,1
72,Popular_Bottles,Schnapps,0.02228319077573425,1

In [35]:
# Quick_Shots
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Quick_Shots',['cluster_name','New_Category_Name','revenue_pct','Item_Number']].sort_values(by='revenue_pct',ascending=False)

,cluster_name,New_Category_Name,revenue_pct,Item_Number
91,Quick_Shots,Vodkas,19.64984475469564,88
78,Quick_Shots,Bourbon,18.567587595378484,30
86,Quick_Shots,Schnapps,15.401259007561924,26
83,Quick_Shots,Liquers,14.233380883967598,51
93,Quick_Shots,Whiskies,9.641129322884936,69
79,Quick_Shots,Brandies,7.153016652171338,24
85,Quick_Shots,Rum,5.583979562704389,14
92,Quick_Shots,Whiskey Liqueur,3.6955636408998753,6
80,Quick_Shots,Cocktails,2.3143124662215975,52
81,Quick_Shots,Gin,1.6059078488235912,8
90,Quick_Shots,Tequila,1.5730833412793361,18
89,Quick_Shots,Temporary & Specialty Packages,0.33600322015385153,31
87,Quick_Shots,Scotch,0.2297763685498569,4
82,Quick_Shots,Imported Distilled Spirits Specialty,0.013094299170373589,8
84,Quick_Shots,Neutral Grain Spirits,0.0019657261451331643,1
77,Quick_Shots,American Distilled Spirits Specialty,5.213093156775511e-05,2
88,Quick_Shots,Special Order Items,4.317846051553109e-05,4

In [36]:
# Volume_For_Dollar
cluster_revenue_pct.loc[cluster_revenue_pct.cluster_name == 'Volume_For_Dollar',['cluster_name','New_Category_Name','revenue_pct','Item_Number']].sort_values(by='revenue_pct',ascending=False)

,cluster_name,New_Category_Name,revenue_pct,Item_Number
108,Volume_For_Dollar,Whiskies,30.406046183243934,51
106,Volume_For_Dollar,Vodkas,28.81158319989337,78
100,Volume_For_Dollar,Rum,13.931602833286918,54
107,Volume_For_Dollar,Whiskey Liqueur,7.842401599445687,4
96,Volume_For_Dollar,Cocktails,7.302989856524267,91
94,Volume_For_Dollar,Bourbon,5.794685746490078,29
97,Volume_For_Dollar,Gin,1.4481721689712275,25
105,Volume_For_Dollar,Tequila,1.2101415959765156,17
101,Volume_For_Dollar,Schnapps,1.105238541982532,9
98,Volume_For_Dollar,Liquers,0.7223921143940708,16
102,Volume_For_Dollar,Scotch,0.6638970658004937,21
95,Volume_For_Dollar,Brandies,0.5719386143842714,13
104,Volume_For_Dollar,Temporary & Specialty Packages,0.16476701728695842,25
103,Volume_For_Dollar,Special Order Items,0.014977067845885171,20
99,Volume_For_Dollar,Neutral Grain Spirits,0.009166394473788371,1