In [1]:
from dask import dataframe as dd

In [2]:
from dask import delayed as delayed

In [3]:
import pandas as pd
import numpy as np

In [4]:
dict_dtypes ={'Invoice/Item Number':str,
 'Date':str,
 'Store Number':str,
 'Store Name':str,
 'Address':str,
 'City':str,
 'Zip Code':str,
 'Store Location':str,
 'County Number':str,
 'County':str,
 'Category':str,
 'Category Name':str,
 'Vendor Number':str,
 'Vendor Name':str,
 'Item Number':str,
 'Item Description':str,
 'Pack':int,
 'Bottle Volume (ml)':int,
 'State Bottle Cost':float,
 'State Bottle Retail':float,
 'Bottles Sold':int,
 'Sale (Dollars)':float,
 'Volume Sold (Liters)':float,
 'Volume Sold (Gallons)':float}

In [5]:
df_17_22 = dd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2017_to_2022.csv', dtype= dict_dtypes)

In [15]:
pd.set_option('display.max_columns', None)
df_17_22.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),dd_date,volume
0,INV-16608300016,12/28/2018,4932,B and B West,3105 Hudson Rd,Cedar Falls,50613,POINT (-92.465838 42.509248),7,BLACK HAWK,1031100,American Vodkas,300,McCormick Distilling Co.,36908,Mccormick Vodka Pet,6,1750,7.47,11.21,6,67.26,10.5,2.77,2018-12-28,1.750
1,INV-16607200030,12/28/2018,5656,Cody Mart Gas & Liquor,1220 N Cody Rd,Le Claire,52753,POINT (-90.34429 41.611036),82,SCOTT,1081600,Whiskey Liqueur,421,SAZERAC COMPANY INC,86881,Southern Comfort Mini,10,600,5.65,8.48,10,84.80,6.0,1.58,2018-12-28,0.600
2,INV-16607600007,12/28/2018,2106,Hillstreet News and Tobacco,2217 College,Cedar Falls,50613,POINT (-92.455796 42.517182),7,BLACK HAWK,1032100,Imported Vodkas,035,BACARDI USA INC,34433,Grey Goose,12,750,18.49,27.74,12,332.88,9.0,2.37,2018-12-28,0.750
3,INV-16607800025,12/28/2018,5155,New Star / Ansborough Ave,"1459, Ansborough Ave",Waterloo,50701,POINT (-92.376863 42.493091),7,BLACK HAWK,1031100,American Vodkas,300,McCormick Distilling Co.,36904,Mccormick Vodka Pet,24,375,1.80,2.70,24,64.80,9.0,2.37,2018-12-28,0.375
4,INV-16607100031,12/28/2018,3540,Super Target T-0533 / Davenport,5225 Elmore Ave,Davenport,52807,POINT (-90.528585 41.573196),82,SCOTT,1701100,Temporary & Specialty Packages,420,MOET HENNESSY USA,1258,Glenmorangie Taster Pack,6,100,14.99,22.49,6,134.94,0.6,0.15,2018-12-28,0.100

In [6]:
df_17_22['dd_date'] = dd.to_datetime(df_17_22['Date'])

In [16]:
# create volume in liters
# df_17_22['volume'] = df_17_22['Bottle Volume (ml)']/1000

In [17]:
df_17_22['year'] = pd.Series([int(dt[-4:]) for dt in df_17_22['Date'] ])

ValueError: Not all divisions are known, can't align partitions. Please use `set_index` to set the index.

 master dataframe called transactions, which records the vendor number, store number, product (item number),
 transaction date, bottles sold, volume (either in gallons or in liters), sales amount.

In [18]:
df_transactions = df_17_22[['Vendor Number', 'Store Number','Item Number', 'Date','dd_date', 'Volume Sold (Liters)', 'Bottles Sold','Sale (Dollars)','State Bottle Cost','State Bottle Retail']]

In [19]:
df_transactions.compute().to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\df_transactions.csv')

In [7]:
df_17_22['dd_date'].dtype

dtype('<M8[ns]')

In [8]:
df_prod1 = df_17_22.sort_values(by=['dd_date']).drop_duplicates(['Item Number'],keep='last')

In [20]:
df_prod1.shape[0]

Delayed('int-f1e0c3c6-b229-41a0-8819-461f1d582fa7')

In [21]:
df_products = df_prod1[['Item Number', 'Item Description', 'Date', 'dd_date']]

In [22]:
df_products.compute().to_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\df_products.csv')

In [24]:
type(df_prod1)
df_prod1.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),dd_date
68666,INV-02503200001,01/03/2017,2590,Hy-Vee Food Store #5 / Cedar Rapids,3235 Oakland Road NE,Cedar Rapids,52402,POINT (-91.658105 42.010971),57,LINN,...,Galliano L'Autentico,12,750,19.05,28.58,12,342.96,9.00,2.38,2017-01-03
75823,INV-02529800017,01/04/2017,5237,World Liquor & Tobacco + Vape,"606, N 15th St",Fort Dodge,50501,POINT (-94.17795 42.512182),48,Iowa,...,Hennessy Master Blender's Selection,12,375,22.49,33.74,1,33.74,0.38,0.10,2017-01-04
105163,INV-02540000018,01/04/2017,5351,Downtown Liquor,1203 5th St.,Sioux City,51101,POINT (-96.394671 42.495324),97,WOODBURY,...,Master's Gin,6,750,17.17,25.76,1,25.76,0.75,0.20,2017-01-04
92800,INV-02542600017,01/04/2017,4025,Karam Kaur Khasriya Llc,702 13th St,Belle Plaine,52208,POINT (-92.277759 41.897052),6,BENTON,...,Indian Summer,6,750,15.85,23.78,1,23.78,0.75,0.20,2017-01-04
87490,INV-02561300003,01/05/2017,2190,"Central City Liquor, Inc.",1460 2ND AVE,Des Moines,50314,POINT (-93.619787 41.60566),77,POLK,...,Merrylegs Genever Style Gin,12,750,19.00,28.50,24,684.00,18.00,4.76,2017-01-05

In [45]:
df_prod1.tail(5)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),dd_date,volume
169624,INV-45116500001,02/28/2022,5651,Super Quick Mart / Windsor Heights,7690 Hickman Rd,Windsor Heights,50324,POINT (-93.722436 41.614669),77,Polk,1012300,Single Malt Scotch,260,DIAGEO AMERICAS,905426,HA Lagavulin Distillers Edition,6,750,59.99,89.99,1,89.99,0.75,0.19,2022-02-28,0.75
169625,INV-45125300017,02/28/2022,2647,Hy-Vee #7 / Cedar Rapids,5050 Edgewood Rd,Cedar Rapids,52411,POINT (-91.701581 42.030129),57,LINN,1011600,Straight Rye Whiskies,260,DIAGEO AMERICAS,27026,Bulleit 95 Rye,12,1000,20.49,30.74,3,92.22,3.00,0.79,2022-02-28,1.00
181634,INV-45133000029,02/28/2022,5663,Lake View Redemption & Liquor Store,502 5th St,Lake View,51450,POINT (-95.051532 42.307787),81,SAC,1032200,Imported Flavored Vodka,370,PERNOD RICARD USA,34051,Absolut Raspberri,12,1000,14.99,22.49,12,269.88,12.00,3.17,2022-02-28,1.00
181671,INV-45123100095,02/28/2022,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14th St,Des Moines,50320,POINT (-93.596756 41.553941),77,POLK,1082000,Imported Cordials & Liqueurs,192,"Mast-Jagermeister US, Inc",65257,Jagermeister Liqueur,12,1000,16.50,24.75,96,2376.00,96.00,25.36,2022-02-28,1.00
181727,INV-45123700063,02/28/2022,2527,Hy-Vee Food Store #5 / Des Moines,1107 SE Army Post Rd,Des Moines,50315,POINT (-93.602514 41.526291),77,POLK,1022200,100% Agave Tequila,192,"Mast-Jagermeister US, Inc",88371,Teremana Blanco Tequila,6,750,14.94,22.41,6,134.46,4.50,1.18,2022-02-28,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181528,INV-45126300015,02/28/2022,5462,7Star Liquor & Tobacco Outlet,502 E Ave NW,Cedar Rapids,52405,POINT (-91.680323 41.977958),57,LINN,1081600,Whiskey Liqueur,421,SAZERAC COMPANY INC,100413,Fireball Cinnamon Whiskey Party Bucket,1,50,51.60,77.40,1,77.40,0.05,0.01,2022-02-28,0.05
169694,INV-45118700017,02/28/2022,2625,Hy-Vee Wine & Spirits #2 / Davenport,3301 W Kimberly Rd,Davenport,52804,NaN,82,SCOTT,1011100,Blended Whiskies,260,DIAGEO AMERICAS,25608,Seagrams 7 Crown,6,1750,12.96,19.44,6,116.64,10.50,2.77,2022-02-28,1.75
169696,INV-45130100002,02/28/2022,3806,Target Store T-1901 / Wdm,5405 Mills Civic Pkwy,West Des Moines,50266,POINT (-93.779582 41.559274),77,POLK,1011200,Straight Bourbon Whiskies,065,Jim Beam Brands,16685,Basil Hayden Toast,6,750,25.00,37.50,6,225.00,4.50,1.18,2022-02-28,0.75
169670,INV-45123100088,02/28/2022,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14th St,Des Moines,50320,POINT (-93.596756 41.553941),77,POLK,1081600,Whiskey Liqueur,421,SAZERAC COMPANY INC,67267,Yukon Jack,12,1000,11.75,17.63,12,211.56,12.00,3.17,2022-02-28,1.00
189106,INV-45147800008,02/28/2022,5620,Casey's General Store #2874 / Riceville,208 W Main St,Riceville,50466,POINT (-92.55645 43.363838),45,HOWARD,1031100,American Vodkas,626,JDSO INC / Red Boot Distillery,36873,Blue Ox Vodka,12,750,3.41,5.12,12,61.44,9.00,2.37,2022-02-28,0.75

toy test

In [48]:

df = pd.DataFrame({'item_no': [1,1,1,1,2,2,2,2], 'descr': ['A','B','C','D','E','F','G','H'], 
                   'date_str': ['1/20/2022','1/30/2022','2/1/2022','2/28/2022','1/5/2022','1/21/2022','2/2/2022','1/3/2022']})
print(df)

   item_no descr   date_str
0        1     A  1/20/2022
1        1     B  1/30/2022
2        1     C   2/1/2022
3        1     D  2/28/2022
4        2     E   1/5/2022
5        2     F  1/21/2022
6        2     G   2/2/2022
7        2     H   1/3/2022

In [49]:
df['date'] = pd.to_datetime(df['date_str'])

In [50]:
df

   item_no descr   date_str       date
0        1     A  1/20/2022 2022-01-20
1        1     B  1/30/2022 2022-01-30
2        1     C   2/1/2022 2022-02-01
3        1     D  2/28/2022 2022-02-28
4        2     E   1/5/2022 2022-01-05
5        2     F  1/21/2022 2022-01-21
6        2     G   2/2/2022 2022-02-02
7        2     H   1/3/2022 2022-01-03

In [51]:
df.sort_values(by=['date']).drop_duplicates(['item_no'],keep='last')

   item_no descr   date_str       date
6        2     G   2/2/2022 2022-02-02
3        1     D  2/28/2022 2022-02-28