In [ ]:
how to set values equal to a constant
how to do iff then else

In [6]:
# importing the module
import pandas as pd
  
# creating the DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3']})
display('df1:', df1)
df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'], 
                    'D': ['D0', 'D1', 'D2', 'D3']})
display('df2:', df2)
  
# concatenating
display('After concatenating:')
display(pd.concat([df1, df2],
                  axis = 1))

'df1:'

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

'df2:'

    C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

'After concatenating:'

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [5]:
2 + 5*5

27

In [3]:
5 - 1.96*5

-4.800000000000001

In [4]:
5 + 1.96*5

14.8

In [1]:
5 - 1.96*2

1.08

In [2]:
5 + 1.96*2

8.92

In [1]:
(80 + 90)/(80 + 90 + 5 + 25)

0.85

In [2]:
90/(90 + 5)

0.9473684210526315

In [3]:
80/(80 + 25)

0.7619047619047619

In [5]:
import math
math.exp(6.74) * 1000

845560.7358510367

In [5]:
import sqlite3
sqlite3.connect('pythonsqlite.db')

In [2]:
import sqlite3

conn = sqlite3.connect('test_database') 
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
          
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([product_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
                     
conn.commit()

In [3]:
import sqlite3

conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   
c.execute('''
          INSERT INTO products (product_id, product_name)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')

c.execute('''
          INSERT INTO prices (product_id, price)

                VALUES
                (1,800),
                (2,200),
                (3,300),
                (4,450),
                (5,150)
          ''')

conn.commit()

In [4]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   
c.execute('''
          SELECT
          a.product_name,
          b.price
          FROM products a
          LEFT JOIN prices b ON a.product_id = b.product_id
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])
print (df)

  product_name  price
0     Computer    800
1      Printer    200
2       Tablet    300
3         Desk    450
4        Chair    150