In [1]:
import pandas as pd
import numpy as np

In [7]:
(.10 * .80) /((.10 *.80) + (.90 * .20)) = .31

0.30769230769230776

In [8]:
(.90 * .20) / ((.90 *.20) + (.10 *.80))

0.6923076923076924

In [1]:
.10 * .80

0.08000000000000002

In [2]:
 (.90 * .80)

0.7200000000000001

In [3]:
0.08/(0.08 + 0.72)

0.1

In [6]:
0.72/(.72 + 0.08)

0.9

In [5]:
(.10 *.80)

0.08000000000000002

In [4]:
(.90 * .80)

0.7200000000000001

In [3]:
cdtype ={'Zip_Code':str}

In [6]:
zips_in_iowa = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\census data\zip codes in Iowa 2022 csvData.csv',dtype={'zip':str})

In [4]:
stores_per_zip = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\liquor_2021\stores_in_zips.csv',dtype=cdtype,index_col=0)

In [5]:
stores_per_zip.head()

  Zip_Code  number_of_stores
0    50002                 2
1    50003                 5
2    50005                 1
3    50006                 2
4    50008                 1

In [10]:
post_office_db = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\zip_code_database from post office.csv',dtype={'zip':str})

In [11]:
post_office_db.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,00501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,00544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,00601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,00602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,00603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [12]:
post_office_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42724 entries, 0 to 42723
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   zip                       42724 non-null  object
 1   type                      42724 non-null  object
 2   decommissioned            42724 non-null  int64
 3   primary_city              42724 non-null  object
 4   acceptable_cities         9287 non-null   object
 5   unacceptable_cities       11666 non-null  object
 6   state                     42724 non-null  object
 7   county                    41799 non-null  object
 8   timezone                  41926 non-null  object
 9   area_codes                39698 non-null  object
 10  world_region              333 non-null    object
 11  country                   42650 non-null  object
 12  latitude                  42724 non-null  float64
 13  longitude                 42724 non-null  float64
 14  irs_estimated_population  42724 non-null  int64
dtypes: float64(2), int64(2), object(11)
memory usage: 4.9+ MB