In [1]:
import sqlite3

In [5]:
conn = sqlite3.connect('employee.db')
c = conn.cursor()

# c.execute("""CREATE TABLE employees(
# first text, last text, pay integer
# )""")

# c.execute("INSERT INTO employees VALUES('Corey','Schafer',50000)")

c.execute("SELECT * FROM employees WHERE last ='Schafer'")
print(c.fetchall())

conn.commit()
conn.close()

[]

In [6]:
import pandas as pd
import dask.dataframe as dd
df = pd.DataFrame([ {'i':i, 's':str(i)*2 } for i in range(4) ])
ddf = dd.from_pandas(df, npartitions=2)
ddf

Dask DataFrame Structure:
                   i       s
npartitions=2
0              int64  object
2                ...     ...
3                ...     ...
Dask Name: from_pandas, 2 tasks

In [8]:
from dask.utils import tmpfile
from sqlalchemy import create_engine
with tmpfile() as f:
    db = 'sqlite:///%s' %f
    ddf.to_sql('test', db)
    engine = create_engine(db, echo=False)
    result = engine.execute("SELECT * FROM test").fetchall()
result

[(0, 0, '00'), (1, 1, '11'), (2, 2, '22'), (3, 3, '33')]